@{
}

<style>
    body {
        background-image: none !important;
    }
    #wrapper {
        background: rgba(20,45,54,1);
        background: -moz-linear-gradient(top, rgba(20,45,54,1) 0%, rgba(20,30,34,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(20,45,54,1)), color-stop(100%, rgba(20,30,34,1)));
        background: -webkit-linear-gradient(top, rgba(20,45,54,1) 0%, rgba(20,30,34,1) 100%);
        background: -o-linear-gradient(top, rgba(20,45,54,1) 0%, rgba(20,30,34,1) 100%);
        background: -ms-linear-gradient(top, rgba(20,45,54,1) 0%, rgba(20,30,34,1) 100%);
        background: linear-gradient(to bottom, rgba(20,45,54,1) 0%, rgba(20,30,34,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#142d36', endColorstr='#141e22', GradientType=0 );
    }
    
    /*.boxOrderNo {
        max-height: 52px;
        line-height: 52px;
    }*/

    .boxHour {
        max-height: 65px;
        line-height: 65px;
        font-size: 56px;
        padding: 0 !important;
    }

    .boxQtyHeader {
        width: 100%;
        height: 30px;
        margin-top: 0px;
        line-height: 28px;
        text-align: center;
        color: #ffffff82;
        background-color: rgba(0,128,128,0.23);
        border-top: 1px solid #115f65;
    }

    .boxQty {
        font-size: 53px;
        line-height: 65px;
        text-align: center;
    }
    .orderBox {
        height: 180px;
        margin: 5px 5px;
        color: #b1c2d2;
        /*background-color: rgba(0, 188, 255, 0.04);*/
        background: rgba(0,20,26,0.3);
        background: -moz-linear-gradient(top, rgba(0,20,26,0.3) 0%, rgba(0,0,0,0.25) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,20,26,0.3)), color-stop(100%, rgba(0,0,0,0.25)));
        background: -webkit-linear-gradient(top, rgba(0,20,26,0.3) 0%, rgba(0,0,0,0.25) 100%);
        background: -o-linear-gradient(top, rgba(0,20,26,0.3) 0%, rgba(0,0,0,0.25) 100%);
        background: -ms-linear-gradient(top, rgba(0,20,26,0.3) 0%, rgba(0,0,0,0.25) 100%);
        background: linear-gradient(to bottom, rgba(0,20,26,0.3) 0%, rgba(0,0,0,0.25) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00141a', endColorstr='#000000', GradientType=0 );
    }
    .orderBoxLite {
        height: 100px;
        background-color: rgba(255, 255, 255, 0.05);
        color: #cecece;
    }
        .orderBoxLite .boxQtyHeader {
            background-color: #ffffff1f;
            border-top: unset;
        }
    .boxOrderNo {
        height: 30px;
        max-height: 30px;
        line-height: 27px;
        color: #5f99a0;
    }
    .boxBlock {
        float: left;
        overflow: hidden;
        min-width: 25px;
        min-height: 25px;
        padding: 2px 5px;
        text-align: center;
    }
    .statusBlock {
        height: 25px;
        width: 100%;
        margin-top: 5px;
        text-align: center;
        background-color: rgba(41, 41, 41, 0.6);
    }
    .boxState {
        width: 100%;
        vertical-align: middle;
        text-align: center;
        border-left: 1px solid #00000030;
        border-bottom: 1px solid #00000038;
        color: #fdfdfd8a;
        background-image: radial-gradient(#142931, #14293100);
    }
    .boxStatus1 {
        height: 60px;
        font-size: 18px;
        line-height: 60px;
    }
    .boxStatus2 {
        height: 30px;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
    }
    .boxStatus3 {
        height: 20px;
        font-size: 14px;
        line-height: 20px;
    }
    .boxStatus4 {
        height: 30px;
        width: 50% !important;
        float: left;
        font-size: 14px;
        line-height: 30px;
    }
    .boxStatusTitle {
        height: 23px;
        width: 100%;
        line-height: 20px;
        padding-top: 2px;
        background-color: #26635136;
        border-bottom: 1px solid #00000030;
        border-left: 1px solid #00000030;
        text-align: center;
        font-size: 15px;
        color: #768586;
    }
    .stateBox {
        float: left;
        margin-left: 5px;
    }
    .stateDetail {
        height: 20px;
        width: 50%;
        margin-top: 0px;
        float: left;
        text-align: center;
        border: 1px solid #00000030;
    }
    .state0 {
        /*background-color: rgba(97, 122, 132, 0.09);
        border: 5px solid gray;*/
        background-image: radial-gradient(#54747d, #54747d88);
        font-weight: bold;
        color: #0f1b1fb5;
    }
        /*.state0 div {
            margin-top: -4px;
        }*/
    .state10 {
        /*background-color: #a78927;*/
        /*color: #382c06;*/
        background-image: radial-gradient(#a78927, #a7892788);
        font-weight: bold;
        color: #312600C7;
    }
    .state50 {
        /*background-color: #0bc590;*/
        background-image: radial-gradient(#0bc590, #0bc59088);
        font-weight: bold;
        color: #01211894;
    }
    .state90 {
        /*background-color: #b52945;
        color: #eac6cd;*/
        background-image: radial-gradient(#b52945, #b5294588);
        font-weight: bold;
        color: #eac6cdC7;
    }
    .fntSM {
        font-size: 22px;
    }
    .fntMD{
        font-size: 30px;
    }
    .fntBIG {
        font-size: 56px;
    }
    .boxPNC {
        max-height: 65px;
        line-height: 65px;
        font-size: 56px;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .brd1{
        border: 0px solid gray;
    }
    .brd2 {
        border: 0px solid pink;
    }
    .brd3 {
        border: 0px solid #4cff00;
    }
    .pdlr0{
        padding-left: 0;
        padding-right: 0;
    }
    .pdl0 {
        padding-left: 0;
    }
    .pdr0 {
        /*padding-right: 0;*/
    }
    .pdlr3 {
        padding-left: 3px;
        padding-right: 3px;
    }
    .brdr1 {
        border-right: 1px solid #00000030;
    }
    .brdt1 {
        border-top: 1px solid #629da24f;
    }
    .brdb1 {
        border-bottom: 1px solid #00000030;
    }
    .rowmg0{
        /*margin: 0;*/
    }
    #header div {
        display: inline-block
    }
    
    .headerRow {
        height: 50px;
    }
    .headerLeft {
        padding-right: 0px;
        padding-top: 2px;
        height: 100%;
    }

    .headerMid {
        font-family: 'DigitalClock';
        font-size: 59px;
        padding: 0;
        margin-top: -20px;
        color: white;
        /*position: absolute;*/
    }

    .headerRight {
        padding-left: 0px;
        height: 100%;
        color: white;
    }
    .logoMD {
        width: 200px;
        height: 45px;
        background-repeat: no-repeat !important;
    }
    .separator {
        width: 100%;
        height: 2px;
        background-color: #53647b;
        margin-bottom: 15px;
    }
</style>

<section id="rtvHeader" class="">
    <div class="row headerRow">
        <div class="col-4 headerLeft">
            <div class="logoMD clickable" style="background-image: url(@Url.Content("~/Content/Images/logoElectrolux_white.png")) !important"></div>
        </div>
        <div class="col-2 headerLeft">
            <div class="headerMid" id="actualTime"></div>
        </div>
        <div class="col-2 headerLeft">
            <span id="lastUpdate"></span>
        </div>
        <div class="col-4 headerRight">
            <div class="" style="font-size: 40px; float: right;">
                <span>LINIA: </span><span id="headerTitle">@ViewBag.Line</span>
            </div>
        </div>
    </div>
    <div class="separator"></div>
</section>

@*<div class="row">
    <div class="col-12">
        <div id="header" style="">;
            <div>Linia:</div>
            <div id="currentLine">@ViewBag.Line</div>
            <div>Czas:</div>
            <div id="actualTime"></div>
            <div>Ostatnia aktualizacja:</div>
            <div id="lastUpdate"></div>
        </div>
    </div>
</div>*@

<div class="row rowNM" id="orders">
</div>


<script type="text/javascript">

    var orderCount = 12;
    var line = @Html.Raw(Json.Encode(ViewBag.Line));

    $(document).ready(function () {
        openFullscreen();
        console.log("Welcome in schedule Monitor");
        InitScheduleMonitor();

        //RefreshScheduleMonitor();
        Thread(30000);

        var x2 = setInterval(function () {
            $("#actualTime").text(moment(Date()).format("HH:mm:ss"));
        }, 1000);
    });

    function Thread(interval) {
        RefreshScheduleMonitor();
        var x = setInterval(function () {
            RefreshScheduleMonitor();
        }, interval);
    }
    function InitScheduleMonitor() {
        $("#orders").html("");
        for (i = 0; i < orderCount; i++) {

            $("#orders").append('<div class="col-6 colNP" id="orderBox_' + i + '">');
            if (i < 4) {
                LoadOrderLiteBoxes("#orderBox_" + i);
            }
            else {
                LoadOrderBoxes("#orderBox_" + i);
            }
        }
    }
    function LoadOrderBoxes(selector) {
        $.get("/PRD/ScheduleMonitor/IndexOrder?index=" + i, function (html) {
            $(selector).append(html);
        });
    }
    function LoadOrderLiteBoxes(selector) {
        $.get("/PRD/ScheduleMonitor/IndexOrderLite?index=" + i, function (html) {
            $(selector).append(html);
        });
    }

    $.fn.removeClassPrefix = function (prefix) {
        this.each(function (i, el) {
            var classes = el.className.split(" ").filter(function (c) {
                return c.lastIndexOf(prefix, 0) !== 0;
            });
            el.className = $.trim(classes.join(" "));
        });
        return this;
    };

    function RefreshScheduleMonitor() {
        console.log("Refresh...");
        var filter = {};
        filter.StartDate = new moment(Date()).format('YYYY-MM-DD HH:mm:ss'); //"2019-01-18 0:00"; //
        filter.Line = line;
        var scheduleJson = new JsonHelper().GetPostData(
            "/PRD/ScheduleMonitor/GetSchedule",
            filter
        );

        scheduleJson.done(function (data) {
            //console.log(data);
            $("#lastUpdate").text(moment(Date()).format("HH:mm:ss"));

            for (i = 0; i < orderCount; i++) {
                $("#orderBox_" + i + " .boxBlock").fadeOut(10);

                if (data[i] != null) {
                    //console.log("data");
                    //console.log(data[i]);
                    $("#orderBox_" + i).find(".boxOrderNo").html(SplitText(data[i].OrderNo, 3));
                    $("#orderBox_" + i).find(".boxPNC").html(SplitText(data[i].PNC, 3));
                    $("#orderBox_" + i).find("#date").html(moment(data[i].StartDate).format("ddd, DD-MM"));
                    $("#orderBox_" + i).find(".boxHour").html(moment(data[i].StartDate).format("HH:mm"));
                    $("#orderBox_" + i).find("#QtyPlanned").html(data[i].QtyPlanned);
                    $("#orderBox_" + i).find("#QtyIn").html(data[i].QtyIN);
                    $("#orderBox_" + i).find("#QtyOut").html(data[i].QtyOUT);

                    if (data[i].QtyIN < 1) {
                        //console.log("qty in < 1");
                        $("#orderBox_" + i).find("#QtyIn").css("color", "rgba(255,255,255,0.3)");
                    }
                    else {
                        $("#orderBox_" + i).find("#QtyIn").css("color", "#ffffff");
                    }
                    if (data[i].QtyOUT < 1) {
                        $("#orderBox_" + i).find("#QtyOut").css("color", "#rgba(255,255,255,0.3)");
                    }
                    else {
                        $("#orderBox_" + i).find("#QtyOut").css("color", "#ffffff");
                    }

                    RefreshStatuses(i, data);
                }
                else {
                    //console.log("data null");
                    //console.log(data[i]);
                    $("#orderBox_" + i).find(".boxOrderNo").html("");
                    $("#orderBox_" + i).find(".boxPNC").html("");
                    $("#orderBox_" + i).find("#date").html("");
                    $("#orderBox_" + i).find(".boxHour").html("--:--");
                    $("#orderBox_" + i).find("#QtyPlanned").html("");
                    $("#orderBox_" + i).find("#QtyIn").html("");
                    $("#orderBox_" + i).find("#QtyOut").html("");
                }

                $("#orderBox_" + i + " .boxBlock").fadeIn(10);
            }
        });
    }
    function RefreshStatuses(i, data) {
        $("#orderBox_" + i).find("#stateMAGA").html("");
        $("#orderBox_" + i).find("#stateMAGB").html("");
        $("#orderBox_" + i).find("#stateTECHINNERDOO").removeClassPrefix("state");
        $("#orderBox_" + i).find("#stateTECHOUTERDOO").removeClassPrefix("state");
        $("#orderBox_" + i).find("#stateTECHTUB").removeClassPrefix("state");
        $("#orderBox_" + i).find("#stateTECHSIDEPANE").removeClassPrefix("state");
        $("#orderBox_" + i).find("#statePKD").removeClassPrefix("state");
        $("#orderBox_" + i).find("#statePKG").removeClassPrefix("state");
        $("#orderBox_" + i).find("#statePP").removeClassPrefix("state");
        $("#orderBox_" + i).find(".infoAnc").text('');
        $("#orderBox_" + i).find(".infoAncName").text('');
        $("#orderBox_" + i).find(".infoAncQty").text('');
        $("#orderBox_" + i + " .StatusInfoExtra").text("");

        if (data[i].Statuses != null) {
            var statusName = "";
            var statusInfo = "";
            var statusCount = 0;
            var el;

            for (k = 0; k < data[i].Statuses.length; k++) {
                statusName = data[i].Statuses[k].StatusName;
                statusInfo = data[i].Statuses[k].StatusInfoExtra2;

                if (statusName == "MAGA" || statusName == "MAGB") {
                    el = $("#orderBox_" + i).find("#state" + statusName);
                    exists = $(el).find("div:contains('" + data[i].Statuses[k].StatusInfo + "')");

                    if (exists.length == 0) {

                        text = '';
                        if (data[i].Statuses[k].StatusState == 0) {
                            text = '<div style="font-size: 38px;padding-top:10px;" class="fas fa-print"></i>';
                        }
                        else if (data[i].Statuses[k].StatusState == 10 && data[i].Statuses[k].StatusInfo == "") {
                            text = '<div style="font-size: 38px;padding-top:10px;" class="fas fa-dolly"></i>';
                        }
                        else {
                            text = data[i].Statuses[k].StatusInfo;
                        }

                        $(el).append(
                            '<div class="boxState state' + data[i].Statuses[k].StatusState + '">' +
                            PutStatus(text) +
                            '</div>'
                        );
                    }
                    else {
                        $(exists).addClass('state' + data[i].Statuses[k].StatusState);
                    }

                    //dodaj info o kodzie, którego brakuje
                    if (data[i].Statuses[k].StatusState == 90) {
                        $("#orderBox_" + i).find(".infoAnc").text(data[i].Statuses[k].StatusInfoExtra);
                        $("#orderBox_" + i).find(".infoAncName").text(data[i].Statuses[k].StatusInfoExtra2);
                        $("#orderBox_" + i).find(".infoAncQty").text(data[i].Statuses[k].StausInfoExtraNumber);
                    }

                    //dopasuj klasę do ilości statusów
                    var count = $(el).find(".boxState").length;
                    $(el).find(".boxState").removeClass("boxStatus*");
                    $(el).find(".boxState").addClass("boxStatus" + count);
                }
                else {
                    //console.log(statusInfo);
                    $("#orderBox_" + i).find("#state" + statusName + statusInfo).addClass('state' + data[i].Statuses[k].StatusState);
                    $("#orderBox_" + i).find("#state" + statusName + statusInfo + " .StatusInfoExtra").text("[" + data[i].Statuses[k].StausInfoExtraNumber + "]");
                }
            }
        }
    }
    function PutStatus(text = '') {
        return "<div>" + text + "</div>"
    }
    function SplitText(text, chars) {
        rText = "";
        for (j = 0; j < text.length; j += chars) {
            rText += text.substring(j, j + chars);
            rText += " ";
        }
        return rText;
    }



</script>
