@model int
@{
Layout = null;
}

<div class="orderBox">
    <div class="row rowNM brdb1">
        <div class="colNP brdt1" style="width: 60%;">
            @*DATA, GODZINA, ORDER, PNC*@
            <div class="row rowNM" style="height: 96px; max-height: 96px;">
                <div class="colNP col-4 brdr1 brd2">
                    <div class="row rowNM">
                        <div class="colNP col-12 brd2" style="background-color: #ffffff0a;">
                            <div class="boxBlock brd1 fntSM boxOrderNo" id="date" >dzientyg</div>
                        </div>
                    </div>
                    <div class="row rowNM">
                        <div class="colNP col-12 brd2">
                            <div class="boxBlock brd1 boxHour" style="width: 100%;">00:0@(Model)</div>
                        </div>
                    </div>
                </div>
                <div class="colNP col-8 brdr1 brd2">
                    <div class="row rowNM">
                        <div class="colNP col-12 brd2" style="background-color: #ffffff0a;">
                            <div class="boxBlock brd1 fntMD boxOrderNo">000 000 000 @(Model.ToString())</div>
                        </div>
                    </div>
                    <div class="row rowNM">
                        <div class="colNP col-12 brd2">
                            <div class="boxBlock brd1 boxPNC">911 000 0@(Model.ToString())0</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*ILOŚCI*@
        <div class="colNP brd3" style="width: 40%;">
            <div class="row rowNM" style="margin-top: 0px;">
                <div class="colNP col-4 brdr1">
                    <div class="boxQtyHeader">PLAN</div>
                </div>
                <div class="colNP col-4 brdr1">
                    <div class="boxQtyHeader">WEJŚCIE</div>
                </div>
                <div class="colNP col-4 ">
                    <div class="boxQtyHeader">WYJŚCIE</div>
                </div>
            </div>
            <div class="row rowNM">
                <div class="colNP col-4 brdr1">
                    <div class="boxQty" id="QtyPlanned">00</div>
                </div>
                <div class="colNP col-4 brdr1">
                    <div class="boxQty" id="QtyIn">00</div>
                </div>
                <div class="colNP col-4 ">
                    <div class="boxQty" id="QtyOut">00</div>
                </div>
            </div>
        </div>
    </div>
    @*STATUSY*@
    <div class="row rowNM" style="height: 80px;">
        <div class="colNP" style="padding: 0px; width: 20%; float: left;">
            <div class="" style="height: 80px; width: 100%;padding-top: 20px;">
                <div class="row rowNM" style="color: #d22d4e; text-align: center;">
                    <div class="col-7 colNP">
                        <div class="row rowNM">
                            <div class="col-12 colNP" style="font-size: 19px; font-weight: bold; padding-top: 8px;">
                                <div class="infoAnc"></div>
                            </div>
                        </div>
                        <div class="row rowNM">
                            <div class="col-12 colNP" style="font-size: 15px;">
                                <div class="infoAncName"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 colNP" style="font-size: 43px;">
                        <div class="infoAncQty"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="colNP" style="width: 80%;margin-left:-1px;">
            <div class="row rowNM">
                <div class="col-2 colNP">
                    <div class="boxStatusTitle">MAG.A</div>
                    <div class="boxState boxStatus1" id="stateMAGA" style="height: 60px;"></div>
                </div>
                <div class="col-2 colNP">
                    <div class="boxStatusTitle">MAG.B</div>
                    <div class="boxState boxStatus1" id="stateMAGB" style="height: 60px;"></div>
                </div>
                <div class="col-2 colNP">
                    <div class="boxStatusTitle">TECHNOLOGIA</div>
                    <div class="boxState boxStatus2" id="stateTECHTUB">TUB <span class="StatusInfoExtra"></span></div>
                    <div class="boxState boxStatus2" id="stateTECHSIDEPANE">SP <span class="StatusInfoExtra"></span></div>
                </div>
                <div class="col-2 colNP">
                    <div class="boxStatusTitle">TECHNOLOGIA</div>
                    <div class="boxState boxStatus2" id="stateTECHINNERDOO">ID <span class="StatusInfoExtra"></span></div>
                    <div class="boxState boxStatus2" id="stateTECHOUTERDOO">OD <span class="StatusInfoExtra"></span></div>
                </div>
                <div class="col-2 colNP">
                    <div class="boxStatusTitle">PODM.KOSZA</div>
                    <div class="boxState boxStatus2" id="statePKD">DOLNY <span class="StatusInfoExtra"></span></div>
                    <div class="boxState boxStatus2" id="statePKG">GORNY <span class="StatusInfoExtra"></span></div>
                </div>
                <div class="col-2 colNP">
                    <div class="boxStatusTitle">PODM.PANELA</div>
                    <div class="boxState boxStatus1" id="statePP">PANEL <span class="StatusInfoExtra"></span></div>
                </div>
            </div>
            
            @*<div class="row rowNM">
            <div class="colNP col-12">
                <div id="statuses1"></div>
            </div>
        </div>
        <div class="row rowNM">
            <div class="colNP col-12">
                <div id="statuses2"></div>
            </div>
        </div>*@
        </div>
    </div>
</div>        



