@model int
@{
    Layout = null;
}

@*<div class="orderBox orderBoxLite">*@

@if (Model == 0)
{
    <div class="orderBox orderBoxLite" style="height: 32px; margin-bottom: 8px;">
        <div class="row rowNM brdb1">
            <div class="col-6">
                <div class="row">
                    <div class="colNP brdt1" style="width: 75%;">
                        @*DATA, GODZINA, ORDER, PNC*@
                        <div class="row rowNM" style="height: 30px; max-height: 30px;">
                            <div class="colNP col-4 brdr1 brd2">
                                <div class="row rowNM">
                                    <div class="colNP col-12 brd2">
                                        <div class="boxBlock brd1 fntSM boxHeader" style="width: 100%;">Godzina</div>
                                    </div>
                                </div>
                            </div>
                            <div class="colNP col-8 brdr1 brd2">
                                <div class="row rowNM">
                                    <div class="colNP col-12 brd2" style="background-color: #ffffff0a;">
                                        <div class="boxBlock brd1 fntSM boxHeader">PNC</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*ILOŚCI*@
                    <div class="colNP brd3" style="width: 25%;">
                        <div class="row rowNM" style="margin-top: 0px;">
                            <div class="colNP col-12 brdr1">
                                <div class="boxQtyHeader">PLAN</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3" style="height: 30px;">
                <div class="row">
                    <div class="col-12 colNP" style="margin-left:-1px; border-left: 2px solid rgba(0, 0, 0, 0.07);">
                        <div class="row rowNM">
                            <div class="col-4 colNP">
                                <div class="boxStatusTitle">WEJŚCIE</div>
                            </div>
                            <div class="col-4 colNP">
                                <div class="boxStatusTitle">WYJŚCIE</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<div class="orderBox orderBoxLite">
    <div class="row rowNM brdb1">
        <div class="col-6">
            <div class="row">
                <div class="colNP brdt1" style="width: 75%;">
                    @*DATA, GODZINA, ORDER, PNC*@
                    <div class="row rowNM" style="height: 52px; max-height: 52px;">
                        <div class="colNP col-4 brdr1 brd2">
                            <div class="row rowNM">
                                <div class="colNP col-12 brd2">
                                    <div class="boxBlock brd1 boxHour" style="width: 100%;">00:@(Model)</div>
                                </div>
                            </div>
                        </div>
                        <div class="colNP col-8 brdr1 brd2">
                            <div class="row rowNM">
                                <div class="colNP col-12 brd2">
                                    <div class="boxBlock brd1 boxPNC">911 000 0@(Model.ToString())</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*ILOŚCI*@
                <div class="colNP brdt1 brd3" style="width: 25%;">
                    <div class="row rowNM">
                        <div class="colNP col-12 brdr1">
                            <div class="boxQty" id="QtyPlanned">0</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3" style="height: 30px;">
            <div class="row">
                <div class="col-8 colNP brdt1" style="margin-left:-1px; border-left: 2px solid rgba(0, 0, 0, 0.07);">
                    <div class="row rowNM">
                        <div class="col-6 colNP brdr1">
                            <div class="boxQty" style="font-size: 28px;" id="QtyIn">0</div>
                        </div>
                        <div class="col-6 colNP brdr1">
                            <div class="boxQty" style="font-size: 28px;" id="QtyOut">0</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>










