@{
    //Layout = null;
}

<style>
    .jsgrid-cell.textPink {
        color: hotpink;
    }
</style>

<div class="row justify-content-center h-100 no-gutters flex-column">
    <div class="col-12">
        <div class="h-100 d-flex flex-column">
            <div class="row no-gutters">
                @{ Html.RenderAction("Index", "Config", new { area = "iLOGIS" }); }
            </div>
            <div class="row justify-content-center h-100 mh-100 flex-grow-1 mt-2 mb-0 no-gutters" style="overflow: auto;">
                <div class="col-12" id="workstationGrid">
                    Loading...
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Areas/iLOGIS/Views/PFEP/ChangeLogGrid.js"></script>
<script src="~/_ClientAppJS/MASTERDATA/WorkstationGrid.js"></script>
<script type="text/javascript">

    var workstationGrid = new WorkstationGrid("#workstationGrid");
    $(document).ready(function () {
        console.log("Resource config")
        workstationGrid.InitGrid();
        workstationGrid.RefreshGrid();
        SelectActiveMenuLink(@Html.Raw(Json.Encode(ViewContext.RouteData.Values["action"])));
    });

</script>