@using GridMvc.Html
@{
    ViewBag.Title = "Printer";
}

<div class="row justify-content-center h-100 no-gutters flex-column">
    <div class="col-12">
        <div class="h-100 d-flex flex-column">
            <div class="row no-gutters">
                @*@{ Html.RenderAction("Index"); }*@
            </div>
            <div class="row justify-content-center h-100 mh-100 flex-grow-1 mt-2 mb-0 no-gutters" style="overflow: auto;">
                <div class="col-12" id="printerGrid">
                    Loading...
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var printerGrid = new PrinterGrid("#printerGrid");
        $(document).ready(function () {
            console.log("Item config");
            printerGrid.InitGrid();
            printerGrid.RefreshGrid();
            @*SelectActiveMenuLink(@Html.Raw(Json.Encode(ViewContext.RouteData.Values["action"])));*@
        });
    </script>
}