@{
    ViewBag.Title = "Movement";
    var workstations = ViewBag.WorkstationIds;
}

<style>
    .card {
        background: rgba(0,0,0,0.4);
    }
    ::-webkit-input-placeholder { /* Edge */
      /*color: red !important;*/
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        /*color: red !important;*/
    }
    ::placeholder {
        /*color: red !important;*/
    }
    input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        /*color: #ff6a00 !important;*/
    }
    input:-moz-placeholder, textarea:-moz-placeholder {
        /*color: #ff6a00 !important;*/
    }
    .PopupWindow {
        width: 500px !important;
    }
    #warehousesContainer {
        max-height: 755px !important;
    }
    .WindowContent2{
        height: 100%;
        padding-top: 42px !important;
        margin-top: -42px;
    }
</style>

<div id="iLogisWmsMovement" class="h-100 d-flex flex-column">
</div>

<script id="MovementTemplate" type="x-tmpl-mustache">

    <div class="row mb-2">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="btn btn-danger btnAction" id="clearBarcode">RESETUJ</div>
                </div>
            </div>
        </div>
    </div>

    @*Barcode First STEP*@
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true">Wyszukaj</a>
                            <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="false">Skan</a>
                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-script" role="tab" aria-controls="nav-contact" aria-selected="false">Skrypt</a>
                            <a class="nav-item nav-link" id="nav-manual-tab" data-toggle="tab" href="#nav-manual" role="tab" aria-controls="nav-contact" aria-selected="false">Tryb ręczny</a>
                        </div>
                    </nav>
                    <div class="tab-content pt-3" id="nav-tabContent">
                        <div class="tab-pane fade  show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div id="MovementSearchStockUnit"></div>
                        </div>
                        <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div id="MovementScanStockUnit"></div>
                        </div>
                        <div class="tab-pane fade" id="nav-script" role="tabpanel" aria-labelledby="nav-contact-tab">
                            Wprowadz skrypt
                        </div>
                        <div class="tab-pane fade" id="nav-manual" role="tabpanel" aria-labelledby="nav-contact-tab">
                            Tryb ręczny został aktywowany
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4" id="MovementStockUnitInfo">
        </div>
    </div>
</script>

<script id="MovementStockUnitInfoTemplate" type="x-tmpl-mustache">
    @*Information of stock unit*@
    <div class="row no-gutters justify-content-center mb-2 ml-2 mr-2">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row no-gutters">
                        <fieldset>
                            <div class="row no-gutters mb-1">
                                <label class="col-5 col-form-label">Kod Artykułu:</label>
                                <div class="col-7">
                                    <input type="text" readonly="true" class="form-control" id="ItemCode" value="{{ StockUnit.ItemCode }}" />
                                </div>
                            </div>

                            <div class="row no-gutters mb-1">
                                <label class="col-5 col-form-label">Nazwa:</label>
                                <div class="col-7">
                                    <input type="text" readonly="true" class="form-control" id="ItemName" value="{{ StockUnit.ItemName }}" />
                                </div>
                            </div>

                            <div class="row no-gutters mb-1">
                                <label class="col-5 col-form-label">Grupa:</label>
                                <div class="col-7">
                                    <input type="text" readonly="true" class="form-control" id="ItemGroup" value="{{ StockUnit.ItemGroup }}" />
                                </div>
                            </div>

                            <div class="row no-gutters mb-1">
                                <label class="col-5 col-form-label">Nr. Seryjny</label>
                                <div class="col-7">
                                    <input type="text" readonly="true" class="form-control" id="SerialNumber" value="{{ StockUnit.SerialNumber }}" />
                                </div>
                            </div>

                            <div class="row no-gutters mb-1">
                                <label class="col-5 col-form-label">Ilość: </label>
                                <div class="col-7">
                                    <div class="row no-gutters">
                                        <div class="col-6">
                                            <input type="text" class="form-control" id="QtyToMove" value="{{ StockUnit.QtyToMove }}" />
                                        </div>
                                        <div class="col-4 pl-1">
                                            <input type="text" class="form-control" disabled id="UnitOfMeasure" data-UoM="{{ StockUnit.UnitOfMeasure }}" value="{{ StockUnit.UnitOfMeasure | ConvertUoM }}" />
                                            @*<select class="form-control " id="ddlUnitOfMeasure" placeholder="JM">
                                                <option value="1">szt</option>
                                                <option value="2">kg</option>
                                            </select>*@
                                        </div>
                                        <div class="col-2 pl-1">
                                            <div class="btn btn-warning w-100" id="btnChangeUoM" style="position: relative;">
                                                <i class="fas fa-list"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*Movement Type*@
                            <div class="row no-gutters pt-4">
                                <label class="col-5 col-form-label">Kod ruchu:</label>
                                <div class="col-7">
                                    <select class="form-control" id="ddlMovementType" placeholder="wybierz">
                                        <option value="311">311 - Movement</option>
                                        @*<option value="561">561 - Inventory +</option>
                                        <option value="562">562 - Inventory -</option>*@
                                    </select>
                                </div>
                            </div>


                            @*Source Location*@
                            <div class="row mt-3">
                                <div class="col-12">Pochodzenie</div>
                            </div>

                            <div class="row no-gutters form-group" style="margin-bottom: 0px;">
                                <div class="form-group col-3 pr-1">
                                    <label class="col-form-label">Kod magazynu: </label>
                                    <div>
                                        <input type="text" id="currentWarehouseCode" readonly="true" class="form-control" data-warehouseid="currentWarehouseCode" value="{{ StockUnit.WarehouseCode }}" />
                                    </div>
                                </div>
                                <div class="form-group col-6">
                                    <label class="col-form-label">Nazwa: </label>
                                    <div>
                                        <input type="text" id="currentWarehouse" readonly="true" class="form-control" data-warehouseid="currentWarehouse" value="{{ StockUnit.WarehouseName }}" />
                                    </div>
                                </div>
                                <div class="form-group col-3 pl-1">
                                    <label class="col-form-label">Lokacja:</label>
                                    <div>
                                        <input type="text" id="CurrenLocation" readonly="true" class="form-control" value="{{ StockUnit.WarehouseLocationName }}" />
                                    </div>
                                </div>
                            </div>

                            @*Destination location*@
                        <div class="row">
                            <div class="col-4">Przeznaczenie</div>
                            <div class="col-8">
                                <section id="cbDiscartSerialNumberGroup">
                                    <input type="checkbox" id="cbDiscartSerialNumber" class="" title="" style="height: 22px; width: 22px;">
                                    <label for="cbDiscartSerialNumber" class="" style="font-size: 14px;margin-top: 0px;margin-left: 10px;position: absolute;">Wyrzuć z lokacji (zniszcz numer seryjny)</label>
                                </section>
                            </div>
                        </div>
                            <div class="row no-gutters form-group" style="margin-bottom:0px;">
                                <div class="form-group col-3 pr-1">
                                    <label class="col-form-label">Kod magazynu:</label>
                                    <div class="row no-gutters">
                                        <div class="col-8">
                                            <input type="text" id="destWarehouseCode" class="form-control" data-warehouseid="{{DestinationLocation.WarehouseId}}" value="{{DestinationLocation.WarehouseCode}}" style="border-bottom-right-radius: 0px; border-top-right-radius: 0px;"/>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-control btn btn-primary" id="destinationWarehouseCode" data-warehouseId="{{DestinationLocation.WarehouseId}}" style="border-bottom-left-radius: 0px; border-top-left-radius: 0px;">
                                                ...
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-6">
                                    <label class="col-form-label">Nazwa:</label>
                                    <div class="form-control btn btn-primary" id="destinationWarehouse" data-warehouseId="{{DestinationLocation.WarehouseId}}">
                                        {{DestinationLocation.WarehouseName}}
                                    </div>
                                </div>
                                <div class="form-group col-3 pl-1">
                                    <label class="col-form-label">Lokacja:</label>
                                    <div>
                                        <input type="text" id="destinationLocation" data-locationid="{{DestinationLocation.Id}}" class="form-control" style="background-color:#3aa4ffd9" value="{{DestinationLocation.Name}}" inputmode="numeric" />
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-3">
                                    <section id="cbForceGroup" class="hidden">
                                        <input type="checkbox" id="cbForce" class="" title="Wymuś" style="height: 22px; width: 22px;">
                                        <label for="cbForce" class="" style="font-size: 20px;margin-top: -5px;margin-left: 10px;position: absolute;">Wymuś</label>
                                    </section>
                                </div>
                                <div class="col-3 offset-6">
                                    <div id="btnGetLocation" class="btn btn-block btn-default">Pobierz lokację</div>
                                </div>
                            </div>
                            <div class="row no-gutters justify-content-start">
                                <div class="col-3">
                                    <div id="btnExecute" class="btn btn-block btn-success">WYKONAJ</div>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="MovementSearchStockUnitTemplate" type="x-tmpl-mustache">
    <div class="row">
        <div class="col-12">
            <div class="formArea shadow" style="padding: 0;">
                <fieldset>
                    <div class="form-group row no-gutters" id="formGroup">
                        <div class="col-2">
                            <input type="text" class="form-control fitlerGrid" placeholder="Magazyn" id="warehouseCode">
                        </div>
                        <div class="col-2">
                            <input type="text" class="form-control fitlerGrid" placeholder="Lokacja" id="warehouseLocationCode">
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control fitlerGrid" placeholder="ItemCode" id="itemCode">
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control fitlerGrid" placeholder="SerialNumber" id="serialNumber">
                        </div>
                        <div class="col-2 btn btn-info form-control" id="searchButton">
                            Szukaj
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="stocksGrid" style=""></div>
        </div>
    </div>
</script>

<script id="MovementScanStockUnitTemplate" type="x-tmpl-mustache">
    <div class="row no-gutters justify-content-center mt-2">
        <div class="col-12">
            <label class="mb-2">Zeskanuj kod kreskowy lub QR</label>
        </div>
    </div>
    <div class="row no-gutters justify-content-center">
        <div class="col-8">
            <input type="text" id="barcode" class="form-control mb-2" placeholder="Kod kreskowy" inputmode="none" autocomplete="off" />
        </div>
        <div class="col-4 pl-2">
            <div class="btn btn-success btnTextWrap" id={{ BtnId }}>{{ BtnText }}</div>
        </div>
    </div>
</script>

<script id="UnitOfMeasureListTemplate" type="x-tmpl-mustache">
    <div id="UnitOfMeasureSelectorWrapper">
        <style>
            .UnitOfMeasureSelector {
                position: absolute;
                width: 100px;
                top: 50px;
                left: -52px;
                z-index: 9999;
                border-radius: 4px;
                border: 1px solid #224647;
                background-color: #132b33;
            }

            .UnitOfMeasureOption {
                border-bottom: 1px solid #224647;
                color: white;
            }
            .UnitOfMeasureOption:hover{
                color: lawngreen;
            }
        </style>
        <div class="UnitOfMeasureSelector p-2">
            {{#UnitOfMeasures}}
            <div class="row">
                <div class="col-12">
                    <div class="UnitOfMeasureOption" data-UoM="{{.}}">
                        {{ ..| ConvertUoM }}
                    </div>
                </div>
            </div>
            {{/UnitOfMeasures}}
        </div>
    </div>
</script>

<script src="~/_ClientAppJS/MASTERDATA/ItemAutocomplete.js"></script>
<script type="text/javascript">
    var movement = new Movement(@Html.Raw(Json.Encode(ViewBag.TemplateBarcode)));
    var stockLocationDetailsGrid = new StockLocationDetailsGrid("#stocksGrid");
    $(document).ready(function () {
        movement.Init();
        stockLocationDetailsGrid.InitGridExtended(540);
        stockLocationDetailsGrid.RefreshGrid();
    });

    $(document).on("click", "#searchButton", function () {
        let filters = {
            WarehouseCode: $("#warehouseCode").val(),
            WarehouseLocationName: $("#warehouseLocationCode").val(),
            ItemCode: $("#itemCode").val(),
            SerialNo: $("#serialNumber").val(),
        }
        console.log("filters");
        console.log(filters);
        stockLocationDetailsGrid.InitGridExtended(540);
        stockLocationDetailsGrid.RefreshGrid(filters);
    });

    function SelectStockUnit(id) {
        console.log("SelectStockUnit: " + id);
        movement.LoadDataByStockUnitId(id);
    }

    $(document).on("keypress", ".fitlerGrid", function (e) {
        console.log("keypress");
        var key = e.keyCode || e.which;
        if (key == 13) {
            $("#searchButton").click();
        }
    });

</script>

