
@{
    ViewBag.Title = "Picking List";
}
<style>
    #page-content-wrapper {
        padding: 0 !important;
    }

    html, body, #divPickingList {
        height: 500px;
    }

    .selectedPlatform {
        background-color: #28a745 !important;
        background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%) !important;
    }

    .alert-fixed {
        position: fixed;
        bottom: 5px;
        right: 25px;
        width: 300px;
        z-index: 999999;
        border-radius: 0;
    }

    .btn {
        width: 100%;
        border-radius: 0;
    }
</style>

<div class="row justify-content-center h-100 no-gutters flex-column" id="divPickingList">

</div>


<script type="text/javascript">
    var pickingListHelper = new PickingListHelper();
    var transporterList = new TransporterList(pickingListHelper);
    var pickingList = null;
    var pickingListItem = null;
    var pickingListLineFeed = null;
    var pickingListPlatform = null;
    var pickingListItemManage = null;
    var defaultTrolley = "";
    var platformsObjects = "";
    var keypadQtyPicked = new KeyPadDigitDoubleRows("#QtyPicked_", "#kaypad113",".");
    var keypadPlatform = new KeyPadDigitDoubleRows("#Platform_", "#kaypad114","P");
    var keypadLocation = new KeyPadDigitDoubleRowsWithoutClose("#PlatformPosition_", "#kaypad115", "L");

    $(document).ready(function () {
        console.log("PickingList INDEX. Deprecated?");
        $("#Loading").html(ShowLoadingSnippet());
        openFullscreen();
        transporterList.LoadTransporterList();
    });

    //$(document).keydown(function (e) {
    //    return false;
    //});

    //AKCJE PickingListSummary
    //$(document).on("click", "#btnExitSummary", function () {
    //    pickingList.LoadPickingLists(true);
    //});

    //$(document).on("click", "#btnGoToSummary", function () {
    //    pickingListItem.LoadPickingListSummaryView();
    //});
   
    //$(document).on("click", "#btnJumpToSummary", function () {
    //    if ($(".selectedRow").length == 0) {
    //        bootbox.alert("Wybierz Jedno z grupy zleceń");
    //    } else {
    //        var workOrderId = $(".selectedRow").attr("data-workorderid");
    //        var pickerId = $("#pickersNo").attr("data-pickId");
    //        var pickingListId = $(".selectedRow").attr("data-id");

    //        if (pickingListId > 0) {
    //            pickingListItem = new PickingListItem(pickingListHelper, pickerId, pickingListId, workOrderId);
    //            pickingListItem.LoadPickingListSummaryView()
    //        }
    //    }
    //});
    //AKCJE PickingListItems
    //$(document).on("click", "#btnGoToItemManage", function () {
    //    GoToPickingListItemManage();
    //});

    //function GoToPickingListItemManage(scannedBarcode) {
    //    
    //    if ($(".selectedRow").length == 0) {
    //        bootbox.alert("Kliknij wiersz");
    //    } else {
    //        if (scannedBarcode != "") {
    //            pickingListItemManage = new PickingListItemManage(pickingListHelper, pickingListItem, scannedBarcode);
    //        } else {
    //            pickingListItemManage = new PickingListItemManage(pickingListHelper, pickingListItem);
    //        }
    //        pickingListItemManage.LoadView();
    //    }
    //}
       
    //$(document).on("click", "#btnComplete", function () {
    //    $("#btnComplete").addClass("inputDisabled");
    //    let json = pickingListItem.SetPickingListStatus();
    //    json.done(function () {
    //        pickingList.LoadPickingLists(true);
    //    });
    //});
    //$(document).on("click", "#btnBackToPickingList", function () {
    //    let json = pickingListItem.SetPickingListStatus();
    //    json.done(function () {
    //        pickingList.LoadPickingLists(true);
    //    });
    //});
   
    $(document).on("click", ".PlatformName", function (event) {
        console.log("Function Click PlatformName");
        keypadLocation.Init();
        if ($(this).hasClass("disabled")) {
            console.log("Click for disabled Platform");
        } else {
            PlatformManage(this);
        }
    });

    var barcodeScannedData = "A";
    // Scan Detection
    //onScan.attachTo(document, {
    //    scanButtonKeyCode: "0",
    //    scanButtonLongPressTime: 500,
    //    timeBeforeScantest: 100,
    //    avgTimeByChar: 30,
    //    minLength: 3,
    //    suffixKeyCodes: [9, 13], // enter-key expected at the end of a scan
    //    prefixKeyCodes: [],
    //    ignoreIfFocusOn: false,
    //    stopPropagation: true,
    //    preventDefault: true,
    //    reactToKeydown: true,
    //    reactToPaste: true,
    //    singleScanQty: 1,
    //    onScan: function (sCode, iQty) {
    //        $("#consola").text('Scanned: ' + iQty + 'x ' + sCode);
    //        console.log('Scanned: ' + iQty + 'x ' + sCode); 
    //        var platformView = $("#selectedPlatformsTitle");
    //        var isPlatformHidden = $("#PlatformManage").hasClass("hidden");
    //        var isPickingListItemsView = $("#selectedPlatformsTitle").text() != "";
    //        var isPickingListItemManageView = $("#itemCode").text() != "";
    //        if (isPickingListItemsView && !isPickingListItemManageView && isPlatformHidden) {
    //            if (sCode.length > 3) {
    //                GoToPickingListItemManage(sCode);
    //            }
    //        } else if (isPickingListItemsView && !isPlatformHidden) {
    //            $("#PlatformPosition_").val(sCode);
    //        } else {
    //            pickingListItemManage.AssignScannedBarcode(sCode);
    //        }
    //    },
    //    onScanError: function (oDebug) {
    //        $("#consola2").text('err: ' + JSON.stringify(oDebug) );
    //        console.log(oDebug);
    //    }
    //});


    
    //Akcje PickingListLineFeed
    $(document).on("click", "#btnConfirmDelivery", function () {
        $("#btnConfirmDelivery").addClass("inputDisabled");
        if ($(".selectedRow").length == 0) {
            bootbox.alert("Kliknij wiersz");
            $("#btnConfirmDelivery").removeClass("inputDisabled");
        } else {
            let pickingListItemId = $(".selectedRow").attr("data-Id");
            console.log("Index.btnItemManage");
            pickingListLineFeed.ConfirmDelivery(pickingListItemId);
        }
    });


    

    //AKCJE PickingListItemManage
        
    $(document).on("focus", ".keyBoardEvent", function (event) {
        $('#pickersNo').hide();
        $(".btn-width").css("height", "40px");
        $(".btn-width").css("line-height", "30px");
    });

    $(document).on("blur", ".keyBoardEvent", function (event) {
        $('#pickersNo').show();
        $(".btn-width").css("height", "60px");
        $(".btn-width").css("line-height", "45px");
    });

    $(document).on("keyup", "#Barcode_", function () {
        console.log($(this).val());
        if (pickingListItemManage != null) {
            pickingListItemManage.ParseBarcode($(this).val());
        }
    });


</script>
