@{
    ViewBag.ShowRightPanel = 2;
    ViewBag.Title = "Instrukcje Pakowania";
}

@*<h2>Lista Instrukcji</h2>*@
    <div class="row" style="padding:5px 0;">
        <div class="col-md-12" id="externalPager">

        </div>
    </div>
    <div class="row" style="padding:5px 0;">
        <div class="col-12">
            <div id="jsGrid" style="max-width: 1400px;"></div>
        </div>
    </div>


<div id="sidebar-wrapper-right2">
    <div class="row">
        <div class="col-12">
            <div style="background-color: rgba(0, 0, 0, 0.02); height: 54px; text-align: center;
                                    line-height: 54px; font-size: 18px; font-weight: bold;
                                    border: 1px solid rgba(255, 255, 255, 0.1);">Akcje</div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-12">
            <span class="sidebarOpened">Wyszukaj po Nr Instrukcji Pakowania:</span>
            <span class="sidebarClosed hidden">Nr Inst:</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <input type="search" class="form-control" id="searchSAP">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div type="button" class="btn btn-default" id="btnSearch">
                <span class="icon fas fa-search"></span><span class="caption">Szukaj</span>
            </div>
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col-12">
            <label><span class="sidebarOpened">Wybrana instrukcja: </span><span id="selectedInstr">--</span></label>
        </div>
    </div>
    <div class="btn btn-default btnPacingIntrAction" id="btnPackingIntrNew"><span class="icon fas fa-plus"></span><span class="caption">Nowy</span></div><br />
    <div class="btn btn-default btnPacingIntrAction" id="btnPackingIntrEdit"><span class="icon fas fa-edit"></span><span class="caption">Edytuj</span></div><br />
    <div class="btn btn-primary btnPacingIntrAction" id="btnPackingIntrOpen"><span class="icon fas fa-eye glyphicon-edit"></span><span class="caption">Otwórz</span></div><br />
    <div class="btn btn-warning btnPacingIntrAction" id="btnPackingIntrCrct"><span class="icon fas fa-exclamation-triangle"></span><span class="caption">Zgłoś Poprawkę</span></div><br />
    <div class="btn btn-default btnPacingIntrAction" id="btnPackingIntrPDF"><span class="icon fas fa-file-pdf"></span><span class="caption">Pobierz PDF</span></div>
</div>
<style>
    .yellowColor {
        background-color: yellow;
    }

    .btnPacingIntrAction {
        margin: 5px;
        width: 160px;
    }

        .btnPacingIntrAction .fas {
            padding-left: 3px;
            padding-right: 3px;
        }

    #selectedInstr {
        width: 65px;
        padding: 5px;
        font-size: 18px;
        color: #548140;
    }

    #externalPager {
        display: inline-block;
    }

        #externalPager .dickens {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            border: 1px solid #ddd;
            margin: 0 4px;
        }

        #externalPager .jsgrid-pager-current-page {
            background-color: #4CAF50;
            color: white;
            border: 1px solid #4CAF50;
        }

        #externalPager span:hover:not(.jsgrid-pager-current-page) {
            background-color: #ddd;
        }

    .greenColor {
        background-color: limegreen;
    }

    .redColor {
        background-color: indianred;
    }
</style>
<script src="~/_ClientAppJS/MyScripts.js"></script>
<script type="text/javascript">
    var link = $('#BaseUrl').attr('href');
    //var dataToGrid;
    //var numberOfRecords;
    var selectedId = 0;
    
    var typeList = $.ajax({
            async: false,
            type: "GET",
            url: "PFEP/PackingInstruction/GetVersionTypes",
         }).responseJSON;
    

    var selectForTypeInstruction = new Array(
        { Text: "", Value: "3" },
        { Text: "ORG.", Value: "0" },
        { Text: "ZAST.", Value: "1"}
    );
    
    $(document).on("click", "#btnPackingIntrNew", function () {
        console.log("new");
            window.open('/PFEP/PackingInstruction/Edit/' + 0, '_blank');
    });
    $(document).on("click", "#btnPackingIntrEdit", function () {
        console.log("edit");
        console.log(selectedId);
        if(selectedId > 0)
        window.open('/PFEP/PackingInstruction/Edit/' + selectedId, '_blank');
    });
    $(document).on("click", "#btnPackingIntrOpen", function () {
        console.log("open");
        console.log(selectedId);
        if (selectedId > 0)
        window.open('/PFEP/PackingInstruction/Show/' + selectedId, '_blank');
        //Location.href = '/PFEP/PackingInstruction/Show/' + selectedId;
    });
    $(document).on("click", "#btnPackingIntrCrct", function () {
        console.log("correction");
        console.log(selectedId);
        if (selectedId > 0)
        window.open('/PFEP/PackingInstruction/Show/' + selectedId, '_blank');
        //Location.href = '/PFEP/PackingInstruction/AddCorrection/' + selectedId;
    });
    $(document).on("click", "#btnPackingIntrPDF", function () {
        console.log("pdf");
        console.log(selectedId);
        if (selectedId > 0)
        window.open('/PFEP/PackingInstruction/SavePDF/' + selectedId, '_blank');
        //Location.href = '/PFEP/PackingInstruction/SavePDF/' + selectedId;
    });

    $("#btnSearch").on("click", function () {
        $("#jsGrid").jsGrid("search");
    });

    function GetInstructions(filter) {
        var temp = $.Deferred();
        $.ajax({
            async: true,
            type: "GET",
            url: "PFEP/PackingInstruction/GetInstructions",
            data: filter,
            success: function (data) {
                temp.resolve(data);
            },
        });
        return temp.promise();
    };
    function filterPackInstrNrVal() {
        return $("#searchSAP").val();
    }

    jsGrid.fields.date = InitDateField();
    jsGrid.fields.CorrectionButton = InitCorrectionField(link);
    jsGrid.fields.PrintButton = InitPrintField(link);
    jsGrid.fields.ViewButton = InitViewField(link);
    PackingInstructionJsGridDefaults();


    $("#jsGrid").jsGrid({
        deleteConfirm: function (item) {
            return "Czy jesteś pewny, że chcesz usunąć instrukcję o nazwie klienta: " + item.ClientName + " ?";
        },
        controller: {
            loadData: function (filter) {
                console.log(filter);
                    return GetInstructions(filter);
            },
            deleteItem: function (item) {
                $.ajax({
                    async: false, data: item, type: "POST",
                    url: "PFEP/PackingInstruction/DeleteInstruction",
                })
            },
        },
        rowClass: function(item, itemIndex){
            if (item.NumberOfCorrections > 0) {
                return "yellowColor";
            }
        },
        rowClick: function (args) {
            selectedId = args.item.Id;
            $("#selectedInstr").text(selectedId);
            $(".highlight").toggleClass("highlight");
            this.rowByItem(args.item).toggleClass("highlight");
        },
        rowDoubleClick: function (args) {
            selectedId = args.item.Id;
            $("#selectedInstr").text(selectedId);
            $(".highlight").toggleClass("highlight");
            this.rowByItem(args.item).toggleClass("highlight");
            window.open('/PFEP/PackingInstruction/Show/' + selectedId, '_blank');
        },
        fields: [
            { name: "Id", title: "Nr Id", type: "text", width: 70 },
            { name: "PackageCode", title: "Nr opakowania", type: "text", width: 90, filterTemplate: "", filterValue: filterPackInstrNrVal, css: "hidden" },
            { name: "ClientName", title: "Nazwa Klienta", type: "text", width: 150 },
            { name: "ClientProfileCode", title: "Nr Wyrobu Klienta", type: "text", width: 200 },
            { name: "ProfileName", title: "Nazwa Profilu", type: "text", width: 200 },
            { name: "ProfileCode", title: "Nr SAP", type: "text", width: 200 },
            {
                name: "InstructionVersion", title: "Wersja", type: "select", items: typeList, valueField: "Value", textField: "Text", width: 80,
                itemTemplate: function (value) {
                    return typeList.find(x => x.Value === String(value)).Text;
                },
                editValue: function () {
                    return this.editControl.val();
                },
            },
            { name: "CreatedDate", title: "Data Utworzenia", type: "date", width: 100 },
            { name: "Examined", title: "Sprawdz ił QS", type: "checkbox", width: 60 },
            { name: "Confirmed", title: "Zatwie rdził", type: "checkbox", width: 60 },
            {
                type: "control",
                modeSwitchButton: false,
                editButton: false,
            }
        ]
    });
</script>