@model List<MDL_AP.Models.Reports.MainReport>

@{
    ViewBag.Title = "MainChartView";
}

<div class="mainChart" style="width:600px;">

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Chart.min.js"></script>  
    <script src="~/Scripts/Chart.PieceLabel.js"></script>
    <script type="text/javascript">
                var Dane =  @Html.Raw(Json.Encode(Model));
                var chartFontSize = $(".mainChart").width()/25;

                $('#myChart').remove();
                $('.mainChart').append('<canvas id="myChart"></canvas>');
                var ctx = $("#myChart");

                var pieOptions = {
                    segmentShowStroke: false,
                    onClick: function () {
                        alert("Nazwa : " + this.active[0]._model.label + " \n " +
                            "ID: " + this.active[0]._index + " \n" +
                            "Wartosc: " + this.active["0"]._chart.config.data.datasets[0].data[this.active[0]._index]  
                            );
                    },
                    animateScale: true,
                    pieceLabel: {
                        // mode 'label', 'value' or 'percentage', default is 'percentage'
                        mode: 'percentage',

                        // precision for percentage, default is 0, higher precision is 10
                        precision: 0,

                        // font size, default is defaultFontSize
                        fontSize: chartFontSize,

                        // font color, default is '#fff'
                        fontColor: '#fff',

                        // font style, default is defaultFontStyle
                        fontStyle: 'normal',

                        // font family, default is defaultFontFamily
                        fontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",

                        // draw label in arc, default is false
                        arc: false,

                        // position to draw label, available value is 'default', 'border' and 'outside'
                        // default is 'default'
                        position: 'border',

                        // format text, work when mode is 'value'
                        //format: function (value) {
                        //    return '$' + value;
                        //}
                    }
                }

                var dataToChart = {
                    labels: Dane.map(function (a) { return a.name }),
                    datasets: [
                        {
                            data: Dane.map(function (a) { return a.value}),
                            backgroundColor: Dane.map(function (a) { return a.color }),
                        }]
                };

                var myPieChart = new Chart(ctx, {
                    type: 'pie',
                    data: dataToChart,
                    options: pieOptions
                });

    </script>
}
