@using _MPPL_WEB_START.Areas._APPWEB.Models;
@using _MPPL_WEB_START.Areas._APPWEB.Models.Clients;
@{
    ViewBag.Title = "Konfiguracja Medium";
    Layout = null;
    ViewBag.ClientName = (_MPPL_WEB_START.Properties.Settings.Default.Client).Replace("_Staging", "");
    AppClientApbstract appClient = AppClient.GetClient(ViewBag.ClientName);
    MDL_BASE.Models.IMenuItem menuItem;
    int i = 0;
}


<style>
    .confMenu{
        margin: 0px;
    }
</style>

<div class="row" style="text-align: center;">

    @for (i = 0; i < MenuONEPRODEnergyConfig.MenuItem.Children.Length; i++)
    {

        menuItem = MenuONEPRODEnergyConfig.MenuItem.Children[i];

        <div class="col-12">
            <div class="confMenuContainer">
                

                @for (int j = 0; j < 8 && i + j < MenuONEPRODEnergyConfig.MenuItem.Children.Length; j++)
                {
                    menuItem = MenuONEPRODEnergyConfig.MenuItem.Children[i+j];

                    if ((menuItem.Name != "Home" && menuItem.Name != "Użytkownicy") && AppMenu.CheckAccess(menuItem, appClient, User))
                    {
                        <a href="@Url.Action(menuItem.HrefAction, menuItem.HrefController, new { area = menuItem.HrefArea })" class="confMenu">
                            <div class="confMenuIcon @menuItem.Class1"></div>
                            <div class="confMenuText">@menuItem.Name <br /> @menuItem.NameEnglish</div>
                        </a>
                    }
                }
                

                @{
                    i = i + 8;
                }
            </div>
        </div>
    }
</div>

<hr />

<script type="text/javascript">

    var BaseUrl = "/ONEPROD/"

</script>