@using MDL_ONEPROD.ComponentMes.Models
@model IList<MDL_ONEPROD.ComponentMes.Models.ScanItemViewModel>

@{
    Layout = null;
}

<style type="text/css">
    .pt10{
        padding-top:10px;
    }
    .pr{
        padding-right:5px;
    }

</style>
<div class="row no-gutters">
    <div class="col-12">
        <div class="=row">
            <div class="col-12">
                @foreach (var ScanItem in Model)
                {
                    <fieldset class="fieldsetProperty">
                        <div class="form-group row reportContent">
                            <div class="col-4 col-form-label">
                                <div class="row no-gutters">
                                    <div class="col-12">
                                        <span style="font-weight:700">Code:</span> <span id="itemCode"> @ScanItem.Code </span>
                                    </div>
                                    <div class="col-12">
                                        <span style="font-weight:700">Name:</span> @ScanItem.Name
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 pt10">
                                <input type="text" class="form-control inputBarcodeField" id="@ScanItem.AncId">
                            </div>
                            <div class="col-1 pt10">
                                <button type="submit" class="btn btn-primary btnClickFocus" id="@ScanItem.AncId">
                                    <span class="fas fa-barcode" style="width:50px;"></span>
                                </button>
                            </div>
                            <div class="col-1 Status pt10 ml-5 properItemCode" hidden>
                                <span class="statusIcon fas fa-times-circle"></span>
                            </div>
                            <div class="col-1 Status pt10 ml-5 wrongItemCode" hidden >
                                <span class="statusIcon fas fa-check-circle"></span>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-9" style="text-align:center">
                <div class="btn btn-lg btn-default" id="ConfirmCheckScanItemsSubmit" style=" width: 200px; height: 76px; margin-top: 15px; line-height: 55px; font-size: 40px;">
                    Zapisz
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

</script>


