<div class="dropdown">
    <div id="dLabel" class="dropdown-toggle" type="button" data-toggle="dropdown">
        <i class="glyphicon glyphicon-bell"></i>
    </div>
    <div class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">
        <div class="notification-heading">
            <h4 class="menu-title">Notifications</h4><h4 class="menu-title pull-right">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4>
        </div>
        <div class="notifications-wrapper">
            <a class="content" href="#">
                <div class="notification-item">
                    <img src="http://www.leapcms.com/images/100pixels1.gif">
                    <h4 class="item-title">Evaluation Deadline  <small> 1 day ago</small></h4>
                    <p class="item-info">Mr hassan has followed you!</p>
                </div>
            </a>
            <a class="content" href="#">
                <div class="notification-item">
                    <img src="http://www.leapcms.com/images/100pixels1.gif">
                    <h4 class="item-title">Evaluation Deadline  <small> 1 day ago</small></h4>
                    <p class="item-info">Marketing 101, Video Assignment</p>
                </div>
            </a>
            <a class="content" href="#">
                <div class="notification-item">
                    <img src="http://www.leapcms.com/images/100pixels1.gif">
                    <h4 class="item-title">Evaluation Deadline  <small> 1 day ago</small></h4>
                    <p class="item-info">Mr hassan has followed you!</p>
                </div>
            </a>
            <a class="content" href="#">
                <div class="notification-item">
                    <img src="http://www.leapcms.com/images/100pixels1.gif">
                    <h4 class="item-title">Evaluation Deadline  <small> 1 day ago</small></h4>
                    <p class="item-info">Mr hassan has followed you!</p>
                </div>
            </a>
            <a class="content" href="#">
                <div class="notification-item">
                    <img src="http://www.leapcms.com/images/100pixels1.gif">
                    <h4 class="item-title">Evaluation Deadline  <small> 1 day ago</small></h4>
                    <p class="item-info">Mr hassan has followed you!</p>
                </div>
            </a>
        </div>
    </div>
</div>