@{
    Layout = null;
}

<div class="row no-gutters photoLg">
    <div class="col-12 photoFrame"><div class="photo" id="prefix-1610120" data-prefixes="1610120"></div></div> @*SET OF FRONT CORNERS *@
</div>
<div class="row no-gutters photoLg">
    <div class="col-12 photoFrame"><div class="photo" id="prefix-1610140" data-prefixes="1610120"></div></div> @*WOODEN BAR *@
</div>
