@{
    Layout = null;
}

<div class="row no-gutters photoLg">
    <div class="col-12 photoFrame"><div class="photo" id="prefix-1610110" data-prefixes="1610110"></div></div> @*SET OF REAR CORNERS*@
</div>
<div class="row no-gutters photoLg">
    <div class="col-12 photoFrame"><div class="photo" id="prefix-1610150" data-prefixes="1610150"></div></div> @*WOODEN BAR*@
</div>
