@{
    Layout = null;
}

<div class="row no-gutters photoSmW">
    <div class="col-12 photoFrame"><div class="photo" id="prefix-0800010" data-prefixes="0800010"></div></div>
</div>
<div class="row no-gutters photoSmW">
    <div class="col-4 photoFrame"><div class="photo" id="prefix-1010370" data-prefixes="1010370"></div></div>
    <div class="col-4 photoFrame"><div class="photo" id="prefix-1010380" data-prefixes="1010380"></div></div>
    <div class="col-2 photoFrame"><div class="photo" id="prefix-1010160" data-prefixes="1010160"></div></div>
    <div class="col-2 photoFrame"><div class="photo" id="prefix-1010160" data-prefixes="0200012"></div></div>
</div>

<div class="row no-gutters photoSmW">
    <div class="col-2p4 photoFrame"><div class="photo" id="prefix-0600230" data-prefixes="0600230"></div></div>
    <div class="col-2p4 photoFrame"><div class="photo" id="prefix-0500220" data-prefixes="0500220"></div></div>
    <div class="col-2p4 photoFrame"><div class="photo" id="prefix-1010100" data-prefixes="1010100"></div></div>
    <div class="col-2p4">
        <div class="row no-gutters">
            <div class="col-12 photoFrame" style="height:50px;width:100%;">
                <div class="photo" id="prefix-1400220" data-prefixes="1400220"></div>
            </div>
            <div class="col-12 photoFrame" style="height:200px;width:100%;">
                <div class="photo" id="prefix-1400260" data-prefixes="1400260"></div>
            </div>
        </div>
    </div>
    <div class="col-2p4">
        <div class="row no-gutters">
            <div class="col-12 photoFrame" style="height:50px;width:100%;">
                <div class="photo" id="prefix-1400090" data-prefixes="1400090"></div>
            </div>
            <div class="col-12 photoFrame" style="height:200px;width:100%;">
                <div class="photo" id="prefix-1010140" data-prefixes="1010140"></div>
            </div>
        </div>
    </div>
</div>

<div class="row no-gutters photoSmW">
    <div class="col-3 photoFrame"><div class="photo" id="prefix-0700110" data-prefixes="0700110"></div></div>
    <div class="col-4 photoFrame"><div class="photo" id="prefix-0200110" data-prefixes="0200110"></div></div>
    <div class="col-2 photoFrame"><div class="photo" id="prefix-1700020" data-prefixes="1700021"></div></div>
    <div class="col-3 photoFrame"><div class="photo" id="prefix-1000130" data-prefixes="1000130"></div></div>
</div>
