@{
    Layout = null;
}

<div class="photoFrame photoSmW">
    <div class="photo">

    </div>
</div>
<div class="photoFrame photoSmW"><div class="photo"></div></div>

<div class="photoGroup photoSmW">
    <div class="photoFrame photoSm5"><div class="photo"></div></div>
    <div class="photoFrame photoSm5"><div class="photo"></div></div>
    <div class="photoFrame photoSm5"><div class="photo"></div></div>
    <div class="photoFrame photoSm5"><div class="photo"></div></div>
    <div class="photoFrame photoSm5"><div class="photo"></div></div>
</div>

<div class="photoFrame photoSm3"><div class="photo"></div></div>
<div class="photoFrame photoSm3"><div class="photo"></div></div>
<div class="photoFrame photoSm3"><div class="photo"></div></div>

<div class="photoGroup photoSm3">
    <div class="photoFrame photoSmW" style="height: 90px;"><div class="photo"></div></div>
    <div class="photoFrame photoSmW" style="height: 90px;"><div class="photo"></div></div>
</div>
<div class="photoFrame photoSm3"><div class="photo"></div></div>
<div class="photoFrame photoSm3"><div class="photo"></div></div>