@{
    Layout = null;
}

<div class="row no-gutters photoLg" style="height: 750px;">
    <div class="col-7 photoFrame"><div class="photo" id="prefix-1010100" data-prefixes="1010100,2050804"></div></div>
    <div class="col-5">
        <div class="row no-gutters photoSmW" style="height:33%;">
            <div class="col-12 photoFrame"><div class="photo" id="prefix-1010160" data-prefixes="1010160"></div></div>
        </div>
        <div class="row no-gutters photoSmW" style="height:33%;">
            <div class="col-12 photoFrame"><div class="photo" id="prefix-1010170" data-prefixes="1010170"></div></div>
        </div>
        <div class="row no-gutters photoSmW" style="height:34%;">
            <div class="col-12 photoFrame"><div class="photo" id="prefix-1010370" data-prefixes="1010370"></div></div>
        </div>
    </div>
</div>

<div class="row no-gutters photoSmW">
    <div class="col-3 photoFrame"><div class="photo" id="prefix-1010120"  data-prefixes="1010120"></div></div>
    <div class="col-3 photoFrame"><div class="photo" id="prefix-1010110"  data-prefixes="1010110"></div></div>
    <div class="col-3 photoFrame"><div class="photo" id="prefix-1010130"  data-prefixes="1010130"></div></div>
    <div class="col-3 photoFrame"><div class="photo" id="prefix-1010140"  data-prefixes="1010140"></div></div>
</div>
