@{
    Layout = null;
}


<div class="row no-gutters photoLg">
    <div class="col-6 photoFrame"><div class="photo" id="prefix-1610130" data-prefixes="1610130"></div></div> @*CARDBOARD TOP*@
    <div class="col-6 photoFrame"><div class="photo" id="prefix-1610160" data-prefixes="1610160"></div></div> @*PACKAGING FOAM*@
</div>
<div class="row no-gutters photoLg">
    <div class="col-6 photoFrame"><div class="photo" id="prefix-1610131" data-prefixes="1610131"></div></div> @*CARDBOARD REX*@
    <div class="col-6 photoFrame"><div class="photo" id="prefix-AAAAAAA" data-prefixes=""></div></div> @*NOT USED*@
</div>

