
@{
    ViewBag.Title = "Mobile BarcodeScanner";
    int port = Convert.ToInt32(ViewBag.port);
     ViewBag.Skin = "nasaSkin";
}
<style>
    #barcode {
        height: 60px;
        border: 1px solid;
        font-size: 28px;
        background-color: aliceblue;
    }

    #page-content-wrapper {
        padding: 0 !important;
    }

    .btn {
        width: 100%;
        border-radius: 0;
    }

    .btnNavigate{
        height: 100px;
        line-height:105px;
    }

    .btnAction{
        height:70px;
        line-height:55px;
    }
    .btnSwitcher{
        height: 60px;
        line-height: 43px;
        font-size: 20px;
    }
</style>
<div class="row justify-content-center h-100 no-gutters flex-column">
    <div class="col-12 bg-red">
        <div class="h-100 d-flex flex-column">
            <div class="row justify-content-center no-gutters" style=" background-color: #0d3f51; padding: 5px;">
                <div class="col-8" style="font-size:14px; text-align:left;">
                    JobList Statystyka
                </div>
                <div class="col-4" style="font-size:14px; text-align:center;" id="port">
                    @port
                </div>
            </div>
            <div class="row justify-content-center no-gutters">
                <div class="col-6"><div class="btn btn-primary btnSwitcher" data-port="@port">TESTY</div></div>
                <div class="col-6"><div class="btn btn-default btnSwitcher" data-port="@(port-10)">GRAB</div></div>
                @*<div class="col-12 mt-3" style="font-size:32px; text-align:center;">Zeskanuj Barkod</div>*@
            </div>
            @*FORM*@
            <div class="row justify-content-center flex-grow-1 mt-2 mb-auto no-gutters">
                <div class="col-12 pl-1 pr-1">
                    <div class="row no-gutters mb-3">
                        <div class="col-12 justify-content-center">
                            @*01516305040926051470*@
                            <input type="text" id="barcode" readonly="true" value="" style="color:#0d3f51;" />
                        </div>
                    </div>
                    <div class="row no-gutters mb-5">
                        <div class="col-4 pr-2">
                            <div class="btn btn-danger btnAction" id="clearBarcode">WYCZYŚĆ</div>
                        </div>
                        <div class="col-8">
                            <div class="btn btn-success btnAction" id="start">START</div>
                        </div>
                    </div>
                </div>
            </div>
            @*Show/hide Component List*@
            <div class="row justify-content-center flex-grow-1 mt-2 mb-auto no-gutters">
                <div class="col-12 pl-1 pr-1">
                    <div class="btn btn-outline-info btnNavigate" data-val="0" style="height: 60px; line-height: 43px; font-size: 23px;">Lista</div>
                </div>
            </div>
            @*Buttons*@
            <div class="row justify-content-center no-gutters">
                <div class="col-6">
                    <div class="btn btn-info btn-bottom btnNavigate" data-val="-1">
                        <i class="fas fa-arrow-circle-left" style="font-size: 45px;"></i>
                    </div>
                </div>
                <div class="col-6">
                    <div class="btn btn-primary btn-bottom btnNavigate" data-val="1">
                        <i class="fas fa-arrow-circle-right" style="font-size: 45px;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/_ClientAppJS/ExternalLibraries/OnScan/onscan.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        openFullscreen();
    });
    $(document).on("click", "#clearBarcode", function (event) {
        $("#barcode").val("");
    });

    $(document).on("click", "#start", function (event) {
        var port = parseInt($("#port").text()); //@Html.Raw(Json.Encode(port));
        var barcode = $("#barcode").val();
        if(port == "" || barcode == null){
            bootbox.alert("Coś tu nie gra")
        }else{
            var ReturnJson = new JsonHelper().GetData("/ONEPROD/JobList/TCPBarcodeReceived",
            { 
                workstationName: port, barcode: barcode
            });
            ReturnJson.done(function (data) {
                console.log("Json done");
            });
        }
    });
    $(document).on("click", ".btnNavigate", function (event) {
        var val = $(this).attr("data-val");
        var port = parseInt($("#port").text()); //@Html.Raw(Json.Encode(port));
   
        var ReturnJson = new JsonHelper().GetData("/ONEPROD/JobList/ChangePage",
        { 
            workstationName: port, val: val
        });
        ReturnJson.done(function (data) {
            console.log("Json done");
            $("#start").click();
        });
    });

    $(document).on("click", ".btnSwitcher", function () {
        $(".btnSwitcher").removeClass("btn-primary");
        $(".btnSwitcher").removeClass("btn-default");
        $(".btnSwitcher").addClass("btn-default");

        $(this).addClass("btn-primary");
        $(this).removeClass("btn-default");

        $("#port").text($(this).attr("data-port"));
    });

    var barcodeScannedData = "A";
    // Scan Detection
    try {
        onScan.detachFrom(document);
    } catch (e) {
        console.log("e");
        console.log(e);
    }
    onScan.attachTo(document, {
        scanButtonKeyCode: "0",
        scanButtonLongPressTime: 500,
        timeBeforeScantest: 100,
        avgTimeByChar: 30,
        minLength: 3,
        suffixKeyCodes: [9, 13], // enter-key expected at the end of a scan
        prefixKeyCodes: [],
        ignoreIfFocusOn: false,
        stopPropagation: true,
        preventDefault: true,
        reactToKeydown: true,
        reactToPaste: true,
        singleScanQty: 1,
        onKeyDetect: function (iKeyCode) { // output all potentially relevant key events - great for debugging!
        },
        onScan: function (sCode, iQty) {
            $("#consola").text('Scanned: ' + iQty + 'x ' + sCode);
            if (sCode.length > 3) {
                $("#barcode").val(sCode);
            }
        },
        onScanError: function (oDebug) {
            $("#consola2").text('err: ' + JSON.stringify(oDebug));
            console.log(oDebug);
        }
    });

</script>

