@{
    Layout = null;
}
<section id="Energy-Data" class="SectionBox">
    <div class="row mt15">
        <div class="col-12">
            <div class="shadow WindowBox">
                <div class="chartTitle chartTitleOEE">MEDIA</div>
            </div>
        </div>
    </div>
    <div class="row mt15">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 clearPaddingR">
            <div class="shadow WindowBox">
                <div class="chartTitle chartEnergy" data-chartType="1">Koszt całkowity mediów: <span id="energyTotalCost"></span> PLN</div>
                <div style="height:300px; width: 585px;" id="chartEnergyTotalCost" class="chart"></div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 clearPaddingR clearPaddingL" id="energyDataBox">
            <div class="shadow WindowBox">
                <div class="chartTitle chartEnergy" data-chartType="2">Zużycie energii za sztukę: <span id="energyUsePerProductionUnit"></span> kWh</div>
                <div style="height:300px; width: 585px;" id="chartEnergyUsePerUnit" class="chart"></div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 clearPaddingL">
            <div class="shadow WindowBox">
                <div class="chartTitle chartEnergy" data-chartType="3">Średni koszt za wyprodukowaną sztukę: <span id="energyCostPerProductionUnit"></span> PLN</div>
                <div style="height:300px; width: 585px;" id="chartEnergyPricePerUnit" class="chart"></div>
            </div>
        </div>
    </div>
    <div class="row mt15">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="shadow WindowBox">
                <div class="chartTitle chartEnergy" data-chartType="4">Zużycie energii</div>
                <div style="height:300px; width: 100%;" id="chartEnergyConsumption" class="chart"></div>
            </div>
        </div>
    </div>
</section>
