@using _MPPL_WEB_START.Areas._APPWEB.Models;
@using _MPPL_WEB_START.Areas._APPWEB.Models.Clients;
@{
    ViewBag.Title = "ONEPROD";
    //string clientName = _MPPL_WEB_START.Properties.Settings.Default.Client;
    ViewBag.ClientName = (_MPPL_WEB_START.Properties.Settings.Default.Client).Replace("_Staging", "");
    AppClientApbstract appClient = AppClient.GetClient(ViewBag.ClientName);
}

<div id="HomePage" class="row">
    <div class="col-md-12">

        <div class="row">
            <div class="col-12" id="moduleTitleRow">
                <span id="moduleTitle">ONEPROD</span>
                <span id="moduleDescr">MES System</span>
            </div>
        </div>

        <div class="row">
        @foreach (MDL_BASE.Models.IMenuItem menuItem in MenuONEPROD.MenuItem.Children)
        {
            if ((menuItem.Name != "Home" && menuItem.Name != "Użytkownicy") && AppMenu.CheckAccess(menuItem, appClient, User))
            {
                <a href="@Url.Action(menuItem.HrefAction, menuItem.HrefController)" class="confMenu shadow">
                    <div class="confMenuIcon @menuItem.Class1"></div>
                    <div class="confMenuText">@menuItem.Name</div>
                </a>
            }
        }
        </div>

    </div>
</div>
