
@{
    ViewBag.Title = "Kalkulacje Cen Opakowań";
}

    <div class="row">
        <div id="externalPager">
            <h2>tekst</h2>
        </div>
    </div>
    <div class="row" style="padding:5px 0;">
        <div class="col-12">
            <div id="jsGrid" style="max-width: 1400px;"></div>
        </div>
    </div>
<style>
    .yellowColor {
        background-color: yellow;
    }

    .highlight td {
        background-color: #bfe4ff !important;
    }

    .btnPacingIntrAction {
        margin: 5px;
        width: 160px;
    }

        .btnPacingIntrAction .fas {
            padding-left: 3px;
            padding-right: 3px;
        }

    #selectedInstr {
        width: 65px;
        padding: 5px;
        font-size: 18px;
        color: #548140;
    }

    #externalPager {
        display: inline-block;
    }

        #externalPager .dickens {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            border: 1px solid #ddd;
            margin: 0 4px;
        }

        #externalPager .jsgrid-pager-current-page {
            background-color: #4CAF50;
            color: white;
            border: 1px solid #4CAF50;
        }

        #externalPager span:hover:not(.jsgrid-pager-current-page) {
            background-color: #ddd;
        }
    .greenColor {
        background-color: limegreen;
    }

    .redColor {
        background-color: indianred;
    }
</style>
<script src="~/_ClientAppJS/MyScripts.js"></script>
<script type="text/javascript">
    PackingInstructionJsGridDefaults();
    $("#jsGrid").jsGrid({
        height: "2400px",
        width: "100%",
        editing: true,
        sorting: false,

        controller: {
            loadData: function (filter) {
                var temp = $.Deferred();
                $.ajax({
                    async: true,
                    type: "GET",
                    url: "PFEP/Calculation/GetCalculations",
                    data: filter,
                    success: function (data) {
                        temp.resolve(data);
                    },
                });
                return temp.promise();
            },
            updateItem: function (item) {
                $.ajax({
                    async: false,
                    type: "POST",
                    url: "PFEP/Calculation/AddOrUpdateCalculation",
                    data: item,
                })
            },
        },

        rowClass: function (item, itemIndex) {
            if (item.SetInstructionPrice > item.PackingInstructionPrice) {
                return "greenColor";
            } else if (item.SetInstructionPrice < item.PackingInstructionPrice) {
                return "redColor";
            }
        },
        rowClick: function (args) {
            if ('@User.IsInRole("Kalkulacje")' == 'True') {
                var $target = $(args.event.target);
                return this.editItem($target.closest("tr"));
            }
        },

            fields: [
                 { name: "PackingInstructionId", title: "Id Instrukcji Pakowania", type: "text", width: 100, editing: false },
                 { name: "ClientProfileCode", title: "Numer wyrobu klienta", type: "text", width: 250, editing: false },
                 { name: "ProfileCode", title: "Nr SAP", type: "text", width: 250, editing: false },
                 { name: "ProfileName", title: "Nazwa", type: "text", width: 250, editing: false },
                 { name: "PackingInstructionPrice", title: "Cena za całość", type: "text", width: 100, filtering: false, editing: false },
                 { name: "CalculatedInstructionPrice", title: "Cena za 1 sztukę", type: "text", width: 100, filtering: false, editing: false },
                 {
                     name: "SetInstructionPrice", title: "Cena z kalkulacji", type: "text", width: 100, filtering: false, editing: true,

                 },
                 {
                    type: "control",
                    modeSwitchButton: false,
                    editButton: false,
                    deleteButton: false,
                    width:75
                 }
            ]
        });

</script>