<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <connectionStrings xdt:Transform="Replace">
    <add name="ElectroluxPLSConnection" connectionString="Data Source=10.26.32.130; Initial Catalog=MPPL; Integrated Security=False; User Id=mppl_user;Password=Usermppl123;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  
  <applicationSettings xdt:Transform="Replace">
    <_MPPL_WEB_START.Properties.Settings>
      <setting name="Client" serializeAs="String">
        <value>ElectroluxPLS</value>
      </setting>
      <setting name="SmtpServer" serializeAs="String">
        <value>10.26.10.85</value>
      </setting>
      <setting name="SmtpUser" serializeAs="String">
        <value />
      </setting>
      <setting name="SmtpPwd" serializeAs="String">
        <value />
      </setting>
      <setting name="EmailsEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SmtpPort" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="AppAdress" serializeAs="String">
        <value>http://10.26.32.167:90</value>
      </setting>
      <setting name="EmailReceiver" serializeAs="String">
        <value>1234324@implea.pl</value>
      </setting>
      <setting name="EmailReceiverCC" serializeAs="String">
        <value />
      </setting>
      <setting name="EmailSenderMail" serializeAs="String">
        <value>noreply@electrolux.com</value>
      </setting>
      <setting name="EmailSenderDisplayName" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="EmailSenderDisplayNameSuffix" serializeAs="String">
        <value> PLS</value>
      </setting>
      <setting name="MTNG_Lic" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LDAP_Server" serializeAs="String">
        <value>PLWS4029.biz.electrolux.com</value>
      </setting>
      <setting name="LDAP_isActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CookieExpireTimeSpanInMinutes" serializeAs="String">
        <value>485</value>
      </setting>
      <setting name="PasswordExpiresInDays" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CookieName" serializeAs="String">
        <value>MPPL_COOKIE_PLS</value>
      </setting>
    </_MPPL_WEB_START.Properties.Settings>
  </applicationSettings>
  
</configuration>