<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings xdt:Transform="Replace">
    <add name="ElectroluxPLBConnection" connectionString="Data Source=PLWS3803; Initial Catalog=MPPL; Integrated Security=False; User Id=mppl_user;Password=mppl123;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
    <!--xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />-->
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <applicationSettings xdt:Transform="Replace">
    <_MPPL_WEB_START.Properties.Settings>
      <setting name="Client" serializeAs="String">
        <value>ElectroluxPLB</value>
      </setting>
      <setting name="SmtpServer" serializeAs="String">
        <value>10.26.10.85</value>
      </setting>
      <setting name="SmtpUser" serializeAs="String">
        <value />
      </setting>
      <setting name="SmtpPwd" serializeAs="String">
        <value />
      </setting>
      <setting name="EmailsEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SmtpPort" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="AppAdress" serializeAs="String">
        <value>http://plws3803:88</value>
      </setting>
      <setting name="EmailReceiver" serializeAs="String">
        <value>kajetan.dutkiewicz@electrolux.com</value>
      </setting>
      <setting name="EmailReceiverCC" serializeAs="String">
        <value />
      </setting>
      <setting name="EmailSenderMail" serializeAs="String">
        <value>noreply@electrolux.com</value>
      </setting>
      <setting name="EmailSenderDisplayName" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="EmailSenderDisplayNameSuffix" serializeAs="String">
        <value> PLB</value>
      </setting>
      <setting name="MTNG_Lic" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LDAP_Server" serializeAs="String">
        <value>PLWS4029.biz.electrolux.com</value>
      </setting>
      <setting name="LDAP_isActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CookieExpireTimeSpanInMinutes" serializeAs="String">
        <value>485</value>
      </setting>
      <setting name="PasswordExpiresInDays" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CookieName" serializeAs="String">
        <value>MPPL_COOKIE_PLB</value>
      </setting>
    </_MPPL_WEB_START.Properties.Settings>
  </applicationSettings>
</configuration>