
@{
    ViewBag.Title = "RebitTest";
}

<div class="row no-gutters">
    <div class="col-12">
        <div class="btn btn-info" id="getMessage">
            Pobierz Wiadomość
        </div>
    </div>
</div>
<div class="row no-gutters">
    <div class="col-12">
        <div>
            <input type="text" class="form-control col-12" id="message">
        </div>
    </div>
</div>

<div class="row no-gutters">
    <div class="col-12">
        <div class="btn btn-info" id="sendMessage">
            Nadaj Wiadomość
        </div>
    </div>
</div>
<div class="row no-gutters">
    <div class="col-12">
        <div>
            <input type="text" class="form-control col-12" id="msgText">
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        console.log("Get MSG");
    });

    $(document).on("click", "#getMessage", function () {
        console.log("Kliknięto");
        var JsonHelp = new JsonHelper();
        let ReturnJson = JsonHelp.GetPostData("/OTHER/Test/RabitGetMSG", {});
        ReturnJson.done(function (data) {
            $("#message").val(data);
        });
    });

    $(document).on("click", "#sendMessage", function () {
        console.log("Kliknięto");
        debugger;
        let msg = $("#msgText").val();
        var JsonHelp = new JsonHelper();
        let ReturnJson = JsonHelp.GetPostData("/OTHER/Test/RabitSetMSG", {
            message: msg
        });
        ReturnJson.done(function (jsonModel) {
            new Alert().Show(jsonModel.MessageType, jsonModel.Message);
        });
    });

</script>


