@{
    ViewBag.Title = "DeliveryListItems";
    Layout = null;
}

<style>
    #addWorkstationItemContent {
        position: absolute;
        bottom: 0%;
        background-color: rgb(17, 38, 46);
    }
    input {
        border-radius: 0 !important;
    }
    .putTo {
        font-size: 16px;
        position: absolute;
        bottom: -23px;
        right: 4px;
        color: #00000063;
    }
    .QtyRequested{
        color: white;
    }
</style>

<div class="h-100 d-flex flex-column" id="contentView" data-workorderid="@ViewBag.WorkOrderId" data-transporterId="@ViewBag.TransporterId" data-deliveryListId="@ViewBag.DeliveryListId">

</div>

<div id="addWorkstationItemContent" class="pt-5 pb-5 pl-1 pr-1 hidden">

</div>

<script id="LineFeedAddWorkstationItemTemplate" type="x-tmpl-mustache">
    <div class="row no-gutters">
        <div class="col-12">
            <input type="text" id="workstationName" class="form-control fs30" placeholder="Zeskanuj QR stanowiska" inputmode="text" autocomplete="off" />
        </div>
        <div class="col-12">
            <div class="btn btn-success fs30" id="btnAddWorkstationItem">ZAPISZ</div>
        </div>
    </div>
</script>
<script id="DeliveryListLineFeedTemplate" type="x-tmpl-mustache">
    @*Picker's data*@
    <div class="row no-gutters justify-content-center pageHeader" style="min-height: 30px; max-height: 30px;">
        <div class="col-4 header-bb header-br">
            Numer zlecenia
        </div>
        <div class="col-4 header-bb header-br" style="text-align:center;">
            {{WorkOrderNo}}
        </div>
        <div class="col-2 header-bb header-br" style="text-align:center">
            {{NumberToPick}}
        </div>
        <div class="col-2 header-bb" style="text-align:center">
            H{{ParameterHView}}
        </div>
    </div>
    <div class="row no-gutters justify-content-center pageHeader platformHeader">
        <div class="col-4 header-br" id="selectedPlatformsTitle">
            Platformy
        </div>
        <div class="col-8">
            <div class="row no-gutters">
                {{#PlatformList}}
                <div class="col-4" style="padding:1px;">
                    <div class="test btn PlatformName {{SelectedPlatform}}" data-platformId={{PlatformId}} data-platformlocationname={{PlatformLocationName}}>
                        {{PlatformName}}
                    </div>
                </div>
                {{/PlatformList}}
            </div>
        </div>
        <div class="hidden" id="defaultTrolley">

        </div>
    </div>
    @*Header Grid*@
    <div class="row no-gutters justify-content-center gridHeader" id="gridHeaderId" style="max-height:40px; min-height: 40px;">
        <div class="col-10">
            <div class="row no-gutters">
                <div class="col-5">KOD ART.</div>
                <div class="col-5">WÓZEK</div>
                <div class="col-2">ILOŚĆ</div>
            </div>
            <div class="row no-gutters">
                <div class="col-5">NAZWA ART.</div>
                <div class="col-5">LINIA</div>
                <div class="col-2">BILANS</div>
            </div>
        </div>
        <div class="col-2">
            STATUS
        </div>
    </div>
    @*Grid*@
    <div class="row no-gutters justify-content-center flex-grow-1 mb-auto" style="overflow-y:scroll">
        <div class="col-12" id="OrderRows">
            {{#DeliveryListItems}}
            {{#Visible}}
            <div class="row no-gutters orderRow" data-id="{{Id}}" data-itemWMSId="{{ItemWMSId}}" data-workstationId="{{WorkstationId}}" data-warehouseLocationId="{{WarehouseLocationId}}" data-platformId="{{PlatformId}}" data-paramH="{{H}}">
                <div class="col-10">
                    <div class="row no-gutters orderRowText">
                        <div class="col-6 ItemCode">{{Code}}</div>
                        <div class="col-4 RowPlatformName textLightOrange">{{WarehouseLocationName}}</div>
                        <div class="col-2 QtyRequested textBold">{{QtyRequested}}</div>
                    </div>
                    <div class="row no-gutters orderRowText">
                        <div class="col-6 ItemName">{{Name}}</div>
                        <div class="col-4 ResourceName textBlue">{{ResourceName}}</div>
                        <div class="col-2 Balance">{{Balance}}</div>
                    </div>
                </div>
                <div class="col-2 Status">
                    <div class="StatusIcon state{{Status}} {{StateIcon}}" style="overflow:hidden; position: relative;">
                        <span class="workstationName">{{StateText}}</span>
                        <span class="putTo">
                            {{#WorkstationPutTo}}
                            {{.}}
                            {{/WorkstationPutTo}}
                        </span>
                    </div>
                </div>
            </div>
            {{/Visible}}
            {{/DeliveryListItems}}
        </div>
        {{^DeliveryListItems}}
        <div class="col-12" style="text-align: center; padding-top: 20px;">
            BRAK ARTYKUŁÓW
        </div>
        {{/DeliveryListItems}}
    </div>
    @*Buttons*@
    <div class="row no-gutters justify-content-center" style="margin-bottom:0px;">
        <div class="col-12">
            <div class="row no-gutters">
                <div class="col-4">
                    <div class="btn btn-default btn-bottom" id="btnBackToDeliveryListItems"><< WRÓĆ</div>
                </div>
                <div class="col-4">
                    <div class="btn btn-primary btn-bottom" id="btnOverrideWorkstationItem" style="line-height: 24px;">ZMIEŃ<br />STANOWISKO</div>
                </div>
                <div class="col-4">
                    <div class="btn btn-success btn-bottom" id="btnConfirmDelivery">ROZŁADUJ</div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/javascript">
    var deliveryListItemsLF = new DeliveryListItemsLF();
    $(document).ready(function () {
        deliveryListItemsLF.Init();
    });

</script>