
@{
    ViewBag.Title = "STOCK";
}

<style>
    .WindowBox {
        border: 0 !important;
    }

    .shadow, .grid-mvc, .darkSkin .Window, .darkSkin .WindowJs, .defaultSkin .Window, .defaultSkin .WindowJs {
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }
    .stockInfoHeader {
        padding: 10px 10px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 7px;
        color: #eafcff;
        border-top: 1px solid #115f65;
        padding-right: 10px;
        background: #256868;
    }
</style>

<div class="row no-gutters mb-2">
    <div class="col-12">
        <div class="formArea shadow">
            <form id="formStock">
                <fieldset>
                    <div class="form-group row no-gutters mb-0" id="formGroup">
                        <div class="col-2 pl-0 pr-0">
                            <input type="text" class="form-control" placeholder="Magazyn" name="warehouseName" id="warehouseName">
                        </div>
                        <div class="col-2 p-0">
                            <input type="text" class="form-control" placeholder="Lokacja" name="warehouseLocationName" id="warehouseLocationName">
                        </div>
                        <div class="col-2 pr-0">
                            <input type="text" class="form-control" placeholder="ItemCode" name="itemCode" id="itemCode">
                        </div>
                        <div class="col-2 pr-0">
                            <input type="text" class="form-control" placeholder="Serial number" name="serialNo" id="serialNo">
                        </div>
                        <div class="col-2 pr-0">
                            @Html.DropDownList("locationTypeId", new SelectList(ViewBag.LocationTypes, "Id", "Name","0"), new { @name="LocationType", @class="form-control"})
                        </div>
                        <div class="col-1 ml-2 btn btn-info form-control" id="searchButton">Szukaj</div>
                    </div>
                    <div class="form-group row no-gutters mt-2 mb-0" id="formGroup">
                        <div class="col-4 pt-2">
                            <div class="row no-gutters">
                                <div class="col-4">NO MRP:</div>
                                <div class="col-4">MRP:</div>
                                <div class="col-4">TOTAL:</div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-4" style="color: #90dff7;" id="qtyNoMRP">0</div>
                                <div class="col-4" style="color: #90dff7;" id="qtyMRP">0</div>
                                <div class="col-4" style="color: #90dff7;" id="qtyTotal">0</div>
                            </div>
                        </div>
                        <div class="col-3 pr-0">
                            <div class="row no-gutters">
                                <div class="col-2"><label class="form-control" style="background: none; border: none; color: #e2e2e2;">Nazwa:</label></div>
                                <div class="col-10"><input type="text" class="form-control" name="itemName" id="itemName" style="background: none; border: none; color: #90dff7;"></div>
                            </div>
                        </div>
                        <div class="col-1 pr-0">
                            <div class="row no-gutters">
                                <div class="col-4"><label class="form-control" style="background: none; border: none; color: #e2e2e2;">JM:</label></div>
                                <div class="col-8"><input type="text" class="form-control" name="itemUoM" id="itemUoM" style="background: none; border: none; color: #90dff7;"></div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div class="row no-gutters">
    <div class="col-4" style="padding-right: 14px;">
        <div class="stockInfoHeader" style="">ILOŚĆ NA MAGAZYNACH</div>
    </div>
    <div class="col-4" style="padding-right: 14px;">
        <div class="stockInfoHeader" style="">ILOŚĆ W LOKACJACH</div>
    </div>
    <div class="col-4" style="padding-right: 14px;">
        <div class="stockInfoHeader" style="">NUMERY SERYJNE</div>
    </div>
</div>

<div class="row no-gutters">
    <div class="col-4">
        <div id="stocksGrid" style="height: 800px;"></div>
    </div>
    <div class="col-4">
        <div id="stockWarehouseDetailsGrid" style="height: 800px;"></div>
    </div>
    <div class="col-4">
        <div id="stockLocationDetailsGrid" style="height: 800px;"></div>
    </div>
</div>


@*<script type="text/javascript" src="~/Areas/iLOGIS/Views/iLogis.bundle.js"></script>
<script type="text/javascript" src="~/Areas/iLOGIS/Views/Oneprod.bundle.js"></script*@
<script type="text/javascript"> 
    $(document).ready(function () {
        console.log("StockView.Ready");
        var stock = new Stock("#formStock"); 
    });

    function PrintLabelForStockUnit(stockUnitId, serialNumber) {
        let jsonGetLocation = new JsonHelper().GetPostData("/iLOGIS/StockUnit/ReprintLabel", {
                stockUnitId, serialNumber
            });
            jsonGetLocation.done(function (iLogisStatus) {
                new Alert().Show("success", TranslateStatus(iLogisStatus))
            });
    }
</script>
