@{
    Layout = null;
}

<div class="row no-gutters">
    <div class="col-1" id="Reasons0">
        <div class="row no-gutters">
            <div class="col-12">
                <div id="backBtn"><i class='fas fa-chevron-circle-left'></i></div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <div id="parentReasonName">
                    <div id="parentReasonNameText"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-11">
        <div class="row no-gutters">
            <div class="col-12" id="Reasons1"></div>
            <div class="col-12" id="RecentSelectedReasons"></div>
        </div>
    </div>
</div>

<script type="text/javascript">

    @*var reasons = @Html.Raw(Json.Encode(Model.Resons));
    var orderId = @Html.Raw(Json.Encode(Model.SelectedOrderId));
    var reasonSelector = new ReasonSelector("#Reasons1", orderId, reasons);

    $(document).ready(function () {
        reasonSelector.ShowReasons(0);
        console.log("rizony ready");
    });*@
</script>

<style>
    
</style>