@model MDL_ONEPROD.Model.OEEProd.RTVOEEProductionData

@{
    Layout = null;
}

<style>
    .slidecontainer {
        width: 100%; /* Width of the outside container */
    }

    /* The slider itself */
    .slider {
      -webkit-appearance: none;  /* Override default CSS styles */
      appearance: none;
      width: 100%; /* Full-width */
      height: 50px; /* Specified height */
      background: #d3d3d3; /* Grey background */
      outline: none; /* Remove outline */
      opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
      -webkit-transition: .2s; /* 0.2 seconds transition on hover */
      transition: opacity .2s;
    }

    /* Mouse-over effects */
    .slider:hover {
      opacity: 1; /* Fully shown on mouse-over */
    }

    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
    .slider::-webkit-slider-thumb {
      -webkit-appearance: none; /* Override default look */
      appearance: none;
      width: 60px; /* Set a specific slider handle width */
      height: 60px; /* Slider handle height */
      background: #ffd800; /* Green background */
      cursor: pointer; /* Cursor on hover */
      border-radius: 30px;
    }

    .slider::-moz-range-thumb {
      width: 25px; /* Set a specific slider handle width */
      height: 25px; /* Slider handle height */
      background: #4CAF50; /* Green background */
      cursor: pointer; /* Cursor on hover */
    }
    .boxStopSplit{
        border: 1px solid #2d4b57;
        height: 100px;
        overflow: hidden;
        padding: 5px;
    }
    .btn.btn-dark.btnChangeSplit {
        width: 100px;
        height: 80px;
        border-color: #1a373f;
        font-size: 22px;
        line-height: 60px;
    }
    .btnStopSplit{
        height: 75px;
        border-radius: 0;
        line-height: 60px;
        font-size: 20px;
    }
    .btnStopSplitPlus{
        background-color: #339881;
    }
    .btnStopSplitMinus{
        background-color: #8c5347;
    }
    .timeStopSplit{
        font-weight:bold;color:#da2327;font-size:28px;
    }
</style>

<div id="StopSplit" class="StopSplit" style="width: 100%;">
    
    <div class="row" style="margin-top:50px">
        <div class="col-6">
            <div class="btn btn-dark btnChangeSplit btnStopSplitMinus" data-sec="-1">< 1s</div>
            <div class="btn btn-dark btnChangeSplit btnStopSplitMinus" data-sec="-5">< 5s</div>
            <div class="btn btn-dark btnChangeSplit btnStopSplitMinus" data-sec="-15">< 15s</div>
            <div class="btn btn-dark btnChangeSplit btnStopSplitMinus" data-sec="-60">< 60s</div>
        </div>
        <div class="col-6" style="text-align: right;">
            <div class="btn btn-dark btnChangeSplit btnStopSplitPlus" data-sec="60">60s ></div>
            <div class="btn btn-dark btnChangeSplit btnStopSplitPlus" data-sec="15">15s ></div>
            <div class="btn btn-dark btnChangeSplit btnStopSplitPlus" data-sec="5">5s ></div>
            <div class="btn btn-dark btnChangeSplit btnStopSplitPlus" data-sec="1">1s ></div>
        </div>
    </div>

    <div class="slidecontainer" style="max-width:100%;width:100%;margin-top:50px">
        <input type="range" min="0" max="@(Model.UsedTime.ToString("0.#").Replace(",", "."))" value="@((Model.UsedTime/2m).ToString("0.#").Replace(",", "."))" class="slider" id="myRange" style="max-width:100%;width:100%;">
    </div>

    <div class="row no-gutters" style="margin-top:50px"">
        <div class="col-6" style="text-align: left; font-size: 22px;">
            <span>CZAS TRWANIA:</span><br />
            <span id="leftMinutes" class="timeStopSplit">50</span> <span style="color: #88dbff80;">[min]</span>
            <span id="leftSeconds" class="timeStopSplit">50</span> <span style="color: #88dbff80;">[s]</span>
        </div>
        <div class="col-6" style="text-align: right; font-size: 22px;">
            <span>CZAS TRWANIA:</span><br />
            <span id="rightMinutes" class="timeStopSplit">50</span> <span style="color: #88dbff80;">[min]</span>
            <span id="rightSeconds" class="timeStopSplit">50</span> <span style="color: #88dbff80;">[s]</span>
        </div>
    </div>

    <div class="row no-gutters mt-3">
        <div id="boxA" class="boxStopSplit" style="width:50%; border-right: 0; background-color: #162b30;">
            <div style="overflow: hidden;">@(Model.Reason !=null? Model.Reason.Name : Model.ReasonType != null? Model.ReasonType.Name : "?")</div>
        </div>
        <div id="boxB" class="boxStopSplit" style="width:50%; text-align: right; background-color: #1c7c1c;">
            <div style="overflow: hidden;">Nowy Postój</div>
        </div>
    </div>

    <div class="row no-gutters" style="margin-top: 180px;">
        <div class="col-6">
            
        </div>
        <div class="col-2">
            <div class="btn btn-warning btnClose btnStopSplit" style="width:95%;">Anuluj</div>
        </div>
        <div class="col-4">
            <div class="btn btn-success btnStopSplit" id="btnSplitExecute" style="width:100%;">WYKONAJ PODZIAŁ</div>
        </div>
    </div>

</div>

<script type="text/javascript">

    //var stopSplit = new StopSplit(@Html.Raw(Json.Encode(Model.Id)));
    //var slider = document.getElementById('myRange');

    //$(document).off("click", ".btnChangeSplit");
    //$(document).on("click", ".btnChangeSplit", function () {
    //    stopSplit.MoveSliderByButtons(this);
    //});

    //$(document).off("click", "#btnSplitExecute");
    //$(document).on("click", "#btnSplitExecute", function () {
    //    console.log("btnSplitExecute");
    //    stopSplit.Execute();
    //});
        
    //slider.oninput = function() {
    //    let maxVal = parseInt($(this).attr("max"));
    //    let val = stopSplit.limitValue(maxVal, this.value);

    //    $("#myRange").attr("value", val);
    //    stopSplit.UpdateValues(maxVal, val);
    //    stopSplit.updateBoxes(maxVal, val);
    //}

    

    
</script>

