@{
    ViewBag.Skin = "nasaSkin";
    ViewBag.Title = "PrintingLabelInspector";
    int port = ViewBag.Port;
}

<style>
    .logo {
        height: 80px !important;
        width: 280px !important;
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 1px;
    }

    .header {
        margin-top: 2px; 
        height: 66px;
    }

    .headerDownLine {
        height:4px; 
        background-color:white;
    }

    .digitalClock {
        font-family: 'DigitalClock';
        font-size: 80px;
        padding: 0;
        margin-top: -30px;
    }

    .card-body{
        background-color:cadetblue;
        padding:5px;
    }

    .photoSize {
        height: 374px;
        max-width: 375px;
    }

    .backgroundGhost {
        background-color: rgba(255, 255, 255, 0.1) !important;
    }

    .testResultHeader {
        color: aquamarine;
    }

    .testResultsCard {
        background-color: #2e94a4;
    }

    .testResultBox {
        text-align: center;
        border-radius: 5px;
        margin:4px;
    }

    .testResultFalse {
        background-color: #ff5d7c;
    }

    .testResultPositive {
        background-color: #10ad5e;
    }

    .barcodeDetails {
        font-size: 30px;
        font-weight: bold;
    }

    .barcodeDescription {
        font-size: 28px;
    }

    .labelType{
        border:1px solid white;
    }
</style>

<div class="row no-gutters header" >
    <div class="col-2 h-100">
        <div class="logoMD logo clickable" style="background-image: url(@Url.Content("~/Content/images/logoElectroluxPLV_white.png")) !important"></div>
    </div>
    <div class="col-4 digitalClock text-center">
        <div class="headerMid" id="clockHeaderMid"></div>
    </div>
    <div class="col-2 headerLeft">
        @ViewBag.Port
    </div>
</div>
<div class="row headerDownLine">

</div>
<div class="row mt-1" id="contenView">
    
</div>

<script id="testPackingLabelTemplate" type="x-tmpl-mustache">
    <div class="col-12" style="align-items: flex-start;">
        <div class="row no-gutters">
            <div class="col-4 p-1 {{^isChecking}}backgroundGhost {{/isChecking}}" id="frontPhoto"></div>
            <div class="col-2">
                <div class="row no-gutters pl-1 pr-1">
                    <div class="col-12 photoSize {{^isChecking}}backgroundGhost {{/isChecking}}" id="sidePhoto" ></div>
                </div>
                <div class="row no-gutters p-1">
                    <div class="col-12 photoSize {{^isChecking}}backgroundGhost {{/isChecking}}" id="rearPhoto"></div>
                </div>
            </div>
            <div class="col-5 mt-1">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group row mb-0">
                            <label class="col-sm-4 col-form-label barcodeDescription">Zamówienie: </label>
                            <div class="col-sm-8 barcodeDetails">{{WorkorderNo}}</div>
                        </div>
                        <div class="form-group row mb-0">
                            <label class="col-sm-4 col-form-label barcodeDescription">Pnc: </label>
                            <div class="col-sm-8 barcodeDetails">{{ItemCode}}</div>
                        </div>
                        <div class="form-group row mb-0">
                            <label class="col-sm-4 col-form-label barcodeDescription">Nazwa: </label>
                            <div class="col-sm-8 barcodeDetails">{{ItemName}}</div>
                        </div>
                    </div>
                </div>
                <div class="card mt-1" id="testView">
                    <div class="card-body testResultsCard">
                        <div class="form-group row testResultHeader">
                            <div class="col-sm-3 col-form-label font-weight-bold">Nazwa testu</div>
                            <div class="col-sm-2 col-form-label font-weight-bold text-center">FRONT</div>
                            <div class="col-sm-2 col-form-label font-weight-bold text-center">REAR</div>
                            <div class="col-sm-2 col-form-label font-weight-bold text-center">SIDE</div>
                            <div class="col-sm-3 col-form-label ">Oczekiw. Wart.</div>
                        </div>
                      
                        {{#Test}}
                        <div class="form-group row mb-0">
                            <div class="col-3 col-form-label">{{TestName}}</div>
                            {{^FrontResult}}
                            <div class="col-2 col-form-label testResultFalse {{^isChecking}}backgroundGhost{{/isChecking}} testResultBox">{{FrontExpectedValue}}</div>
                            {{/FrontResult}}
                            {{#FrontResult}}
                            <div class="col-2 col-form-label testResultPositive testResultBox"><i class="far fa-check-square"></i></div>
                            {{/FrontResult}}
                            {{^SideResult}}
                            <div class="col-2 col-form-label testResultFalse {{^isChecking}}backgroundGhost{{/isChecking}} testResultBox">{{SideExpectedValue}}</div>
                            {{/SideResult}}
                            {{#SideResult}}
                            <div class="col-2 col-form-label testResultPositive testResultBox"><i class="far fa-check-square"></i></div>
                            {{/SideResult}}
                            {{^RearResult}}
                            <div class="col-2 col-form-label testResultFalse {{^isChecking}}backgroundGhost{{/isChecking}} testResultBox">{{RearExpectedValue}}</div>
                            {{/RearResult}}
                            {{#RearResult}}
                            <div class="col-2 col-form-label testResultPositive testResultBox"><i class="far fa-check-square"></i></div>
                            {{/RearResult}}
                            <div class="col-2 col-form-label ">{{ExpectedValue}}</div>
                        </div>
                        {{/Test}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>


<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
<script src="~/signalR/hubs"></script>

<script type="text/javascript">
     var _port = @Html.Raw(Json.Encode(port));
    if (jobLabelCheck != null) { console.log("Preparing to stop clock"); jobLabelCheck.StopClock(); }
    var jobLabelCheck = new JobLabelCheck(false);

    $(document).ready(function () {
        openFullscreen();
        jobLabelCheck.StartClock();
        console.log("preparing the hub");
        jlR = $.connection.jobLabelCheckHub;
        jlR.client.broadcastMessage = function (barcode) {
            console.log(barcode);
            if (barcode == "reset") {
                $("#barcode").text(barcode);
                location.reload(true);
            }
            else if (barcode != "99999999999999999999") {
                $("#barcode").text(barcode);
                if (barcode.length > 10) {
                    let serialNumberIndexStart = barcode.length - 9;
                    let serialNumberIndexEnd = serialNumberIndexStart + 8;
                    let serialNumer = barcode.slice(serialNumberIndexStart, serialNumberIndexEnd);

                    jobLabelCheck.LoadDataBySerialNumber(serialNumer);
                } else {
                    console.log("zbyt krótki barkod");
                }
            }
        };
        $.connection.hub.start().done(function () {
            console.log("Hub is started.");
            jlR.server.joinWorkstation(_port);
        });
        $.connection.hub.disconnected(function () {
            setTimeout(function () {
                $.connection.hub.start();
            }, 5000); // Restart connection after 5 seconds.
        });
    });
</script>

