@model _MPPL_WEB_START.Areas.AP.ViewModel.MeetingViewModel
@using GridMvc.Html
@{
    ViewBag.Title = "Lista spotkań";
}

<div class="row">
    <div class="col-md-3">
        @Html.ActionLink("Dodaj Nowe", "Edit", "Meeting", new { id = Model.NewObject.Id}, new { @class = "btn btn-default" })
    </div>
</div>

<div class="row" style="margin-top: 15px;">
    <div class="col-md-12">
        @Html.Grid(Model.MeetingList).Columns(columns =>
   {
        columns.Add(u => u.MeetingName).Titled("Nazwa Spotkania").SetWidth(110);
        columns.Add(u => u.Owner.FullName).Titled("Prowadzący").SetWidth(110);
        columns.Add(u => u.BeginnigDate).Titled("Data Utworzenia").SetWidth(110).Format("{0:yyyy-MM-dd}");
        columns.Add(u => u.EndDate).Titled("Data Zamknięcia").SetWidth(110).Format("{0:yyyy-MM-dd}");
        columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(u => @<b>@Html.ActionLink("Otwórz", "Show", new { id = u.Id })</b>);
}).WithPaging(20)
    </div>
</div>