/*@drk_color_form_background: rgba(39, 39, 39, 0.5);*/
/*--------------------------------------------FORMS---------------------------------------*/
/*------------------------------------------LOGIN-FORM-------------------------------------*/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.account-wall {
  margin-top: 80px;
  padding: 40px 0px 20px 0px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}
.login-title {
  color: #555;
  font-size: 22px;
  font-weight: 400;
  display: block;
}
.profile-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.select-img {
  display: block;
  height: 75px;
  margin: 0 30px 10px;
  width: 75px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.select-name {
  display: block;
  margin: 30px 10px 10px;
}
.logo-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.jsgrid .jsgrid-button {
  /*background-image: url('images/gridbtn.png') !important;*/
  /*background-image: none !important;*/
  margin: -1px 0 -5px 0 !important;
  background-size: 100% !important;
  min-height: 25px !important;
  min-width: 25px !important;
}
.jsgrid-delete-button {
  background-image: url('../../Content/images/trash.png') !important;
  background-position-y: top !important;
}
.jsgrid-insert-mode-button {
  background-image: url('../../Content/images/icon_add.png') !important;
  background-position-y: top !important;
  /*height: 35px !important;
    width: 35px !important;*/
}
.jsgrid-edit-button {
  background-image: url('../../Content/images/icon_edit.png') !important;
  background-position-y: top !important;
}
.jsgrid-update-button {
  background-image: url('../../Content/images/icon_save.png') !important;
  background-position-y: top !important;
}
.jsgrid-cancel-edit-button {
  background-image: url('../../Content/images/icon_refuse.svg') !important;
  background-position-y: top !important;
}
.jsgrid-insert-button {
  background-image: url('../../Content/images/icon_btnadd.png') !important;
  background-position-y: top !important;
  width: 70px !important;
  height: 45px !important;
}
#main_icon {
  float: right;
  padding-right: 24px;
  padding-top: 16px;
}
.menuItem {
  float: left;
  width: 90px;
  max-width: 90px;
  max-height: 40px;
  margin-left: -10px;
  overflow: hidden;
  display: none;
}
.menuLi {
  min-height: 43px !important;
  position: relative;
}
.subMenu {
  width: 250px;
  position: absolute;
  left: 150px;
  background-color: #222;
}
#subSidebar {
  padding: 0;
  list-style: none;
}
.subMenuLi {
  text-decoration: none;
}
.subMenuLi .sub_name2 {
  width: 190px;
  float: left;
}
.subMenuLi .sub_icon2 {
  width: 60px;
  height: 30px;
  font-size: 24px;
  padding-right: 10px;
  padding-left: -10px;
  padding-top: 5px;
  float: left;
}
.subMenuTitle {
  color: white;
  font-weight: bold;
  background-color: #393939;
}
.sub_icon {
  position: absolute;
  left: 85px;
  width: 60px;
  padding-right: 22px;
  padding-top: 8px;
  font-size: 22px;
}
#sidebar-wrapper-left {
  margin-left: -150px;
  left: 65px;
  width: 150px;
  background: #222;
  position: fixed;
  height: 100%;
  z-index: 10000;
  transition: all 0.4s ease 0s;
}
#wrapper.active #sidebar-wrapper-left {
  left: 150px;
}
#sidebar-wrapper-right,
#sidebar-wrapper-right2 {
  width: 65px;
  height: 100vh;
  margin-right: 0px;
  position: fixed;
  right: 0px;
  top: 50px;
  z-index: 9000;
  transition: all 0.1s ease 0s;
  padding-bottom: 50px;
  /*border-left: 1px solid #c3c3c3;*/
  /*background-color: #fafafa;*/
  overflow-y: hidden;
}
#wrapper.active-right #sidebar-wrapper-right,
#wrapper.active-right #sidebar-wrapper-right2 {
  width: 320px !important;
  overflow-y: scroll;
}
#sidebar-wrapper-right2 .btn {
  width: 100%;
  border-radius: 0;
  height: 35px;
  padding: 0;
  margin: 2px 0;
}
#sidebar-wrapper-right2 .btn .icon {
  float: left;
  width: 64px;
  height: 35px;
  font-size: 24px;
  padding-top: 5px;
}
#sidebar-wrapper-right2 .btn .caption {
  height: 20px;
  position: relative;
  top: 8px;
}
#sidebar-wrapper-right2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}
#sidebar-wrapper-right2::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}
#sidebar-wrapper-right2::-webkit-scrollbar-thumb {
  background-color: #c3c3c3;
}
.sidebar-nav {
  display: block;
  float: left;
  width: 150px;
  list-style: none;
  margin: 0;
  padding: 0;
}
#sidebar_menu li a,
#menuLi a {
  color: #999;
  display: block;
  float: left;
  text-decoration: none;
  width: 150px;
  background: #252525;
  border-top: 1px solid #373737;
  border-bottom: 1px solid #1A1A1A;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  -ms-transition: background 0.5s;
  transition: background 0.5s;
}
#subMenuLi a {
  display: block;
  float: left;
  text-decoration: none;
  width: 150px;
}
.sidebar_name {
  padding-top: 25px;
  color: #fff;
  opacity: 0.7;
}
.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}
.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}
.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  height: 60px;
  line-height: 50px;
  font-size: 18px;
}
.sidebar-nav > .sidebar-brand a {
  color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
#wrapper {
  padding-left: 70px;
  padding-right: 70px;
  transition: all 0.4s ease 0s;
  height: 100%;
  width: 100%;
}
#wrapper.active {
  padding-left: 150px;
}
#wrapper.active-right {
  padding-right: 320px;
}
#wrapper.inactive-right {
  padding-right: 0;
}
#page-content-wrapper {
  padding-left: 0;
  margin-left: 0;
  width: 100%;
  height: auto;
}
@media (max-width: 767px) {
  #wrapper {
    padding-left: 70px;
    transition: all 0.4s ease 0s;
  }
  #sidebar-wrapper {
    left: 70px;
  }
  #wrapper.active {
    padding-left: 150px;
  }
  #wrapper.active #sidebar-wrapper {
    left: 150px;
    width: 150px;
    transition: all 0.4s ease 0s;
  }
}
.photoMini {
  height: 100px;
  width: 100px;
  display: inline-block;
  position: relative;
}
.photoMiniDelete {
  position: absolute;
  left: 70px;
  top: 5px;
  width: 25px;
  height: 25px;
  z-index: 100;
  color: #ff6a00;
  background-color: white;
  font-size: 18px;
  text-align: center;
}
.photoMiniDelete:hover {
  color: red;
}
.darkskin ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.darkskin ::-webkit-scrollbar-button {
  background-color: #191919;
}
.darkskin ::-webkit-scrollbar-track {
  background-color: #313131;
}
.darkskin ::-webkit-scrollbar-track-piece {
  background-color: #191919;
}
.darkskin ::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
}
.darkskin ::-webkit-scrollbar-corner {
  background-color: #646464;
}
.darkskin ::-webkit-resizer {
  background-color: #666;
}

.alert-fixed {
    position: fixed;
    bottom: 5px;
    right: 25px;
    width: 400px;
    z-index: 999999;
    border-radius: 0px
}

.alert {
    margin-bottom: 5px;
}


.darkSkin {
  color: #e4e4e4;
  background-color: #161616 !important;
  background-image: url('../../Content/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /*background-color: @color_background;*/
  padding-top: 50px;
  padding-bottom: 20px;
  -webkit-print-color-adjust: exact;
  /*a {
        color: @colorLink;
    }*/
  /*.gradient-top {
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(123,123,123,0) 57%, rgba(216,216,216,0.65) 100%);
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(123,123,123,0) 57%,rgba(216,216,216,0.65) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(123,123,123,0) 57%,rgba(216,216,216,0.65) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6d8d8d8',GradientType=0 );
    }*/
}
.darkSkin input,
.darkSkin select,
.darkSkin textarea {
  max-width: 520px;
}
.darkSkin .display-mode {
  display: inline-block;
}
.darkSkin .edit-mode {
  display: none;
}
.darkSkin .formArea {
  background-color: rgba(29, 29, 29, 0.78);
  padding: 10px;
}
.darkSkin .formInlineGroup {
  float: left;
  margin-right: 5px;
}
.darkSkin .formInlineRow {
  min-height: 25px;
  width: 100%;
}
.darkSkin .formInlineRow2 {
  min-height: 25px;
  width: 50%;
  float: left;
}
.darkSkin .formInlineRowLabel2 {
  background-color: rgba(29, 29, 29, 0.78);
  height: 34px;
  line-height: 34px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.darkSkin .highlight td {
  background-color: #35434d !important;
}
.darkSkin table {
  background-color: rgba(29, 29, 29, 0.78);
}
.darkSkin .grid-mvc {
  border: 1px solid transparent;
}
.darkSkin .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.darkSkin .table > thead > tr > th,
.darkSkin .table > tbody > tr > th,
.darkSkin .table > tfoot > tr > th,
.darkSkin .table > thead > tr > td,
.darkSkin .table > tbody > tr > td,
.darkSkin .table > tfoot > tr > td {
  border-top: 1px solid #333a3e;
}
.darkSkin .table-hover > tbody > tr:hover {
  background-color: #1f2c31;
  color: #809eab;
}
.darkSkin .jsgrid-selected-row > .jsgrid-cell {
  background: #1f2c31;
  border-color: #1f2c31;
  color: #809eab;
}
.darkSkin .jsgrid-nodata-row > .jsgrid-cell,
.darkSkin .grid-empty-text > td {
  background-color: rgba(128, 128, 128, 0.1) !important;
}
.darkSkin .jsgrid-edit-row > .jsgrid-cell {
  background: #f48e44;
}
.darkSkin .jsgrid-header-row .jsgrid-header-sort {
  background: #2c2c2c;
}
.darkSkin .jsgrid-header-row > .jsgrid-header-cell {
  background: #2c2c2c;
}
.darkSkin .jsgrid-filter-row > .jsgrid-cell {
  background: #2c2c2c;
}
.darkSkin .jsgrid-insert-row > .jsgrid-cell {
  background: #2ca3ab;
}
.darkSkin .jsgrid-cell {
  border: 1px solid #2d2d2d;
}
.darkSkin .jsgrid-edit-row > .jsgrid-cell,
.darkSkin .jsgrid-filter-row > .jsgrid-cell,
.darkSkin .jsgrid-grid-body,
.darkSkin .jsgrid-grid-header,
.darkSkin .jsgrid-header-row > .jsgrid-header-cell,
.darkSkin .jsgrid-insert-row > .jsgrid-cell {
  border: 1px solid #2d2d2d;
}
.darkSkin .jsgrid-header-row > .jsgrid-header-cell {
  background: #4e4e4e;
}
.darkSkin .bgMenu {
  background-color: #252525;
}
.darkSkin #sidebar_menu li a,
.darkSkin .sidebar-nav li a {
  color: #999;
}
.darkSkin .sidebar_name {
  color: #fff;
}
.darkSkin .sidebar-nav li a {
  color: #999;
}
.darkSkin .sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}
.darkSkin .sidebar-nav > .sidebar-brand a {
  color: #999;
}
.darkSkin .sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
.darkSkin #sidebar-wrapper-right,
.darkSkin #sidebar-wrapper-right2 {
  background-color: rgba(29, 29, 29, 0.78);
}
.darkSkin #logo {
  width: 200px;
  height: 45px;
  background: url('../../../Content/Images/logoElectrolux_white.png') no-repeat !important;
}
.darkSkin .gradient-top {
  /*background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(123,123,123,0) 57%, rgba(216,216,216,0.65) 100%);
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(123,123,123,0) 57%,rgba(216,216,216,0.65) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(123,123,123,0) 57%,rgba(216,216,216,0.65) 100%); */
  background: linear-gradient(to bottom, #000 0%, #1c1c1c, #252525 100%) !important;
}
.darkSkin .currentPageName {
  position: fixed;
  top: 00px;
  left: 250px;
  height: 49px;
  min-width: 100px;
  padding: 25px 10px 0px 10px;
  background-color: rgba(82, 116, 141, 0.05);
  z-index: 99000;
  font-weight: bold;
  color: #2f2f2f;
  /*border-top-left-radius: 10px;
          border-top-right-radius: 10px;*/
}
.darkSkin .navbar-inverse .navbar-nav > li > a {
  color: #2f2f2f;
}
.darkSkin .navbar-login {
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}
.darkSkin .navbar-login-session {
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}
.darkSkin .icon-size {
  font-size: 87px;
}
.darkSkin .dropdown-menu-login {
  z-index: 99999999 !important;
  position: fixed;
  top: 50px;
  left: 100px;
}
.darkSkin .btn-switcher {
  overflow: hidden;
  color: white;
  border: 0;
  border-radius: 0px !important;
  background-color: #337ab7;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0);
}
.darkSkin .btn-switcher-active {
  background-color: #698fa5 !important;
}
.darkSkin .btn-switcher-disabled {
  background-color: #b4b4b4;
}
.darkSkin a.btn-switcher:hover {
  color: #b09962;
}
.darkSkin a.btn-switcher:focus {
  color: #b09962;
}
.darkSkin .Window {
  margin-bottom: 15px;
  background-color: rgba(23, 23, 23, 0.95);
  border: 1px solid #212121;
}
.darkSkin .WindowJs {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.darkSkin .PopupWindow {
  position: absolute;
  top: 200px;
  left: 200px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(23, 23, 23, 0.95);
  border: 1px solid #212121;
  max-width: 75% !important;
  -webkit-box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.17);
  box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.17);
}
.darkSkin .WindowTitle {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  overflow: hidden;
  max-height: 43px;
  color: #a0a0a0;
  background-color: #3e3e3e;
  border-bottom: 1px solid #636363;
}
.darkSkin .WindowTitle span {
  float: left;
  width: 100%;
  padding-right: 30px;
}
.darkSkin .WindowTitle .btn {
  margin-top: -7px;
}
.darkSkin .WindowTitle .btnClose {
  margin-top: -28px;
  float: right;
  position: relative;
}
.darkSkin .WindowContent {
  padding: 10px;
}
.darkSkin #overlay-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 1, 1, 0.25);
  opacity: 0.8;
  filter: alpha(opacity=80);
  z-index: 999;
  display: none;
}
.darkSkin #overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*padding  : 60px;*/
  margin: 0 auto;
  z-index: 1000;
  display: none;
  padding-left: 80px;
}
.darkSkin #wrapper.active #overlay {
  padding-left: 150px;
}
.defaultSkin {
  /*.gridStyle(@selectionBg, @selectionColor, @orange, @green, @bgTable, #4e4e4e,#2c2c2c,#2d2d2d, @gridBorder);*/
  color: #363636;
  background-color: #fafafa !important;
  background-image: url('../../Content/images/background_default.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /*background-color: @color_background;*/
  padding-top: 50px;
  padding-bottom: 20px;
  -webkit-print-color-adjust: exact;
  /*a {
        color: @colorLink;
    }*/
  /*.gradient-top {
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(123,123,123,0) 57%, rgba(216,216,216,0.65) 100%);
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(123,123,123,0) 57%,rgba(216,216,216,0.65) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(123,123,123,0) 57%,rgba(216,216,216,0.65) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6d8d8d8',GradientType=0 );
    }*/
}
.defaultSkin input,
.defaultSkin select,
.defaultSkin textarea {
  max-width: 520px;
}
.defaultSkin .display-mode {
  display: inline-block;
}
.defaultSkin .edit-mode {
  display: none;
}
.defaultSkin .formArea {
  background-color: #f8f8f8;
  padding: 10px;
}
.defaultSkin .formInlineGroup {
  float: left;
  margin-right: 5px;
}
.defaultSkin .formInlineRow {
  min-height: 25px;
  width: 100%;
}
.defaultSkin .formInlineRow2 {
  min-height: 25px;
  width: 50%;
  float: left;
}
.defaultSkin .formInlineRowLabel2 {
  background-color: #f8f8f8;
  height: 34px;
  line-height: 34px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.defaultSkin .highlight td {
  background-color: #bfe4ff !important;
}
.defaultSkin table {
  background-color: rgba(255, 255, 255, 0.55);
}
.defaultSkin .grid-mvc {
  border: 1px solid #dcdcdc;
}
.defaultSkin .bgMenu {
  background-color: #222;
}
.defaultSkin #sidebar_menu li a,
.defaultSkin .sidebar-nav li a {
  color: #999;
}
.defaultSkin .sidebar_name {
  color: #fff;
}
.defaultSkin .sidebar-nav li a {
  color: #999;
}
.defaultSkin .sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}
.defaultSkin .sidebar-nav > .sidebar-brand a {
  color: #999;
}
.defaultSkin .sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
.defaultSkin #sidebar-wrapper-right,
.defaultSkin #sidebar-wrapper-right2 {
  background-color: #f8f8f8;
}
.defaultSkin #logo {
  width: 200px;
  height: 45px;
  background: url('../../../Content/Images/logoElectrolux.png') no-repeat !important;
}
.defaultSkin .gradient-top {
  /*background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(123,123,123,0) 57%, rgba(216,216,216,0.65) 100%);
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(123,123,123,0) 57%,rgba(216,216,216,0.65) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(123,123,123,0) 57%,rgba(216,216,216,0.65) 100%); */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(123, 123, 123, 0) 57%, rgba(216, 216, 216, 0.65) 100%) !important;
}
.defaultSkin .currentPageName {
  position: fixed;
  top: 00px;
  left: 250px;
  height: 49px;
  min-width: 100px;
  padding: 25px 10px 0px 10px;
  background-color: rgba(82, 116, 141, 0.05);
  z-index: 99000;
  font-weight: bold;
  color: #a6acb5;
  /*border-top-left-radius: 10px;
          border-top-right-radius: 10px;*/
}
.defaultSkin .navbar-inverse .navbar-nav > li > a {
  color: #a6acb5;
}
.defaultSkin .navbar-login {
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}
.defaultSkin .navbar-login-session {
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}
.defaultSkin .icon-size {
  font-size: 87px;
}
.defaultSkin .dropdown-menu-login {
  z-index: 99999999 !important;
  position: fixed;
  top: 50px;
  left: 100px;
}
.defaultSkin .btn-switcher {
  overflow: hidden;
  color: white;
  border: 0;
  border-radius: 0px !important;
  background-color: #337ab7;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0);
}
.defaultSkin .btn-switcher-active {
  background-color: rgba(6, 255, 110, 0.6) !important;
}
.defaultSkin .btn-switcher-disabled {
  background-color: #f5f5f5;
}
.defaultSkin a.btn-switcher:hover {
  color: white;
}
.defaultSkin a.btn-switcher:focus {
  color: white;
}
.defaultSkin .Window {
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #bbbbbb;
}
.defaultSkin .WindowJs {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.defaultSkin .PopupWindow {
  position: absolute;
  top: 200px;
  left: 200px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #bbbbbb;
  max-width: 75% !important;
  -webkit-box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.17);
  box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.17);
}
.defaultSkin .WindowTitle {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  overflow: hidden;
  max-height: 43px;
  color: #203e4a;
  background-color: #e9edf2;
  border-bottom: 1px solid #c6cad1;
}
.defaultSkin .WindowTitle span {
  float: left;
  width: 100%;
  padding-right: 30px;
}
.defaultSkin .WindowTitle .btn {
  margin-top: -7px;
}
.defaultSkin .WindowTitle .btnClose {
  margin-top: -28px;
  float: right;
  position: relative;
}
.defaultSkin .WindowContent {
  padding: 10px;
}
.defaultSkin #overlay-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 1, 1, 0.25);
  opacity: 0.8;
  filter: alpha(opacity=80);
  z-index: 999;
  display: none;
}
.defaultSkin #overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*padding  : 60px;*/
  margin: 0 auto;
  z-index: 1000;
  display: none;
  padding-left: 80px;
}
.defaultSkin #wrapper.active #overlay {
  padding-left: 150px;
}