@using MDLX_MASTERDATA.Entities;
@using MDL_ONEPROD.Model.Scheduling;

@model _MPPL_WEB_START.Areas.ONEPROD.OEE.ViewModels.OeeViewModel
@{
    Layout = null;
}

<div class="row" style="margin-top:15px;">
    <div class="col-md-12 sectionHeader">
        <div class="formArea sectionHeaderTitle">PRACOWNICY</div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 formArea">
        <div class="row">
            <div class="col-md-12 formAreaElements">
                <div class="col-md-9" id="jsGridUsers"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var reportId = @Html.Raw(Json.Encode(Model.ReportId));
    var machineId = @Html.Raw(Json.Encode(Model.MachineId));
    var shiftCode = @Html.Raw(Json.Encode(Model.OeeReport.LabourBrigade.Name));

    $(document).ready(function () {
        var operatorGrid = new OperatorsGrid("#jsGridUsers", reportId, shiftCode);
        operatorGrid.InitGrid();
    });

</script>