@using MDL_ONEPROD.Model.Scheduling
@using GridMvc.Html
@model _MPPL_WEB_START.Areas.ONEPROD.Base.ViewModels.BoxItemGroupViewModel

@{
    Layout = null;
    ViewBag.Title = "BOX - ItemGroup";
}

<div id="BoxCategoryT" data-val="@Model.BoxId">
    <h3>Opakowanie: @Model.Box.Name [id: @Model.BoxId]</h3>
    <hr />

    <div class="row">
        <div class="col-lg-12" style="width: 800px;">
            <div id="BoxItemGroupPopup"></div>
        </div>
    </div>
    <hr />
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var BoxItemGroupPopups = new BoxItemGroupPopup("#BoxItemGroupPopup");
        BoxItemGroupPopups.InitGrid();
        var BoxCategoryId = $("#BoxCategoryT").attr("data-val");
        BoxItemGroupPopups.RefreshGrid(BoxCategoryId);
    });


</script>
