@{
    //Layout = null;
}

@{ Html.RenderAction("Index", "Config", new { area = "iLOGIS" }); }

<div class="row">
    <div class="col-12" style="width: 1200px;">
        <div id="resourceGrid"></div>
    </div>
</div>

<script src="~/_ClientAppJS/_APPWEB/Common/MyColorPicker.js"></script>
<script src="~/_ClientAppJS/MASTERDATA/ResourceGrid.js"></script>
<script type="text/javascript">

    var resourceGrid = new ResourceGrid("#resourceGrid");
    $(document).ready(function () {
        console.log("Resource config")
        resourceGrid.InitGrid();
        resourceGrid.RefreshGrid();
        SelectActiveMenuLink(@Html.Raw(Json.Encode(ViewContext.RouteData.Values["action"])));
    });

</script>