@{
    ViewBag.Skin = "nasaSkin";
    ViewBag.Title = "PrintingLabelInspector";
}

<style>
    .logo {
        height: 80px !important;
        width: 280px !important;
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 1px;
    }

    .header, .header input {
        background-color: powderblue !important;
    }

    .header {
        height: 135px;
    }

    .photo {
        background-color: #ffffff;
    }
</style>

<div class="row no-gutters" style="margin-top: 2px; height: 66px">
    <div class="col-2 h-100">
        <div class="logoMD logo clickable" style="background-image: url(@Url.Content("~/Content/images/logoElectroluxPLV_white.png")) !important"></div>
    </div>
    <div class="col-4 digitalClock" style="text-align: center;">
        <div class="headerMid" id="clockHeaderMid"></div>
    </div>
    <div class="col-4">
        <input class="form-control" id="barcode" style="width: 100%; font-size: 50px; margin-top: -18px; background: none;" value="" />
    </div>
    <div class="col-2">
    </div>
</div>

<div class="row no-gutters" style="background-color: #4c947c; padding: 0px 5px;">
    <div class="col-1" style="font-size: 32px; line-height: 40px; text-align: center;">
        <span>Zamówienie:</span>
    </div>
    <div class="col-3" style="font-size: 40px; line-height: 40px; text-align: center; font-weight: bold;">
        <span id="workorderNo"></span>
    </div>
    <div class="col-1" style="font-size: 32px; line-height: 40px; text-align: center;">
        <span>PNC:</span>
    </div>
    <div class="col-2" style="font-size: 40px;
        line-height: 40px;
        text-align: center;
        font-weight: bold;">
        <span id="itemCode"></span>
    </div>
    <div class="col-5" style="font-size: 40px;line-height: 40px;text-align: center;font-weight: bold;">
        <span id="itemName"></span>
    </div>
</div>

<div class="row jobListInvisible" id="joblistColumns">
    <div class="col-12" style="align-items: flex-start;">
        <div class="row no-gutters">
            <div class="col-4 p-1" id="frontPhoto">

            </div>
            <div class="col-2">
                <div class="row no-gutters">
                    <div class="col-12 p-1" id="sidePhoto" style="max-width:375px;">

                    </div>
                </div>
                <div class="row no-gutters p-1 mt-1">
                    <div class="col-12" id="rearPhoto" style="max-width:375px;">

                    </div>
                </div>
            </div>
            <div class="col-5 bg-primary">

            </div>
        </div>
    </div>
    <div class="col joblistColumnRight" style="align-items: flex-start;" id="jobListItems"></div>
</div>

<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
<script src="~/signalR/hubs"></script>

<script type="text/javascript">

    if (jobLabelCheck != null) { console.log("Preparing to stop clock"); jobLabelCheck.StopClock(); }
    var jobLabelCheck = new JobLabelCheck(false);

    $(document).ready(function () {
        openFullscreen();
        console.log("Job list view loaded");
        jobLabelCheck.StartClock();

        console.log("preparing the hub");
        jlR = $.connection.jobLabelCheckHub;
        jlR.client.broadcastMessage = function (barcode) {
            console.log(barcode);
            if (barcode == "reset") {
                $("#barcode").val(barcode);
                location.reload(true);
            }
            else if (barcode != "99999999999999999999") {
                //$("#barcode").val(barcode.replace(/\D/g, ''));
                $("#barcode").val(barcode);
                if (barcode.length > 10) {
                    let serialNumberIndexStart = barcode.length - 9;
                    let serialNumberIndexEnd = serialNumberIndexStart + 8;
                    let serialNumer = barcode.slice(serialNumberIndexStart, serialNumberIndexEnd);
                    console.log(serialNumer);
                    jobLabelCheck.LoadDataBySerialNumber(serialNumer);
                } else {
                    console.log("zbyt krótki barkod");
                }
                
            }
        };

        $.connection.hub.start().done(function () {
            console.log("Hub is started.");
            //jlR.server.joinWorkstation(_port);
            //jobLabelCheck.GetItemsByPrefixes();
        });
        $.connection.hub.disconnected(function () {
            setTimeout(function () {
                $.connection.hub.start();
            }, 5000); // Restart connection after 5 seconds.
        });

    });

    $("#barcode").on('change keypress paste input', function () {
        var text = $(this).val();

        if (text == "reset") {
            location.reload(true);
        }
        else if (text.length == 20) {
            console.log(text);
            //jobLabelCheck.GetItemsByPrefixes();
        }
    });

</script>


