
@{
    ViewBag.Title = "iLogis - Dashboard";
}
<style>

    .card {
        background-color: white;
        color: black;
    }

    .card-body {
        background-color: #268fff6b;
    }

    .table > tbody > tr > td {
        border-top: 0px !important;
    }

    .table > thead > tr > th {
        border-top: 0px !important;
    }

    .table > tbody > tr > td {
        border-bottom: 1px solid #268fff6b !important;
    }

    .theadStyle {
        background-color: #268fff;
    }

    .table-responsive {
        border-radius: 8px;
        background-color: white;
    }

    .table {
        margin-bottom: 0px;
    }

    body {
        background-color: #bdc3c7;
    }

    .chevrons {
        font-size: 35px;
        color: white;
    }

        .chevrons:hover {
            color: #8080807a;
        }

    .circleIcon {
        color: white;
    }

        .circleIcon:hover {
            color: #8080807a;
        }

    .whSelection {
        font-size: 25px;
        color: darkcyan;
    }

        .whSelection:hover {
            color: darkgrey;
        }

    .whUp {
        font-size: 25px;
        color: white;
    }

        .whUp:hover {
            color: cornsilk;
        }

    .scroll {
        position: relative;
        white-space: nowrap;
        overflow: hidden;
    }

    .scroll2 {
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
    }
</style>
<div id="HomePage" class="row" style="height:100%">
    
    <div class="col-12">
        <div class="row p-1" style="height:40%">
            <div class="col-7 pr-1">
                <div class="card" style="height:100%">
                    <div class="card-header" id="warehouseTitle">
                        <h3>Przegląd Magazynów</h3>
                    </div>
                    <div id="warehouseOccupationView" style="height:100%">

                    </div>
                </div>
            </div>
            <div class="col-5 pl-1">
                <div class="card" style="height:100%">
                    <div class="card-header">
                        <h3>TOP 5 Najnowszych Dostaw</h3>
                    </div>
                    <div id="lastDeliveriesView" style="height:100%">

                    </div>
                </div>
            </div>
        </div>
        <div class="row p-1" style="height:60%">
            <div class="col-7 pr-1">
                <div class="card">
                    <div class="card-header">
                        <h3>Przegląd Pickingu na Liniach</h3>
                    </div>
                    <div id="linePickingView">

                    </div>
                </div>
            </div>
            <div class="col-5 pl-1">
                <div class="card">
                    <div class="card-header">
                        <h3>Braki z Pickingów  <span style="float:right; padding-right:30px"> 18 / 30</span></h3>
                    </div>
                    <div id="missingPickingView">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




@*Scripts WarehouseOccupation*@
<script id="warehouseOccupationTemplate" type="x-tmpl-mustache">
    <div class="card-body col-12 position-relative" style="height:100%">
        {{#Paging}}
        <div class="position-absolute" style="top:45%;left:10px;" id="leftArrow">
            <i class="fas fa-chevron-left chevrons"></i>
        </div>
        <div class="position-absolute" style="top:45%;right:10px;" id="rightArrow">
            <i class="fas fa-chevron-right chevrons" id="carouselBtnRight"></i>
        </div>
        {{/Paging}}
        <div class="row justify-content-center no-gutters" style="height:98%">
            <div class="table-responsive col-11" style="height:97%" id="animateDiv">
                <table class="table table-fixed">
                    <thead class="theadStyle">
                        <tr>
                            <th>Nazwa</th>
                            <th>Liczba lokacji</th>
                            <th>Wypełnienie</th>
                            <th>{{#ParenWarehouse}}<i class="fas fa-chevron-circle-up whUp"></i>{{/ParenWarehouse}}</th>
                        </tr>
                    </thead>
                    <tbody id="warehouseOccupationData" style="position:relative">
                    </tbody>
                </table>
            </div>
        </div>
        {{#Paging}}
        <div class="row justify-content-center">
            {{#PagingList}}
            <div class="pr-1" id="{{PageId}}">
                <i class="{{PageIcon}} fa-circle circleIcon"></i>
            </div>
            {{/PagingList}}
        </div>
        {{/Paging}}
    </div>
</script>

<script id="warehouseOccupationDataTemplate" type="x-tmpl-mustache">
    {{#data}}
    <tr>
        <td>{{ WarehouseName }}</td>
        <td>{{ NumberOfWarehauseLocations }}</td>
        <td style="vertical-align:middle">
            <div class="progress progress-xs">
                <div class="progress-bar progress-bar-striped {{barType}}" role="progressbar"
                     aria-valuenow="{{WarehouseOccupation}}" aria-valuemin="0" aria-valuemax="100" style="width:{{WarehouseOccupation}}%">
                </div>
            </div>
        </td>
        <td id="{{WarehouseId}}">
            <i class="fab fa-buffer whSelection"></i>
        </td>
    </tr>
    {{/data}}
</script>
@*End Scripts WarehouseOccupation*@
<script id="lastDeliveriesTemplate" type="x-tmpl-mustache">
    <div class="card-body col-12" style="height:100%">
        <div class="row justify-content-center no-gutters" style="height:98%">
            <div class="table-responsive col-11" style="height:97%">
                <table class="table table-fixed">
                    <thead class="theadStyle">
                        <tr>
                            <th>Nr. Dokumentu</th>
                            <th>Kod Produktu</th>
                            <th>Dostawca</th>
                            <th>Liczba Produktów</th>
                            <th>Total Qty</th>

                        </tr>
                    </thead>
                    <tbody>
                        {{#data}}
                        <tr>
                            <td>{{DocumentNumber}}</td>
                            <td>{{ItemCode}}</td>
                            <td>{{SupplierName}}</td>
                            <td>{{ItemsCount}}</td>
                            <td>{{TotalItems}}</td>
                        </tr>
                        {{/data}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>

<script id="linePickingTemplate" type="x-tmpl-mustache">
    <div class="card-body col-12" style="height:100%">
        <div class="row justify-content-center no-gutters" style="height:98%">
            <div class="table-responsive col-11" style="height:97%">
                <table class="table table-fixed">
                    <thead class="theadStyle">
                        <tr>
                            <th>Nr. Linii</th>
                            <th>Kod Produktu</th>
                            <th>Ilość</th>
                            <th>Data dostarczenia</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#data}}
                        <tr>
                            <td>{{LineNumber}}</td>
                            <td>{{ItemCode}}</td>
                            <td>{{Qty}}</td>
                            <td>{{DeliveryDate}}</td>
                        </tr>
                        {{/data}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>

<script id="missingPickingTemplate" type="x-tmpl-mustache">
    <div class="card-body col-12" style="height:100%;overflow:hidden">
        <div class="row justify-content-center no-gutters" style="height:98%">
            {{#data}}
            <div class="col-4 p-2">
                <div class="card-body p-1">
                    <div class="row no-gutters">
                        <div>
                            <div class="border border-1">
                                {{Time}}
                            </div>
                        </div>
                        <div class="pl-3">{{ItemCode}}</div>
                    </div>
                    <div class="row no-gutters">
                        <div>
                            {{Warehouse}} {{WarehouseLocation}}
                        </div>
                        <div class="pl-3">{{Qty}} szt.</div>
                    </div>
                </div>
            </div>
            {{/data}}
        </div>
        <div class="row no-gutters"id="clickScroll" style="height:300px;">
            <div class="row no-gutters scroll">
                {{#data}}
                <div class="col-4 p-2">
                    <div class="card-body p-1">
                        <div class="row no-gutters">
                            <div>
                                <div class="border border-1">
                                    {{Time}}
                                </div>
                            </div>
                            <div class="pl-3">{{ItemCode}}</div>
                        </div>
                        <div class="row no-gutters">
                            <div>
                                {{Warehouse}} {{WarehouseLocation}}
                            </div>
                            <div class="pl-3">{{Qty}} szt.</div>
                        </div>
                    </div>
                </div>
                {{/data}}
            </div>
        </div>

    </div>
</script>
<script src="~/_ClientAppJS/ExternalLibraries/endless-scroll/endless_scroll_min.js"></script>

<script type="text/javascript">
    var WhOccupation = new DashboardWhOccupation();
    var LastDeliveries = new DashboardLastDeliveries();
    var LinePicking = new DashboardLinePicking();
    var MissingPicking = new DashboardMissingPicking();
    $(document).ready(function () {
        WhOccupation.Init();
        LastDeliveries.Init();
        LinePicking.Init();
        MissingPicking.Init();

    });

    $(document).on("click", "#clickScroll", function () {
        var $width = $(this).width() + 50;// - 150;
        var $scrollWidth = $('.scroll').outerWidth() + 250;// - 150;
        $('.scroll').css({ 'right': -$scrollWidth + 'px' });
        var k  = $('.scroll').css({ 'right': $scrollWidth + 'px' });
        function scroll() {
            $('.scroll').animate({
                right: $width
            },
                {
                    duration: 6000,
                    easing: "linear",
                    complete: function () {
                        $('.scroll').css({ 'right': -$scrollWidth + 'px' });
                scroll();
                } 
                //6000, function () {
                //$('.scroll').css({ 'right': -$scrollWidth + 'px' });
                //scroll();
            });
        }
        scroll();
    });


    //$(document).on("click", "#clickScroll", function () { 
    //    var $width = $(this).width() + 200;// - 150;
    //    var $scrollWidth = $('.scroll').outerWidth();// - 150;
    //    $(".scroll").endlessScroll({
    //        width: "600px",
    //        height: "200px",
    //        steps: -1,
    //        speed: 80,
    //        mousestop: true
    //});
    //});

</script>