@{
    ViewBag.Title = "iLOGIS WMS";
    ViewBag.BodyClass = "mobile";
}
<style>
    #page-content-wrapper {
        padding: 0 !important;
    }
</style>

<div id="iLogisWMSMobileWMS" class="row justify-content-center h-100 no-gutters flex-column">
    <div class="col-12" id="mainMenu">
    </div>
</div>

    
<script type="text/javascript">
    //var menuLayout = new MobileMenuLayout();

    var versionController = new VersionController("mobileWMS", true);

    $(document).ready(function () {
        openFullscreen();
        var routing = new Routing(this.location.pathname, '#mainMenu');
        routing.init();
        //menuLayout.LoadView();
        RedirectToDefault(this.location.hash);
        versionController.CheckForUpdates("/iLOGIS/Home/GetCurrentVersion");
    });

    function RedirectToDefault(hash) {
        var urltmp = hash.split('#'); //hash.replace('#/', '');

        var url = urltmp.length > 1? urltmp[1] : "";

        if (url == null || url == "/") {
            this.location.hash = "#/iLOGIS/WMS/MobileMenu";
        }
    }

    $(document).off("click", "#btnDalej");
    $(document).on("click", "#btnDalej", function () {
        new Alert().Show("info", "REFRESH 2");
        location.reload(true);
        window.history.forward(1);
    });

    //$(document).on("click", "#btnFS", function () {
    //    console.log("openFullScreen");
    //    document.documentElement.webkitRequestFullScreen();
    //});

</script>

