/*all small*/
@media screen and (max-height: 800px) and (max-width: 1024px) {
    ::-webkit-scrollbar {
        width: 2px !important;
    }
}

/*ZEBRA MC9200*/
@media screen and (max-height: 380px) and (min-height: 0px) {
    body {
        font-size: 14px !important;
    }
    .mobile .alert-fixed {
        width: 280px !important;
        bottom: 37px;
    }
    .alert {
        padding: .25rem .25rem;
    }
    .alert .close {
        font-size: 1.1rem;
    }
    .btn-bottom, .btnAction, .btnTextWrap {
        height: 40px !important;
        line-height: 28px !important;
        font-size: 14px !important;
        overflow: hidden;
    }
}

@media screen and (max-height: 560px) and (min-height: 381px) {

    .mobile .alert-fixed {
        width: 362px !important;
        right: 8px;
    }

    .alert {
        padding: .25rem .25rem;
    }
    .alert .close {
        font-size: 1.1rem;
    }
}



#iLogisWMSMobileWMS {



    .card {
        background-color: #569693;
    }

    .card-body {
        padding: 0.5rem;
    }

    .btn {
        width: 100%;
        border-radius: 0;
    }

    .btnNavigate {
        height: 100px;
        line-height: 105px;
    }

    .btnAction {
        height: 70px;
        line-height: 55px;
    }

    .btnTextWrap {
        height: 70px;
        line-height: 27.5px;
        white-space: normal;
        word-wrap: break-word;
    }

    .form-control {
        padding: .375rem .25rem;
    }
    /*ZEBRA MC9200*/
    @media screen and (max-height: 380px) and (min-height: 0px) {

        .confMenuIcon {
            height: 40px;
            width: 100%;
            font-size: 36px !important;
            padding-top: 15px;
        }

        .card-body {
            padding: 2px 2px;
        }
        /*.card-body {
            padding: 0.25rem;
        }*/
        .mb-1, .my-1 {
            margin-bottom: .15rem !important;
        }

        #sumText {
            font-size: 24px !important;
        }

        .form-group {
            margin-bottom: 0;
        }
    }

    @media screen and (max-height: 560px) and (min-height: 381px) {
        .card-body {
            padding: .2rem;
        }

        .form-group {
            margin-bottom: 5px;
        }

        .mb-1, .my-1 {
            margin-bottom: .15rem !important;
        }

        .col-form-label {
            padding-top: calc(.25rem + 1px);
            padding-bottom: calc(.25rem + 1px);
            line-height: 1;
        }
    }

    /*
    @media screen and (max-height: 580px) and (min-height: 480px) {
        .pageHeader {
            background: orange !important;
        }
    }

    @media screen and (max-height: 640px) and (min-height: 580px) {
        .pageHeader {
            background: yellow !important;
        }
    }*/
}
