@{
    Layout = null;
    ViewBag.Title = "Movement";
    var workstations = ViewBag.WorkstationIds;
}

    <div id="iLogisWmsMobileSettings" class="h-100 d-flex flex-column">
        <ilogis-wms-mobile-pageheader headerTitle="Ustawienia" icon="fas fa-people-carry">
        </ilogis-wms-mobile-pageheader>

        <div class="row no-gutters justify-content-center ml-2 mr-2 mb-auto">
            <div class="col-12 mb-2">
                <div class="card">
                    <div class="card-body">
                        <div class="row no-gutters justify-content-center mt-2">
                            <div class="col-12">
                                <div class="row no-gutters justify-content-center">
                                    <div class="col-12">
                                        <label class="mb-2">Drukarka:</label>
                                        <input type="text" id="mobilePrinter" class="form-control mb-2" placeholder="drukarka" inputmode="text" autocomplete="off" style="font-size: 32px;" value="@ViewBag.MobilePrinterIp" />
                                    </div>
                                </div>
                                <div class="row no-gutters justify-content-center">
                                    <div class="col-12">
                                        <div class="btn btn-success" id="btnSaveMobilePrinter" style="font-size: 32px;">Zapisz</div>
                                    </div>
                                </div>
                                <div class="row no-gutters mt-4">
                                    <div class="col-3">
                                        <div class="btn btn-warning" id="btnDetachMobilePrinter" style="font-size: 16px;">Odłącz</div>
                                    </div>
                                    <div class="col-6">
                                    </div>
                                    <div class="col-3">
                                        <div class="btn btn-default" id="btnTestMobilePrinter" style="font-size: 16px;">Testuj</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters justify-content-center" style="margin-bottom:0px;" id="ManageButtonsContent">
            <div class="col-12">
                <a href="#/iLOGIS/WMS/MobileMenu"><div class="btn btn-default btnAction" id="closeButton">ZAKOŃCZ</div></a>
            </div>
        </div>
    </div>


<script type="text/javascript">

    var isBusy = false;

    $(document).ready(function () {
        
    });

    $(document).on("click", "#btnSaveMobilePrinter", function () {
         //window.location.hash = "#/iLOGIS/WMS/MobileSettings";

        if (!isBusy) {
            isBusy = true;
            console.log("click.btnSaveMobilePrinter");
            let json = new JsonHelper().GetPostData("/iLOGIS/WMS/SaveMobilePrinter", { printerIP: $("#mobilePrinter").val() });
            json.done(function (result) {
                isBusy = false;
                console.log("SaveMobilePrinter.JSON.Done");
                if(result == 0)
                    new Alert().Show("success", "Zapisano");
                else
                    new Alert().Show("danger", "Zapis nie powiódł się. Upewnij się czy drukarka o podanym IP istnieje w systemie");
            });
            json.fail(function () {
                isBusy = false;
            });
        }
    })

    $(document).on("click", "#btnDetachMobilePrinter", function () {
         //window.location.hash = "#/iLOGIS/WMS/MobileSettings";

        if (!isBusy) {
            isBusy = true;
            console.log("click.btnSaveMobilePrinter");
            let json = new JsonHelper().GetPostData("/iLOGIS/WMS/DetachMobilePrinter", {  });
            json.done(function (result) {
                isBusy = false;
                new Alert().Show("success", "Odłączono drukarkę");
            });
            json.fail(function () {
                isBusy = false;
            });
        }
    })

    $(document).on("click", "#btnTestMobilePrinter", function () {
         //window.location.hash = "#/iLOGIS/WMS/MobileSettings";

        if (!isBusy) {
            isBusy = true;
            console.log("click.btnSaveMobilePrinter");
            let json = new JsonHelper().GetPostData("/iLOGIS/WMS/TestMobilePrinter", { });
            json.done(function (result) {
                isBusy = false;
                if(result == 902)
                    new Alert().Show("success", "Wydruk testowy zakończony sukcesem");
                else
                    new Alert().Show("danger", "drukowanie nie powiodło się");
            });
            json.fail(function () {
                isBusy = false;
            });
        }
    })

</script>

