<div class="row no-gutters mt-1 mb-2 border-bottom">
    <div class="col-1"></div>
    <div class="col-10" style="text-align:center">
        {{headerTitle}}
    </div>
    <div class="col-1" style="text-align:center">
        <i class="{{icon}}"></i>
    </div>
</div>