@using GridMvc.Html

@{
    ViewBag.Title = "TransporterLog";
}

<div class="row justify-content-center h-100 no-gutters flex-column">
    <div class="col-12">
        <div class="h-100 d-flex flex-column">
            <div class="row no-gutters">
                @*@{ Html.RenderAction("Index","iLogis"); }*@
            </div>
            <div class="row justify-content-center h-100 mh-100 flex-grow-1 mt-2 mb-0 no-gutters" style="overflow: auto;">
                <div class="col-12" id="transporterLogGrid">
                    Loading...
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script type="text/javascript">
        var TransporterLogGrid = new TransporterLog("#transporterLogGrid");
        $(document).ready(function () {
            TransporterLogGrid.InitGrid();
            TransporterLogGrid.RefreshGrid();
            SelectActiveMenuLink(@Html.Raw(Json.Encode(ViewContext.RouteData.Values["action"])));
        });

    </script>
}