@using MDL_ONEPROD.Model.Scheduling
@using GridMvc.Html
@model _MPPL_WEB_START.Areas.ONEPROD.Base.ViewModels.CycleTimeViewModel

@{
    /**/

    ViewBag.Title = "CONFIG: Czasy Cykli";
}

<div id="configMenu">
    @{ Html.RenderAction("Index"); }
</div>

<div class="row">
    <div class="col-lg-12" style="width: 800px;">
        <div id="ItemGroupCycleTime"></div>
    </div>
</div>

<script src="~/Areas/ONEPROD/Views/Configuration/ItemGroupCycleTime.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var ItemGroupCycleTimes = new ItemGroupCycleTime("#ItemGroupCycleTime");
        ItemGroupCycleTimes.InitGrid();
        ItemGroupCycleTimes.RefreshGrid();
    });
</script>