@using MDL_ONEPROD.Model.Scheduling
@using GridMvc.Html

@model _MPPL_WEB_START.Areas.ONEPROD.Base.ViewModels.ItemViewModel

@{
    ViewBag.Title = "CONFIG: Artykuły";
}

<div id="configMenu">
    @{ Html.RenderAction("Index"); }
</div>

@*<div class="row">
    <div class="col-md-12">
        <div class="formArea shadow">
                <div class="formInlineGroup">
                    <div class="formInlineRow">
                        @Html.Label("Wybierz obszar", new { @class = "control-label" })
                    </div>
                    <div class="formInlineRow">
                        @Html.DropDownListFor(m => m.SelectedResourceGroupId, Model.ResourceGroups, "Nieprzypisane", new { @class = "form-control", })
                    </div>
                </div>

                <div class="formInlineGroup">
                    <div class="formInlineRow">
                    </div>
                    <div class="formInlineRow">
                        <input type="button" class="btn btn-default" value="Odśwież"  id="formButton"/>
                    </div>
                </div>
            <div class="clearBothDiv"></div>
        </div>
    </div>
</div>*@

<div class="row">
    <div class="col-lg-12" style="width: 800px;">
        <div id="ItemGrid"></div>
    </div>
</div>

@section Scripts{
    
    <script src="~/_ClientAppJS/_APPWEB/Common/MyColorPicker.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var Items = new Item("#ItemGrid");
            Items.InitGrid();
            Items.RefreshGrid();

            $("#formButton").on("click", function (event) {
                var areaID = $("#SelectedResourceGroupId").val();
                //if (areaID == 1) {
                //    areaID = -1;
                //}
                console.log("areaid: " + areaID);
                Items.RefreshGrid({ AreaId: areaID });
            });
            //$(document).ready(function () {

            //});

            //InitEditableGrid();
            //new Item().InitColorPicker();
        });
    </script>
}