
<div class="row" id="GantChart" style="margin-bottom: 55px;">
    <div class="col-md-12">
        {{#isData}}
        <div class="sgcRowWorkorder sgcRowSnappable resourceArea_1" id="Workorderbuffer" style="margin-left: 125px; width: 1500px;"></div>
        
        <div class="sgcResourceCol">
            {{#data.ResourceGroups}}
            <div class="sgcRow sgcRowTimer">
                <div class="sgcBlock scgBlockResource scgBlockTimer" style="background-color: rgb(86, 150, 147);">
                    {{Name}}
                </div>
            </div>
            {{#Resources}}
            <div class="sgcRow" data-resourceId="{{Id}}">
                <div class="sgcBlock scgBlockResource">
                    <span style="display: inline-block; vertical-align: middle; line-height: 18px;">{{Name}}</span>
                </div>
            </div>
            {{/Resources}}
            {{/data.ResourceGroups}}

            {{#data.ClientOrderResource}}
            <div class="sgcRow clorrs" data-resourceId="{{Id}}">
                <div class="sgcBlock scgBlockResource">
                    <span style="display: inline-block; vertical-align: middle; line-height: 18px;">{{Name}}</span>
                </div>
            </div>
            {{/data.ClientOrderResource}}
        </div>

        <div class="sgcWorkordersCol" style="overflow-x: scroll; overflow-y: hidden;">
            <div style="position: absolute; left:{{CurrentTimeRedLinePosition}}px; height: 100%; width:1px; border-left: 5px solid rgba(255,0,0,0.25); z-index: 2000;"></div>

            {{#data.ResourceGroups}}
            <oneprod-aps-ganttchart-timer data='{"SelectedDateFrom":"{{SelectedDateFrom}}","SelectedDateTo":"{{SelectedDateTo}}","SecToPixelRatio":"{{SecToPixelRatio}}","Zoom":"{{Zoom}}"}'></oneprod-aps-ganttchart-timer>
                {{#Resources}}
                <oneprod-aps-ganttchart-resourcerow data-resourceId="{{Id}}"></oneprod-aps-ganttchart-resourcerow>
                {{/Resources}}
            {{/data.ResourceGroups}}

            {{#data.ClientOrderResource}}
            <div class="sgcRowWorkorder" style="width:{{width}}px;">
                {{#ClientOrders}}
                <oneprod-aps-ganttchart-item data='{{..|JSON.stringify}}'></oneprod-aps-ganttchart-item>
                {{/ClientOrders}}
            </div>
            {{/data.ClientOrderResource}}

        </div>
        {{/isData}}
    </div>
</div>

<div class="row StatusBar">
    <div class="col-md-12">
        <div class="StatusBarContent">
            <div class="row">
                <div class="col-3 sbline"><span class="glyphicon glyphicon-barcode"></span><span class="descr">Code: </span><span id="sbcCode"></span></div>
                <div class="col-4 sbline"><span class="glyphicon glyphicon-font"></span><span class="descr">Name: </span><span id="sbcName"></span></div>
                <div class="col-2 sbline"><span class="glyphicon glyphicon-equalizer"></span><span class="descr">Qty: </span><span id="sbcQty"></span></div>
                <div class="col-3 sbline"><span class="glyphicon glyphicon-time"></span><span class="descr">StartTime: </span><span id="sbcStartTime"></span></div>
            </div>
            <div class="row">
                <div class="col-3 sbline"><span class="glyphicon glyphicon-triangle-right"></span><span class="descr">Order: </span><span id="sbcOrder"></span></div>
                <div class="col-4 sbline"><span class="glyphicon glyphicon-star"></span><span class="descr">2: </span><span id="sbc2"></span></div>
                <div class="col-2 sbline"><span class="glyphicon glyphicon-star"></span><span class="descr">Prod.Time: </span><span id="sbcProdTime"></span></div>
                <div class="col-3 sbline"><span class="glyphicon glyphicon-time"></span><span class="descr">EndTime:  </span><span id="sbcEndTime"></span></div>
            </div>
            <div id="SelectedWorkorderDetails" style="max-height:50px; max-width: 100%; padding: 5px; overflow: hidden;">
            </div>
        </div>
    </div>
</div>
