<div class="sgcRowWorkorder sgcRowTimer" style="width:{{width}}px;">
    {{#TimeBlocks}}
    <div class="sgcBlock scgBlockTimer {{CssClass}}" style="width: {{Width}}px;">
        {{TimeString}}
    </div>
    {{/TimeBlocks}}
</div>
