<div class="sgcRowWorkorder sgcRowSnappable resourceArea_{{ResourceGroupId}}"
     style="width:{{width}}px;" id="resource_{{Id}}" resourceId="{{Id}}">
    {{#ShowBatches}}
        {{#Batches}}
        <oneprod-aps-ganttchart-batch data='{{..|JSON.stringify}}' data-datefrom='{{selectedDateFrom}}' data-zoom='{{zoom}}'>
        </oneprod-aps-ganttchart-batch>
        {{/Batches}}
    {{/ShowBatches}}

    {{^ShowBatches}}
        {{#Workorders}}
        <oneprod-aps-ganttchart-item data='{{..|JSON.stringify}}' data-datefrom='{{selectedDateFrom}}' data-zoom='{{zoom}}'>
        </oneprod-aps-ganttchart-item>
        {{/Workorders}}
    {{/ShowBatches}}
</div>