
@{
    ViewBag.Title = "Dokumenty WZ";
}

<style>
    .rowDeleted .jsgrid-cell {
        background-color: #a2746c57;
        color: #d5a0a0 !important;
        border-bottom: 1px solid #ff86867d !important;
    }
</style>

<div class="row no-gutters mb-2">
    <div class="col-12">
        <div class="formArea shadow">
            <form id="formId">
                <fieldset>
                    <div class="form-group row no-gutters">
                        <div class="col-2 pr-2">
                            <input type="text" class="form-control" placeholder="Dostawca" name="contractorName" autocomplete="off">
                        </div>
                        <div class="col-1 pr-2">
                            <input type="text" class="form-control" placeholder="Nr. dokumentu" name="documentNumber" autocomplete="off">
                        </div>
                        <div class="col-1 pr-2">
                            <input type="text" class="form-control datepicker" placeholder="Data dokumentu" name="documentDate" autocomplete="off">
                        </div>
                        <div class="col-1 pr-2">
                            <input type="text" class="form-control datepicker" placeholder="Data wprowadzenia" name="stampTime" autocomplete="off">
                        </div>
                        <div class="col-2 pr-2">
                            <input type="text" class="form-control tbItemCode" placeholder="Kod produktu" name="itemCode" autocomplete="off">
                        </div>
                        <div class="col-2 pr-2">
                            <input type="text" class="form-control tbNotice" placeholder="Notatka" name="notice" autocomplete="off">
                        </div>
                        <div class="col-1 ml-4">
                            <div class="btn btn-info form-control" id="searchButton">
                                Szukaj
                            </div>
                        </div>
                        <div class="col-1 ml-4">
                            <div class="btn btn-warning form-control" id="createNewButton">
                                Utwórz Nową
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div class="row no-gutters">
    <div class="col-12">
        <div id="grid"></div>
    </div>
</div>

<script type="text/javascript">
    var whDocumentGrid = new WhDocumentGrid("#grid");

    $(document).ready(function () {
        console.log("WhDocument Browse Loaded");
        whDocumentGrid.InitGrid();
        whDocumentGrid.RefreshGrid();
    });

    $(document).on("click", "#searchButton", function () {
        Refreshgrid();
    });

    $(document).on("click", "#createNewButton", function () {
        window.open("/iLogis/WhDoc/Index/" + 0, '_blank');
    });

    $(document).on('keydown', "#formId", (event) => { if (event.which === 13) { Refreshgrid(); return true; } });

    function Refreshgrid() {
        console.log("Refreshgrid");
        var formData = convertFormToArray($("#formId")[0]);
        whDocumentGrid.RefreshGrid(formData);
    }

    function Delete(id) {

        bootbox.confirm({
            message: "Jesteś pewny, że chcesz usunać WZ?",
            size: 'small',
            buttons: {
                cancel: { label: '<i class="fa fa-times"></i> NIE' },
                confirm: { label: '<i class="fa fa-check"></i> TAK' }
            },
            callback: function (result) {
                if (result == true) {
                    var json = new JsonHelper().GetPostData("/iLogis/WhDoc/Delete", { id });
                    json.done(function (jsonModel) {
                        if (jsonModel.Data == null) {
                            new Alert().Show(jsonModel.MessageTypeString, jsonModel.Message);
                        } else {
                            new Alert().Show(jsonModel.MessageTypeString, jsonModel.Message);
                            Refreshgrid();
                        }
                    });
                }
            }
        });
    }

</script>
