@{
    ViewBag.Title = "Security";
    ViewBag.BodyClass = "mobile";
}

<style>
    #page-content-wrapper {
        padding: 0 !important;
    }

    .table-bordered td, .table-bordered th {
        border: 1px solid #384b5e !important;
    }

    .card {
        background-color: #569693 !important;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 0;
        color: white;
    }

    .btn {
        border-radius: 0px !important;
    }
</style>


<div class="h-100 d-flex flex-column" id="contentView">
    
</div>
<script id="securityApproveTemplate" type="x-tmpl-mustache">
    {{^visibleContent}}
    <ilogis-wms-mobile-pageheader headerTitle="Skanowanie WZ" icon="fas fa-qrcode">
    </ilogis-wms-mobile-pageheader>
    <div class="row no-gutters justify-content-center mb-2">
        <div class="col-12">
            <div class="card m-1">
                <div class="card-body p-1">
                    <div class="form-group row no-gutters mb-0">
                        <label class="col-3 col-form-label">Qr Kod: </label>
                        <div class="col-9 col-form-label" id="ContractorName">
                            <input type="text" class="form-control" autocomplete="off" id="barcodeWZ">
                        </div>
                    </div>
                    <div class="form-group row no-gutters mt-3 justify-content-end">
                        <div class="btn btn-block btn-default col-9" id="scannedWZ">
                            Zatwierdź zeskanowy kod
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/visibleContent}}
    {{#visibleContent}}
    <div class="row no-gutters justify-content-center mb-2">
        @*@Model.ToString()*@
        <div class="col-12">
            <div class="card m-1">
                <div class="card-body p-1">
                    <div class="form-group row no-gutters mb-0">
                        <label for="ContractorName" class="col-4 col-form-label">Odbiorca: </label>
                        <div class="col-8 col-form-label" id="ContractorName">
                            {{ContractorName}}
                        </div>
                    </div>
                    <div class="form-group row no-gutters mt-0 mb-0">
                        <label for="DocumentDate" class="col-4 col-form-label">Data wysyłki: </label>
                        <div class="col-8 col-form-label" id="DocumentDate">
                            {{DocumentDateStr}}
                        </div>
                    </div>
                    <div class="form-group row no-gutters mt-0 mb-0">
                        <label for="Invoice" class="col-4 col-form-label">Nr Faktury: </label>
                        <div class="col-8 col-form-label" id="Invoice">
                            {{DocumentNumber}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row no-gutters justify-content-center mb-auto flex-grow-1" style="overflow-y: scroll">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Kod</th>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Ilość</th>
                </tr>
            </thead>
            <tbody>
                {{#WhDocumentItems}}
                <tr>
                    <th scope="row">{{ItemCode}}</th>
                    <th scope="row">{{ItemName}}</th>
                    <th scope="row">{{IssuedQty}}</th>
                </tr>
                {{/WhDocumentItems}}
            </tbody>
        </table>

    </div>
    {{^isApprovedBySecurity}}
    <div class="row no-gutters justify-content-center" style="margin-bottom:0px;">
        <div class="col-6" id="ConfirmButton">
            <div class="btn btn-success btn-bottom btn-lg w-100 " onclick="Approve()">POTWIERDŹ</div>
        </div>
        <div class="col-6" id="ResetButton">
            <div class="btn btn-danger btn-bottom btn-lg w-100 " onclick="Reset()">RESETUJ</div>
        </div>
    </div>
    {{/isApprovedBySecurity}}
    {{#isApprovedBySecurity}}
    <div class="row no-gutters justify-content-center" style="margin-bottom:0px;">
        <div class="col-12" id="ResetButton">
            <div class="btn btn-danger btn-bottom btn-lg w-100 " onclick="Reset()">RESETUJ</div>
        </div>
    </div>
    {{/isApprovedBySecurity}}
    {{/visibleContent}}
</script>
<script type="text/javascript">
    var viewModel = {};

    $(document).ready(function () {
        openFullscreen();
        viewModel.visibleContent = false;
        RenderTemplate("#securityApproveTemplate", "#contentView", viewModel);
    });

    $(document).off("click", "#scannedWZ");
    $(document).on("click", "#scannedWZ", function () {
        console.log("Kliknięto");
        let barcode = $("#barcodeWZ").val();
        var JsonHelp = new JsonHelper();
        let ReturnJson = JsonHelp.GetPostData("/iLogis/WhDoc/IndexMobileSecurityGetData", {
            barcode
        });
        ReturnJson.done(function (jsonModel) {
            if (jsonModel.Data != null) {
                viewModel = jsonModel.Data;
                viewModel.visibleContent = true;
                viewModel.isApprovedBySecurity = jsonModel.Data.SecurityApproverId == null ? false : true;
                RenderTemplate("#securityApproveTemplate", "#contentView", viewModel);
            }
            new Alert().Show(jsonModel.MessageTypeString, jsonModel.Message); 
        });
    });

    function Reset() {
        viewModel = {};
        viewModel.visibleContent = false;
        RenderTemplate("#securityApproveTemplate", "#contentView", viewModel);
    }
    function Approve() {
        var JsonHelp = new JsonHelper();
        let ReturnJson = JsonHelp.GetPostData("/iLogis/WhDoc/IndexMobileSecurityConfirmDocument", {
            documentId: viewModel.Id
        });
        ReturnJson.done(function (jsonModel) {
            if (jsonModel != null) {
                viewModel.isApprovedBySecurity = true;
                new Alert().Show(jsonModel.MessageTypeString, jsonModel.Message);
            }
            RenderTemplate("#securityApproveTemplate", "#contentView", viewModel);
        });
    }

</script>
