@{
    ViewBag.Title = "Automatic Rules Pk.";
}

<div class="row justify-content-center h-100 no-gutters flex-column">
    <div class="col-12">
        <div class="h-100 d-flex flex-column">
            <div class="row no-gutters">
                @{ Html.RenderAction("Index"); }
            </div>
            <div class="row justify-content-center h-100 mh-100 flex-grow-1 mt-2 mb-0 no-gutters" style="overflow: auto;">
                <div class="col-11" id="automaticRulePackageGrid">
                    Loading...
                </div>
                <div class="col-1">
                    <div id="btnApplyRules" class="btn btn-default">Zastosuj</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Areas/iLOGIS/Views/Config/AutomaticRulePackageGrid.js"></script>
<script type="text/javascript">

    var automaticRulePackage = new AutomaticRulePackageGrid("#automaticRulePackageGrid");
    $(document).ready(function () {
        console.log("Automatic Rule Grid")
        automaticRulePackage.InitGrid();
        automaticRulePackage.RefreshGrid();
        SelectActiveMenuLink(@Html.Raw(Json.Encode(ViewContext.RouteData.Values["action"])));
    });

    //$('#btnApplyRules').on('click', function () {
    //    var woJson = new JsonHelper().GetPostData("/iLogis/Config/AutomaticRulePackageApply", {});
    //    woJson.done(function (data) {
    //        if (data == true) {
    //            new Alert().Show("success", "Operacja zakończona powodzeniem");
    //        }
    //        else {
    //            new Alert().Show("danger", "Operacja nie powiodła się");
    //        }
    //    });
    //});

    $('#btnApplyRules').on('click', function () {
        //$(".jsgrid-row, .jsgrid-alt-row").each(function () { }); 
        rows = $(".jsgrid-row, .jsgrid-alt-row");
        applyRule(0);
    });

    var rows = $(".jsgrid-row, .jsgrid-alt-row");
    function applyRule(rowIndex)
    {
        if (rowIndex < rows.length) {
            let row = rows[rowIndex];
            let idField = $($(row).find(".jsgrid-cell")[0])
            let activeCheckBoxField = $($(row).find(".jsgrid-cell")[10])
            let id = parseInt($(idField).text());
            let isActive = $(activeCheckBoxField).find("[type='checkbox']").is(":checked");

            if (id > 0 && isActive == true) {
                new JsonHelper().GetPostData("/iLogis/Config/AutomaticRulePackageApplyById", { id })
                    .done(function (data) {
                        if (data == true) {
                            //new Alert().Show("success", "Operacja zakończona powodzeniem");
                            $(idField).css("background-color", "green");
                        }
                        else {
                            new Alert().Show("danger", "Jedna z operacji nie powiodła się. Id reguły: " + id);
                            $(idField).css("background-color", "red");
                        }

                        applyRule(rowIndex + 1);
                    });
            }
            else {
                applyRule(rowIndex + 1);
            }
        }
        else {
            new Alert().Show("info", "Zakończono");
        }
    }


</script>