
@{
    ViewBag.Title = "ItemWMS";
    Layout = null;
}


<div class="row no-gutters">
    <div class="col-12">
        <div class="formArea shadow">
            <div class="formInlineGroup">
                <div class="formInlineRow">
                    <label>Artykuł wzorcowy</label>
                </div>
                <div class="formInlineRow">
                    @Html.TextBox("itemCode", "", new { @class = "form-control datetimepicker", @autocomplete = "off" })
                </div>
            </div>
            <div class="formInlineGroup">
                <div class="formInlineRow">
                    <label>Artykuł docelowy</label>
                </div>
                <div class="formInlineRow">
                    @Html.TextBox("itemCodeNew", "", new { @class = "form-control datetimepicker", @autocomplete = "off" })
                </div>
            </div>
            <div class="formInlineGroup">
                <div class="formInlineRow">
                </div>
                <div class="formInlineRow">
                    <input type="button" class="btn btn-success" value="Kopiuj" id="btnCopySettings" />
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>


<script type="text/javascript">

    var itemWMSCopySettings = new ItemWMSCopySettings();

    $(document).ready(function () {

    });

    $("#btnCopySettings").on("click", function () {
        console.log("click");
        let itemCode = $("#itemCode").val();
        let itemCodeNew = $("#itemCodeNew").val();
        itemWMSCopySettings.Copy(itemCode, itemCodeNew);
    });

</script>
