@using MDL_ONEPROD.Model.Scheduling
@using GridMvc.Html
@model IEnumerable<int>

@{
    Layout = null;
    ViewBag.Title = "PackageItem-Group";
}

<div id="PackageItemGroupT" data-val="">
    <div class="row">
        <div class="col-lg-12" style="width: 800px;">
            <div id="PackageItemGroupPopup"></div>
        </div>
    </div>
    <hr />
</div>

<script type="text/javascript">
    var arrayIds = @Html.Raw(Json.Encode(Model));
    console.log(arrayIds);
    $(document).ready(function () {
        var PackageItemGroupPopups = new PackageItemGroupPopup("#PackageItemGroupPopup");
        PackageItemGroupPopups.SetTable(arrayIds);
        PackageItemGroupPopups.InitGrid();
        PackageItemGroupPopups.RefreshGrid();
        SelectActiveMenuLink(@Html.Raw(Json.Encode(ViewContext.RouteData.Values["action"])));
    });
</script>


