
@{
    ViewBag.Title = "Definiowanie Obszarów";
}

<div class="container">
    <div class="row">
        <div id="jsGrid"></div>
    </div>
</div>


<script type="text/javascript">
        $("#jsGrid").jsGrid({
            height: "400px",
            width: "100%",
            autoload: true,
            inserting: true,
            editing: true,
            deleteConfirm: function (item) {
                return "The client \"" + item.Name + "\" will be removed. Are you sure?";
            },
            controller: {
                loadData: function (filter) {
                    var temp;
                    $.ajax({
                        async: false,
                        type: "GET",
                        url: "PFEP/Area/GetAreas",
                        data: filter,
                        success: function (dataB) {
                            temp = dataB;
                        },
                    });
                    return temp
                },
                insertItem: function (item) {
                    $.ajax({
                        async: false,
                        type: "POST",
                        url: "PFEP/Area/AddArea",
                        data: item,
                    })
                },
                deleteItem: function (item) {
                    $.ajax({
                        async: false,
                        type: "POST",
                        url: "PFEP/Area/DeleteArea",
                        data: item,
                    })
                },
                updateItem:function(item) {
                    $.ajax({
                        async: false,
                        type: "POST",
                        url: "PFEP/Area/AddArea",
                        data: item,
                    })
                },
            },
            fields: [
                { name: "Name", title: "Opis", type: "text", width: 200 },
                {
                    type: "control",
                    modeSwitchButton: false,
                    editButton: false,
                }
            ]
        });

</script>