
@{
    //ViewBag.Skin = "nasaSkin";
    string trainName = ViewBag.TrainName;
    int trainId = ViewBag.TrainId;
    int loopQty = ViewBag.LoopQty;
}

<style>
    html, body, #DeliveryList {
        height: 100%;
    }

    #DeliveryList {
        min-width: 1200px;
    }

    #page-content-wrapper {
        padding: 0 !important;
    }

    #wrkstInventory .btn, #wrkstInventory input {
        width: 100%;
        font-size: 26px;
    }

    .line101 {
        border-bottom: 5px solid #ff46d1;
    }

    .line103 {
        border-bottom: 5px solid yellow;
    }

    .line104 {
        border-bottom: 5px solid #977eff;
    }
    #transporterName{
        border: 1px solid #69c2b6;
        padding: 0 5px;
        border-radius: 10px;
        height: 38px;
        line-height: 34px;
        margin-top: 8px;
        text-align: center;
        background: #76d7c914;
    }
</style>

<div id="DeliveryList">
    <div class="row no-gutters h-100" id="table" style="text-align: center; flex-flow: column;">
        <div class="col-12">
            <div class="h-100 d-flex flex-column">
                @*HEADER*@
                <div class="row no-gutters header">
                    <div class="col" style="max-width: 440px; border-right: 1px solid #00bcff59;">
                        <div class="row no-gutters">
                            <div class="col-8 headerOrderRow" style="height: 50px;z-index: 5;font-size: 24px;line-height: 50px;padding-left: 12px;text-align: left;">
                                <div id="transporterName">@trainName</div>
                            </div>
                            <div class="col-4 headerOrderRow" style="height: 50px; z-index: 5; text-align: right;">
                                <div class="btn btn-info" id="btnSetupLimiter" style="margin-top: 8px; margin-right: 8px;">Załadunek</div>
                            </div>
                            <div class="col-12" id="itemRowHeadersH">
                                <div class="row no-gutters itemRowH itemRowHeaderH" data-itemId="0" style="font-size: 22px;">
                                    <div class="hidden id">P6</div>
                                    <div class="flex-column gridCell wrkst">ST</div>
                                    <div class="flex-column gridCell code">KOD</div>
                                    <div class="flex-column gridCell name">NAZWA</div>
                                    <div class="flex-column gridCell box">OP</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col border-left-0">
                        <div class="row no-gutters rowWithFlexColumns">

                            <div class="col headerOrderRow" style="overflow-x:scroll; overflow-y: hidden;" id="orderHeadersScroll">
                                <div class="row no-gutters" style="width: 200%">

                                    <div class="d-flex h-100" style="width: 100%;border-left: 4px solid #00bcff59;">
                                        <div class="flex-grow-1 mr-auto orderHeaders h-100" id="orderHeaders2">
                                            
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="flex-column">
                                <div class="row no-gutters">
                                    <div class="col-12">
                                        <div class="h-100 summary summaryHeader" style="min-height: 90px; margin-right: 10px;">
                                            <div class="row"><div class="col-12">summary</div></div>
                                            <div class="row"><div class="col-12" id="loopDates"></div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*DATA*@
                <div id="rowTwo" class="row no-gutters flex-grow-1">
                    <div class="col" style="max-width: 440px; border-right: 1px solid #00bcff59;">
                        <div class="row no-gutters">
                            <div class="col-12" id="itemRowHeaders">
                                <div class="row no-gutters itemRow itemRowHeader" data-itemId="0" data-wrkstorder="0">
                                    <div class="hidden id">P6</div>
                                    <div class="flex-column gridCell wrkst">ST</div>
                                    <div class="flex-column gridCell code">KOD</div>
                                    <div class="flex-column gridCell name">NAZWA</div>
                                    <div class="flex-column gridCell box">OP</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col border-left-0">
                        <div class="row no-gutters rowWithFlexColumns ">

                            <div class="col" id="itemRows" style="overflow-x:scroll; overflow-y: hidden;">
                                <div class="row no-gutters itemRow itemRowData" data-itemId="0" style="width: 200%">
                                    <div class="col woItemDataCells2">

                                    </div>
                                </div>
                            </div>
                            <div class="flex-column" id="itemSummaryRows">
                                <div class="row no-gutters itemRow itemRowSummary" data-itemId="0">
                                    <div class="col-12 summary">
                                        <div class="summary1a">
                                            <span class="summary1 badge badgeDL"></span>
                                        </div>
                                        <div class="summary3">
                                            <div class="summary3A"></div>
                                            <div class="summary3B"></div>
                                        </div>
                                        <div class="summary2"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="rowTree" class="row no-gutters flex-grow-1 hidden">
                    <div class="col-12" id="loading"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script src="~/Areas/iLOGIS/Views/DeliveryList/ItemManage.js"></script>*@
<script type="text/javascript">
    let trainId = @Html.Raw(Json.Encode(trainId));
    var loopQty = @Html.Raw(Json.Encode(loopQty));

    var dl = new DeliveryListMultiLines(trainId, loopQty);
    $(document).ready(function () {
        openFullscreen();
        console.log("Page Loaded");
        dl.Refresh();
    });

    //USER ACTION LISTENERS
    $(document).on("click", ".itemRow", function () {
        var itemWMSId = $(this).attr("data-itemid");
        var wrkstId = $(this).attr("data-workstationid");
        dl.SetSelectedItemRow($(this).index());
        dl.ItemManage().ShowPopup_ItemManage(itemWMSId, wrkstId);
    });
    $(document).on("click", ".summaryHeader", function () { dl.FilterItemsByDemand(); });
    $(document).on("click", "#btnSetupLimiter", function () { dl.SetupLimiter(); });

    var elOH = document.getElementById("orderHeadersScroll");
    var hmr = new Hammer(elOH);
    hmr.get('swipe').set({ direction: Hammer.DIRECTION_ALL });
    //hmr.on("swipeleft", function (event) {
    //    dl.ItemManage().MoveLimiter(-1);
    //});
    //hmr.on("swiperight", function (event) {
    //    dl.ItemManage().MoveLimiter(1);
    //});
    hmr.on("swipedown", function (event) {
        dl.Refresh();
    });
    $('#itemRows').on('scroll', function () {
        $('#orderHeadersScroll').scrollLeft($(this).scrollLeft());
    });
    $("#transporterName").on("click", function () {
        console.log("wtf");
        $(this).hide();
        location.reload(true);
    });
</script>
