@{
    Layout = null;
    int itemWMSId = ViewBag.ItemWMSId;
    int workstationId = ViewBag.WorkstationId;
    int workstationQty = ViewBag.WorkstationQty;
}

    <div id="qtyEditor" class="row no-gutters">
        <div class="col-6" id="kaypad113"></div>
        <div class="col-4" id="wrkstInventory" style="text-align: center;">
            <div class="row no-gutters">
                <div class="col-12 hidden">Ilość systemowa</div>
                <div class="col-12 hidden"><input id="workstationQty" value="@workstationQty" disabled></div>
                <div class="col-12">Ilość dostarczona</div>
                <div class="col-12"><input id="deliveredQty" value="" disabled></div>
                <div class="col-12 mt-2">
                    <div id="btnConfirmDelivery" data-itemId="@itemWMSId" data-wrkstId="@workstationId" class="btn btn-success">Potwierdz</div>
                </div>
            </div>
        </div>
    </div>

        