
@{
    Layout = null;
}

<style>
    .selectedJob {
        background-color: #00fa0012 !important;
        color: #588158 !important;
    }
</style>

<div class="row">
    <div class="col-12">
        <div class="formArea shadow">            
            <div class="formInlineGroup">
                <div class="formInlineRow">
                    <label>PNC:</label>
                </div>
                <div class="formInlineRow">
                    @Html.TextBox("ItemCode", "911526297", new { @class = "form-control", @autocomplete = "off" })
                </div>
            </div>
            
            <div class="formInlineGroup">
                <div class="formInlineRow">
                </div>
                <div class="formInlineRow">
                    <input type="button" class="btn btn-success" value="Start" id="btnRefresh" />
                </div>
            </div>

            <div style="clear: both;"></div>
        </div>
    </div>
</div>

<div id="table">
    <table class="jsgrid-table">
        <thead>
            <tr class="jsgrid-header-row">
                <th class="jsgrid-header-cell" style="width: 20px;">CamNo</th>
                <th class="jsgrid-header-cell" style="width: 20px;">JobNo</th>
                <th class="jsgrid-header-cell" style="width: 20px;">PairNo</th>
                <th class="jsgrid-header-cell" style="width: 40px;">ItemCode</th>
                <th class="jsgrid-header-cell" style="width: 75px;">ItemName</th>
                <th class="jsgrid-header-cell" style="width: 120px;">Description</th>
            </tr>
        </thead>
        <tbody id="tbdy" style="color: lightgray;">
        </tbody>
    </table>
</div>

<script type="text/javascript">

    $("#btnRefresh").click(function () {
        
        $("#tbdy").html("")
        var pnc = $("#ItemCode").val();
        var json = new JsonHelper();
        
        var jobs = json.GetData("/OTHER/VisualControl/TesterGetData", { itemCode: pnc });
        jobs.done(function (data) {
            var prevCam = 0;
            
            for (i = 0; i < data.length; i++) {

                var tr = $("<tr class='jsgrid-row'>");

                if (prevCam != data[i].CameraNo) {
                    $(tr).addClass("selectedJob");
                }
                
                $(tr).append("<td class='jsgrid-cell'>" + data[i].CameraNo + "</td>");
                $(tr).append("<td class='jsgrid-cell'>" + data[i].JobNo + "</td>");
                $(tr).append("<td class='jsgrid-cell'>" + data[i].PairNo + "</td>");
                $(tr).append("<td class='jsgrid-cell'>" + data[i].ItemCode + "</td>");
                $(tr).append("<td class='jsgrid-cell'>" + data[i].ItemName + "</td>");
                $(tr).append("<td class='jsgrid-cell'>" + data[i].Description + "</td>");
                $("#tbdy").append($(tr));

                prevCam = data[i].CameraNo;
            }
        });
    });

</script>