@{
    ViewBag.Title = "PickByLight Konfiguracja";
}

<h2>Pick By Light Config</h2>
<div id="PickByLightInstanceGrid"></div>

<script src="~/Areas/OTHER/Views/PickByLight/PickByLightInstance.js"></script>
<script src="~/Areas/OTHER/Views/PickByLight/PickByLightInstanceElement.js"></script>
<script type="text/javascript">

    var pickByLightInstanceGrid;
    var wnd;

    $(document).ready(function () {
        pickByLightInstanceGrid = new PickByLightInstanceGrid("#PickByLightInstanceGrid");
        pickByLightInstanceGrid.InitGrid();

    });

    $("#btnTest").click(function () {
        //$.get("/OTHER/VisualControl/Tester", function (data) {
        //    wnd = new PopupWindow(1000, 400);
        //    wnd.Init("ConfigTester", "Testowanie konfiguracji");
        //    wnd.Show(data);
        //});
    });

</script>