@model int
@{
    ViewBag.Title = "PickByLightInstanceElement";
    Layout = null;
}

<div id="PickByLightInstanceElementGrid"></div>


<script type="text/javascript">

    var pickByLightInstanceElementGrid = null;
    var wnd;

    $(document).ready(function () {
        pickByLightInstanceElementGrid = new PickByLightInstanceElementGrid("#PickByLightInstanceElementGrid",  @Html.Raw(Json.Encode(Model)));
        pickByLightInstanceElementGrid.InitGrid();

    });

</script>