@using GridMvc.Html

@{
    ViewBag.Title = "PFEP Data";
}

<style>
    .cellDeleted, .itemControll {
        border-radius: 10px;
        padding-top: 5px;
        margin-top: -5px;
    }
    .cellDeleted.active {
        background-color: #00ff4c4a;
    }
    .cellDeleted.inactive {
        background-color: #ff00004a;
    }
    .itemControll.active {
        background-color: #00ff4c4a;
    }
    .itemControll.inactive {
        background-color: rgba(0, 169, 255, 0.29);
    }
</style>

<div class="row justify-content-center h-100 no-gutters flex-column">
    <div class="col-12">
        <div class="h-100 d-flex flex-column">
            <div class="row no-gutters">
                @{ Html.RenderAction("Index", "Config", new { area = "iLOGIS" }); }
            </div>
            <div class="row justify-content-center h-100 mh-100 flex-grow-1 mt-2 mb-0 no-gutters" style="overflow: auto;">
                <div class="col-12" id="dataGrid">
                    Loading...
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    
    <script type="text/javascript">
        var grid1 = null;
        var wnd = null;
        var dataGrid = new DataGrid("#dataGrid");
        $(document).ready(function () {
            dataGrid.InitGrid();
            dataGrid.RefreshGrid();
            SelectActiveMenuLink(@Html.Raw(Json.Encode(ViewContext.RouteData.Values["action"])));
        });

        //$(document).keypress(function (event) {
        //    console.log(event.which);
        //    console.log("keypress (keykode: " + event.which + ")");
        //    if (event.which == 13 || event.which == 98) {
        //        grid1 = $("#dataGrid").data("JSGrid");
        //        //var data = $('#dataGrid').jsGrid();
        //        //console.log(grid1);
        //        //console.log(grid1.fields);
        //        grid1.ExportExcel();
        //    }
        //});

    </script>
}