
<div id="aaaa">
    <div class="row no-gutters">
        <div class="col-2">
            <div class="infoText infoTextH">DOST.:</div>
        </div>
        <div class="col-4">
            <div class="infoText" id="A">{{A}}</div>
        </div>
        <div class="col-6 text-truncate">
            <div class="infoText " id="B">{{B}}</div>
        </div>
    </div>
</div>
