@{
    Layout = null;
    var supplierId = ViewBag.SupplierId;
    var deliveryId = ViewBag.DeliveryId;
    var deliveryItemListGroupGuid = ViewBag.DeliveryItemListGroupGuid;
}
<style>
    
</style>

<div class="h-100 d-flex flex-column">

    <ilogis-wms-mobile-pageheader headerTitle="Podsumowanie Inspekcji Dostawy" icon="fas fa-barcode">
    </ilogis-wms-mobile-pageheader>

    @*Information about contractor and document number*@
    <div class="row no-gutters justify-content-center flex-grow-1 mb-1">
        <div class="col-12">
            <div class="card" style="border-radius: 0;">
                <div class="card-body p-1">
                    <div id="deliveryInspectionInfoHeader"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters justify-content-center">
        <div class="col-12">
            <div class="row no-gutters text-center gridHeader">
                <div class="col-4">Kod</div>
                <div class="col-4 text-left">Nazwa</div>
                <div class="col-2">Ilość</div>
                <div class="col-2">OK?</div>
            </div>
        </div>
    </div>
    <div class="row no-gutters justify-content-center flex-grow-1 mb-auto" style="overflow-y: auto;">
        <div class="col-12">
            <div class="text-center" id="deliveryListItemsSummary">
                @*Kontent view*@
            </div>
        </div>
    </div>
    @*Manage Buttons*@
    <div class="row no-gutters justify-content-center mb-0">
        <div class="col-6">
            <div class="btn btn-warning btnAction" id="backButton">< WRÓĆ</div>
        </div>
        <div class="col-6">
            <div class="btn btn-default btnAction" id="closeInspectionSummaryButton">ZAKOŃCZ</div></a>
        </div>
    </div>
</div>

<script id="deliverySummaryTemplate" type="x-tmpl-mustache">
    {{#DeliveryItems}}
    <div class="deliverySummaryRow">
        <div class="row no-gutters ">
            <div class="col-4 itemCode">
                {{ ItemCode }}
            </div>
            <div class="col-4 text-truncate text-left summaryItemName">
                {{ ItemName }}
            </div>
            <div class="col-2">
                {{ TotalQtyFound }}
            </div>
            <div class="col-2 summaryStatusIcon">
                <div class="locateStatusBox" data-locateAssignedProgress="{{LocateAssignedProgress}}">
                    <div class="w-100 LocateAssignedProgressStatus" style="height:{{LocateAssignedProgress}}%;"></div>
                </div>
                <div class="{{ StatusIcon }}"style="width:85% !important"> </div>
                @*<i class="{{ StatusIcon }}" style="width:85% !important"></i>*@
            </div>
        </div>
    </div>
    {{/DeliveryItems}}
</script>

<script type="text/javascript">
    var deliveryInspectionSummary = new DeliveryInspectionSummary(@Html.Raw(Json.Encode(supplierId)), @Html.Raw(Json.Encode(deliveryId)),@Html.Raw(Json.Encode(deliveryItemListGroupGuid)));
    var DeliveryInspectionSummaryViewModel = @Html.Raw(Json.Encode(Model));

    $(document).ready(function () {
        deliveryInspectionSummary.Init(DeliveryInspectionSummaryViewModel);
    });
</script>
