@{
    Layout = null;
    var itemCode = ViewBag.ItemCode;
    var deliveryId = ViewBag.DeliveryId;
    var deliveryItemListGroupGuid = ViewBag.DeliveryItemListGroupGuid;
}

<style>
    .deliverySummaryItemRowPrinted {
        color: rgba(255, 255, 255, 0.14);
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid #9fdef438;
    }

    .summaryItemLocateStatusIcon {
        font-size: 25px;
        color: rgba(255, 255, 255, 0.05);
    }
    .fs20{
        font-size: 20px;
    }
.selectedRow{
    background-color: rgba(128, 221, 251, 0.20);
}
    .selectedRow .summaryItemLocateStatusIcon {
        color: rgb(0, 255, 33);
    }
</style>

<div class="h-100 d-flex flex-column">

    <ilogis-wms-mobile-pageheader headerTitle="Podsumowanie Inspekcji Dostawy" icon="fas fa-barcode">
    </ilogis-wms-mobile-pageheader>

    @*Information about contractor and document number*@
    <div class="row no-gutters justify-content-center flex-grow-1 mb-1">
        <div class="col-12">
            <div class="card" style="border-radius: 0;">
                <div class="card-body p-1">
                    <div id="deliveryInspectionInfoHeader"></div>
                    <div id="deliveryInspectionItemInfoHeader"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-12">
            <div class="text-center mb-1 pl-1 pr-1" id="locationFormContainer">
                @*Kontent view*@
            </div>
        </div>
    </div>
    <div class="row no-gutters justify-content-center">
        <div class="col-12">
            <div class="row no-gutters text-center gridHeader">
                <div class="col-4">Kod</div>
                <div class="col-4">op x szt</div>
                <div class="col-2">ilość</div>
                <div class="col-2">OK?</div>
            </div>
        </div>
    </div>
    <div class="row no-gutters justify-content-center flex-grow-1 mb-auto" style="overflow-y: auto;">
        <div class="col-12">
            <div class="text-center" id="deliverySummaryItem">
                @*Kontent view*@
            </div>
        </div>
    </div>
    @*Manage Buttons*@
    <div class="row no-gutters justify-content-center mb-0">
        <div class="col-6">
            <div class="btn btn-warning btnAction" id="backButton">< WRÓĆ</div>
        </div>
        <div class="col-6">
            <div class="btn btn-info btnAction" id="btnLocate">LOKALIZUJ</div>
        </div>
    </div>
</div>


<script id="deliveryInspectionItemInfoHeaderTemplate" type="x-tmpl-mustache">
    <div id="itemInfo">
        <div class="row no-gutters">
            <div class="col-2">
                <div class="infoText infoTextH">ARTK.:</div>
            </div>
            <div class="col-4">
                <div class="infoText" id="itemCode">{{SelectedItemCode}}</div>
            </div>
            <div class="col-6">
                <div class="infoText text-truncate" id="itemName">{{SelectedItemName}}</div>
            </div>
        </div>
    </div>
    <div id="itemInfo">
        <div class="row no-gutters">
            <div class="col-2">
                <div class="infoText infoTextH">ILOŚĆ:</div>
            </div>
            <div class="col-4">
                <div class="infoText" id="QtyFoundVsDocument">
                    {{SelectedItemQtyFound}} / {{SelectedItemQtyDocument}}
                </div>
            </div>
            <div class="col-6" id="selectedItemsSummary">
            </div>
        </div>
    </div>
</script>

<script id="deliverySummaryItemLocateTemplate" type="x-tmpl-mustache">
    {{#DeliveryItems}}
    <div class="{{#IsLocationAssigned}}deliverySummaryItemRowPrinted{{/IsLocationAssigned}}{{^IsLocationAssigned}}deliverySummaryItemRow{{/IsLocationAssigned}}" data-deliveryItemId="{{Id}}">
        <div class="row no-gutters">
            <div class="col-4">{{ ItemCode }}</div>
            <div class="col-4">
                <span class="rowNumberOfPackages">{{ NumberOfPackages }}</span> x 
                <span class="rowQtyInPackage">{{ QtyInPackage }}</span></div>
            <div class="col-2">{{ TotalQtyFound }}</div>
            <div class="col-2 summaryItemLocateStatusIcon" data-id="{{Id}}">
                <i class="fas fa-check"></i>
            </div>
        </div>
    </div>
    {{/DeliveryItems}}
</script>

<script id="LocationFormTemplate" type="x-tmpl-mustache">
    <div class="row no-gutters">
        <div class="col-5">
            <input type="text" id="destinationLocationName" class="form-control fs20" placeholder="LOKACJA " inputmode="text" autocomplete="off" />
        </div>
        <div class="col-3">
            <div class="row">
                <div class="col-4" style="line-height: 13px; padding: 9px 0 0 27px;">
                    Zbio<br />rcza
                </div>
                <div class="col-8 pt-1">
                    <input type="checkbox" id="cbOneLabel" class="form-control fs20" inputmode="text" autocomplete="off" />
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="btn btn-success fs20" id="btnConfirmLocation">Lokalizuj</div>
        </div>
    </div>
</script>

<script type="text/javascript">
    var deliveryInspectionSummaryItemLocate = new DeliveryInspectionSummaryItemLocate(@Html.Raw(Json.Encode(itemCode)), @Html.Raw(Json.Encode(deliveryId)), @Html.Raw(Json.Encode(deliveryItemListGroupGuid)));

    $(document).ready(function () {
        deliveryInspectionSummaryItemLocate.Init();
    });
</script>
