@{
    ViewBag.Title = "Delivery Inspection";
    Layout = null;
    var chooseSuppliersView = ViewBag.ChooseSuppliers;
    var supplierCode = ViewBag.SupplierCode;
    var supplierName = ViewBag.SupplierName;
    var itemCodeDeliv = ViewBag.ItemCodeDeliv;
}


<style>
    .backcolorGroup {
        background-color: #4c6f74;
        width: 6px;
        height: 100%;
        position: absolute;
    }
</style>

<div class="h-100 d-flex flex-column" id="iLogisWMSDeliveryInspection"></div>

<script id="deliveryInspectionTemplate" type="x-tmpl-mustache">
    <ilogis-wms-mobile-pageheader headerTitle="Wprowadzanie dostaw" icon="fas fa-barcode"></ilogis-wms-mobile-pageheader>

    <div class="row no-gutters justify-content-center {{^SupplierName2}}{{MarginBottom}}{{/SupplierName2}}">
        <div class="col-12">
            <div class="card" style="border-radius: 0;">
                <div class="card-body" id="SupplierMustache">
                    {{^SupplierName2}}
                    <div class="row no-gutters justify-content-center mb-2">
                        <div class="col-12 text-center">
                            Wprowadź kod lub nazwę dostawcy lub przejdź dalej by pokazać wszystkie dostawy
                        </div>
                    </div>
                    <div class="row no-gutters justify-content-center mb-2">
                        <div class="col-12">
                            <input type="text" id="supplierCode" class="form-control fs30" placeholder="Kod Dostawcy" inputmode="numeric" autocomplete="off" />
                        </div>
                    </div>
                    <div class="row no-gutters justify-content-center mb-2">
                        <div class="col-12">
                            <input type="text" id="supplierName" class="form-control fs30" placeholder="Nazwa Dostawcy" inputmode="text" autocomplete="off" />
                        </div>
                    </div>
                    <div class="row no-gutters justify-content-center mb-2">
                        <div class="col-12">
                            <input type="text" id="itemCodeDeliv" class="form-control fs30" placeholder="Kod Produktu" inputmode="text" autocomplete="off" />
                        </div>
                    </div>
                    {{/SupplierName2}}

                    {{#SupplierName2}}
                    <div class="row no-gutters justify-content-center">
                        <div class="col-6" id="supplierName" data-id="{{ SelectedSupplierId }}">
                            <div class="row">
                                <div class="col-12">{{ SupplierName2 }}</div>
                                <div class="col-12">Wybierz dostawę</div>
                            </div>
                        </div>

                        <div class="col-3 p-1">
                            <div class="row no-gutters">
                                <div class="col-12">
                                    <button type="button" class="btn btn-block btn-primary" id="multiSelect" style="height: 100%;line-height: 20px;">Zaznacz <br />Wiele</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-3 p-1 hidden" id="crtDeliveryGroup">
                            <div class="row no-gutters">
                                <div class="col-12">
                                    <button type="button" class="btn btn-info" id="createDeliveryGroup" style="height: 100%;line-height: 20px;">Utwórz <br />Grupę</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-3 p-1 hidden" id="rmvDeliveryGroup">
                            <div class="row no-gutters">
                                <div class="col-12">
                                    <button type="button" class="btn btn-block btn-danger " id="removeDeliveryGroup" style="height: 100%;line-height: 20px;">Usuń <br />Grupę</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    {{/SupplierName2}}
                </div>
            </div>
        </div>
    </div>

    {{#SupplierName2}}
    <div class="row no-gutters justify-content-center mb-auto flex-grow-1 mt-2" id="DeliveryListMustache" style="overflow-y:scroll">
        <div class="col-12 mb-2">
            <div class="deliveryListItemHeader">
                <div class="row no-gutters gridHeader" data-id="{{ Id }}">
                    <div class="col-5"> Dostawca /Nr dok.</div>
                    <div class="col-5">Data dok.</div>
                    <div class="col-2 Status">Status</div>
                </div>
            </div>
            {{#Deliveries}}
            <div class="deliveryListItem " data-guid="{{Guid}}">
                <div class="row no-gutters deliveryRow" data-id="{{ Id }}" data-supplierId="{{SupplierId}}">    
                    <div class="col-6 position-relative">
                        {{#HasGuid}}<div class="backcolorGroup"></div>{{/HasGuid}}
                        <div class="col-12 text-truncate p-0 pl-2 supplierNameText" style="color:#f4f8fa">{{SupplierName}}</div>
                        <div class="col-12 p-0" style="color:#25e2e2">{{ DocumentNumber }}</div>
                    </div>
                    <div class="col-4">{{ DocumentDate|FormatDotNetDate }}</div>
                    <div class="col-2 Status">
                        <div class="locateStatusBox" data-locateAssignedProgress="{{LocateAssignedProgress}}">
                            <div class="w-100 LocateAssignedProgressStatus" style="height:{{LocateAssignedProgress}}%;"></div>
                            <div class="w-100 LocateProgressStatus" style="height:{{LocateProgress}}%;"></div>
                        </div>
                        <div class="StatusIcon state{{Status}} {{StateIcon}}" style="width:85% !important"></div>
                    </div>
                </div>
            </div>
            {{/Deliveries}}
        </div>
    </div>
    {{/SupplierName2}}


    {{#SupplierName2}}
    <div class="row no-gutters justify-content-center" style="margin-bottom: 0;">
        <div class="col-6">
            <a href="#/iLOGIS/Delivery/DeliveryInspection">
                <div class="btn btn-warning btnAction" id="backToStartButton">< WRÓĆ</div>
            </a>
        </div>
        <div class="col-6">
            <div class="btn btn-success btnAction" id="confirmButton">DALEJ</div>
        </div>
    </div>
    {{/SupplierName2}}

    {{^SupplierName2}}
    <div class="row no-gutters justify-content-center">
        <div class="col-6">
            <a href="#/iLOGIS/WMS/MobileMenu">
                <div class="btn btn-warning btnAction" id="closeButton">< WRÓĆ</div>
            </a>
        </div>
        <div class="col-6">
            <div class="btn btn-success btnAction" id="chooseSupplier">DALEJ</div>
        </div>
    </div>
    {{/SupplierName2}}
</script>

<script type="text/javascript">
    var deliveryInspection = new DeliveryInspection();
    var filters = {
        supplierCode: "",
        supplierName: "",
        itemCodeDeliv: "",
    }
    $(document).ready(function () {
        
        isChooseSupplierViewSelected = @Html.Raw(Json.Encode(chooseSuppliersView));
        if (isChooseSupplierViewSelected) {
            filters.supplierCode =  @Html.Raw(Json.Encode(supplierCode));
            filters.supplierName = @Html.Raw(Json.Encode(supplierName));
            filters.itemCodeDeliv = @Html.Raw(Json.Encode(itemCodeDeliv));
            deliveryInspection.InitChooseSupplier(filters);
        } else {
            deliveryInspection.Init();
        }
    });

</script>
