{{#SupplierId}}
<div id="supplierInfo" data-supplierId="{{SupplierId}}">
    <div class="row no-gutters">
        <div class="col-2">
            <div class="infoText infoTextH">DOST.:</div>
        </div>
        <div class="col-4">
            <div class="infoText" id="supplierCode">{{SupplierCode}}</div>
        </div>
        <div class="col-6 text-truncate">
            <div class="infoText " id="supplierName">{{SupplierName}}</div>
        </div>
    </div>
</div>
{{/SupplierId}}
{{^IsManyDeliveryDocuments}}
{{#DeliveryId}}
<div id="deliveryInfo" data-deliveryId="{{DeliveryId}}">
    <div class="row no-gutters">
        <div class="col-2">
            <div class="infoText infoTextH">DOK.:</div>
        </div>
        <div class="col-4">
            <div class="infoText" id="deliveryDocumentDate">{{DocumentDate| FormatDotNetDate}}</div>
        </div>
        <div class="col-6">
            <div class="infoText" id="deliveryDocumentNumber">{{DocumentNumber}}</div>
        </div>
    </div>
</div>
{{/DeliveryId}}
{{/IsManyDeliveryDocuments}}
{{#IsManyDeliveryDocuments}}

<div id="deliveryInfo" data-guid="{{Guid}}">
    <div class="row no-gutters">
        <div class="col-8">
            <div class="infoText infoTextH">WIELE DOKUMENTÓW: </div>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-info btn-sm btn-block" id="expandDocumentsButton" style="font-size: 9px;">ROZWIŃ</button>
        </div>
    </div>
    <div class="row no-gutters hidden" id="documents">
        {{#DeliveryDocuments}}
        <div class="col-6">
            <div class="infoText" id="deliveryDocumentDate">{{DocumentDate| FormatDotNetDate}}</div>
        </div>
        <div class="col-6">
            <div class="infoText" id="deliveryDocumentNumber">{{DocumentNumber}}</div>
        </div>
        {{/DeliveryDocuments}}
    </div>
</div>

{{/IsManyDeliveryDocuments}}
