@using _LABELINSP_APPWEB.Areas._APPWEB.Models;
@using _LABELINSP_APPWEB.Areas._APPWEB.Models.Clients;
@model _LABELINSP_APPWEB.Areas.iLOGIS.ViewModels.HomeViewModel

@{
    ViewBag.Title = "COMMON";
    ViewBag.ClientName = (_LABELINSP_APPWEB.Properties.Settings.Default.Client).Replace("_Staging", "");
    AppClientApbstract appClient = AppClient.GetClient(ViewBag.ClientName);
}

<div id="HomePage" class="row" style="text-align: center;">
    <div class="col-12" id="test85">

        @foreach (MDLX_CORE.Models.IMenuItem menuItem in MenuCore.MenuItem.Children)
        {
            if ((menuItem.Name != "Home" && menuItem.Name != "Użytkownicy") && AppMenu.CheckAccess(menuItem, appClient, User))
            {
                <a href="@Url.Action(menuItem.HrefAction, menuItem.HrefController, new { area = menuItem.HrefArea, id = "" })@(menuItem.HashSuffix != null? "#" + menuItem.HashSuffix : "")" class="confMenu shadow">
                    <div class="confMenuIcon @menuItem.Class1"></div>
                    <div class="confMenuText">@menuItem.Name</div>
                </a>
            }
        }
    </div>

</div>

<script type="text/javascript">

</script>
