@using MDL_ONEPROD.Model.Scheduling
@using GridMvc.Html
@model _MPPL_WEB_START.Areas.ONEPROD.Base.ViewModels.ItemGroupToolViewModel

@{
    Layout = null;
    ViewBag.Title = "PartCateogry-Tool";
}

<div id="ItemGroupT" data-val="@Model.ItemGroup.Id">
    <h3>Kategoria: @Model.ItemGroup.Name [id: @Model.ItemGroup.Id ]</h3>
    <hr />
    <div class="row">
        <div class="col-lg-12" style="width: 800px;">
            <div id="ItemGroupToolPopup"></div>
        </div>
    </div>
    <hr />
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var ItemGroupToolPopups = new ItemGroupToolPopup("#ItemGroupToolPopup");
        ItemGroupToolPopups.InitGrid();
        var ItemGroupId = $("#ItemGroupT").attr("data-val");
        ItemGroupToolPopups.RefreshGrid(ItemGroupId);

        //InitEditableGrid();
        //new ItemGroupTool().Init();
    });

   
</script>


