@model _MPPL_WEB_START.Areas.AP.ViewModel.ActionActivityViewModel
@using MDL_AP.Models.ActionPlan

@{
    Layout = null;
    string color = "#00ff94";
}

@foreach (ActionActivity aa in Model.ActionActivities)
{
    color = "#00ff94";
    if (aa.ActivityEnum == ActionActivityTypeEnum.LogActivity)
    {
        color = "#ffbb00";
    }

    <div class="row">
        <div class="col-md-12">
            <div class="ActionActivityBox" style="border-left-color: @color">
                <div class="ActionActivityHeader">
                    <span class="badge">@aa.Creator.Initials</span>
                    @aa.Creator.FullName [@aa.DateCreated]
                </div>
                <div class="ActionActivityDescription">
                    @aa.ActivityDescription
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    InitFancyBox3();
</script>