@model _MPPL_WEB_START.Areas.AP.ViewModel.ActionActivityViewModel


@{
    Layout = null;
}

<div id="Activities">
    @*activities loading here*@
</div>

<script type="text/javascript">

    var actionActivity = new ActionActivity();
    actionActivity.LoadListAction(@Model.ActionId);

</script>
